@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
}

input:focus {
  outline: none;
}

h2 {
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 32px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

h4 {
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

h5 {
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

h6 {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

p {
  font-size: 16px;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  letter-spacing: 0.8px;
  line-height: 2;
}

main {
  margin: 30px 50px;
  -webkit-box-shadow: 2px 5px 10px 3px rgba(117, 117, 117, 0.2);
          box-shadow: 2px 5px 10px 3px rgba(117, 117, 117, 0.2);
  max-height: 90vh;
}

main #chatRoom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #chatRoom .chatRoom_left {
  border-right: 3px solid grey;
  width: 30%;
  max-height: 90vh;
  overflow-y: auto;
}

main #chatRoom .chatRoom_left .chatRomm_userPic {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin: 30px auto;
}

main #chatRoom .chatRoom_left .chatRomm_userPic img {
  width: 100%;
}

main #chatRoom .chatRoom_left .chatRoom_userInfo {
  text-align: center;
  margin: 10px 0;
}

main #chatRoom .chatRoom_left .chatRoom_drChatbox {
  border: 1px solid lightgrey;
  -webkit-box-shadow: 2px 5px 10px 3px rgba(117, 117, 117, 0.2);
          box-shadow: 2px 5px 10px 3px rgba(117, 117, 117, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

main #chatRoom .chatRoom_left .chatRoom_drChatbox .chatRoom_drPic {
  border: 1px solid darkgray;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px 5% 5px 5%;
}

main #chatRoom .chatRoom_left .chatRoom_drChatbox .chatRoom_drPic img {
  width: 100%;
}

main #chatRoom .chatRoom_left .chatRoom_drChatbox .chatRoom_light {
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: auto 0 auto 5%;
}

main #chatRoom .chatRoom_left .chatRoom_drChatbox h5 {
  margin: auto 0;
}

main #chatRoom .chatRoom_left .chatRoom_drChatbox p {
  margin: auto 0;
}

main #chatRoom .chatRoom_left .chatRoom_drChatbox .chatRoom_more {
  width: 20px;
  height: 20px;
  margin: auto 10px;
  cursor: pointer;
}

main #chatRoom .chatRoom_left .chatRoom_drChatbox .chatRoom_more img {
  height: 100%;
}

main #chatRoom .chatRoom_right {
  width: 70%;
  max-height: 90vh;
}

main #chatRoom .chatRoom_right .chatRoom_drInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid lightgray;
  -webkit-box-shadow: 2px 5px 10px 3px rgba(117, 117, 117, 0.2);
          box-shadow: 2px 5px 10px 3px rgba(117, 117, 117, 0.2);
  display: none;
}

main #chatRoom .chatRoom_right .chatRoom_drInfo .doctor {
  width: 80px;
  height: 80px;
  border: 1px solid lightgray;
  border-radius: 50%;
  margin-left: 30%;
}

main #chatRoom .chatRoom_right .chatRoom_drInfo h4 {
  margin: auto 5%;
}

main #chatRoom .chatRoom_right .chatRoom_drInfo .more {
  width: 30px;
  height: 30px;
  margin: auto 0;
}

main #chatRoom .chatRoom_right .chatRoom_conver {
  height: 80%;
  overflow-y: auto;
}

main #chatRoom .chatRoom_right .chatRoom_conver .chatRoom_drConver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #chatRoom .chatRoom_right .chatRoom_conver .chatRoom_drConver .chatRoom_conver--drPic {
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 50%;
  border: 1px solid darkgrey;
  overflow: hidden;
}

main #chatRoom .chatRoom_right .chatRoom_conver .chatRoom_drConver .chatRoom_conver--drPic img {
  width: 100%;
}

main #chatRoom .chatRoom_right .chatRoom_conver .chatRoom_drConver .chatRoom_conver--drText {
  background-color: #c5ddf8;
  border-radius: 0 24px 24px 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 25px 21px 25px 21px;
  margin: 30px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main #chatRoom .chatRoom_right .chatRoom_conver .chatRoom_drConver .chatRoom_conver--more {
  display: block;
  width: 20px;
  position: relative;
  top: 90px;
}

main #chatRoom .chatRoom_right .chatRoom_conver .chatRoom_userConver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

main #chatRoom .chatRoom_right .chatRoom_conver .chatRoom_userConver .chatRoom_conver--userText {
  background-color: pink;
  border-radius: 0 24px 24px 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 25px 21px 25px 21px;
  margin: 30px 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

main #chatRoom .chatRoom_right .chatRoom_conver .chatRoom_userConver .chatRoom_conver--userPic {
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 50%;
  border: 1px solid darkgrey;
  overflow: hidden;
}

main #chatRoom .chatRoom_right .chatRoom_conver .chatRoom_userConver .chatRoom_conver--userPic img {
  width: 100%;
}

main #chatRoom .chatRoom_right .chatRoom_conver .chatRoom_userConver .chatRoom_conver--more {
  display: block;
  width: 20px;
  position: relative;
  top: 90px;
}

main #chatRoom .chatRoom_right .chatRoom_text {
  border-top: 3px solid darkgrey;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  background-color: #ebe5e5;
}

main #chatRoom .chatRoom_right .chatRoom_text .chatRoom_innertext {
  border: 5px solid darkgray;
  width: 88%;
  min-height: 70%;
  margin: 20px;
  background-color: white;
}

main #chatRoom .chatRoom_right .chatRoom_text .chatRoom_send {
  width: 5%;
  margin: auto 0;
}
/*# sourceMappingURL=chatRoom.css.map */