#acAdd_form {
    width: fit-content;
    margin: 0 auto;
    img {
        width: 200px;
    }
    #acAdd_submit {
        display: block !important;
        margin: 0 auto;
        @include btn-modules($bw, $color-pink, $fontsize);
    }
}