.accordion-toggle {
    .btn {
        width: 50px;
        @include btn-more($bw, $color-pink, $fontsize);
    }
}

#tQinfo {
    margin: 10px;
    padding: 30px;
    border: solid 1px #DEDEDE;
    background: #fff;
    border-radius: 30px;
    div {
        overflow: auto;
        zoom: 1;
        margin: 15px 0;
        label:first-child {
            display: block;
            margin: 0 0 5px 0;
        }
    }
    .input-radio {
        label:nth-child(n+2) {
            margin: 0 15px 0 0;
        }
    }
    .input-checkbox {
        label:nth-child(n+2) {
            margin: 0 15px 0 0;
        }
    }
    input[type=radio] {
        -moz-appearance: none;
        -webkit-appearance: none;
        border: solid 1px #CCC;
        height: 15px;
        width: 15px;
        margin: 0 5px 0 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        -webkit-tap-highlight-color: #CF0;
        -webkit-border-radius: 50%;
        border-radius: 50%;
    }
    input[type=radio]:checked {
        background: #333;
    }
    select {
        /* background: url(../images/down-arrow.svg) no-repeat right 10px; */
        background-size: 30px;
        -webkit-tap-highlight-color: #CF0;
    }
    #btn-submit {
        @include btn-modules($bw, $color-pink, $fontsize);
        float: right;
    }
}

#results {
    margin: 10px;
    color: #FFF;
    div {
        font-size: 18px;
        border-bottom: solid 1px #666;
        padding: 10px;
        span {
            font-size: 12px;
            color: #CCC;
        }
    }
    .name {
        span {
            color: #FFF;
            font-size: 18px;
        }
    }
}