// If you want to override variables do it here
@import './vendors/var';
@import './vendors/variable';
// Import styles
@import "../../node_modules/@coreui/coreui/scss/coreui.scss";
@import "../../node_modules/flag-icon-css/sass/flag-icon.scss";
@import "../../node_modules/font-awesome/scss/font-awesome.scss";
// 外部資源
@import "vendors/pace-progress/pace";
// dateTimePicker
@import "./vendors/default";
@import "./vendors/default.date";
@import "./vendors/default.time";
// If you want to add something do it here
@import "./custom";
@import "./acRegistration";
@import "./acManagement";
@import "./acAdd";
@import "./acDetail";
@import "./testQuestion"