@import './vender/reset';
@import './vender/var';
@import './vender/variable';
@import './vender/chatbot';
@import './vender/header';
@import './vender/footer';
@import './vender/test';
@import './acMain/acMain';
@import './acSelf/acSelf';
@import './acOrder/ao_co_style';
@import './atMain/atMain';
@import './atSelf/atSelf';
@import './chatRoom/chatRoom';
@import './csMain/csMain';
@import './csSelf/csSelf';
@import './index/index';
@import './oracleCard/oracleCard';
@import './vender/fullpage.min';
@import './vender/chatbot';
<<<<<<< HEAD
@import './vender/bg';
@import './meMain/meMain';
=======
@import'./vender/testResult'

>>>>>>> joe-ye
