

    <div id="trigger1"></div>

    <section class="bg_eachpage">
        <div class="box rect m_1"></div>
        <div class="box rect m_2"></div>
        <div class="box rect m_5"></div>
        <div class="box rect m_6"></div>
    </section>

    <div class="bg_ball">
        <div class="bg-big_circle"></div>
        <div class="bg-circle_1 inBanner-circle"></div>
        <div class="bg-circle_2 inBanner-circle"></div>
        <div class="bg-circle_3 inBanner-circle"></div>
        <div class="bg-circle_4 inBanner-circle"></div>
    </div>

