<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-title">人員管理</li>
        <li class="nav-item">
            <a class="nav-link" href="colors.html">
                <i class="nav-icon icon-drop"></i> 管理員管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="typography.html">
                <i class="nav-icon icon-pencil"></i> 會員管理</a>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="typography.html">
                <i class="nav-icon icon-pencil"></i> 諮商師管理</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="base/breadcrumb.html">
                        <i class="nav-icon icon-puzzle"></i> 工作時間管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="base/cards.html">
                        <i class="nav-icon icon-puzzle"></i>已預約時間管理</a>
                </li>
            </ul>
        </li>
        <li class="nav-title">前台內容管理</li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-puzzle"></i>活動管理</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="base/breadcrumb.html">
                        <i class="nav-icon icon-puzzle"></i> 活動上下架</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="base/cards.html">
                        <i class="nav-icon icon-puzzle"></i>活動報名管理</a>
                </li>
            </ul>
        </li>
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-cursor"></i> 線上諮商管理</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a class="nav-link" href="buttons/buttons.html">
                        <i class="nav-icon icon-cursor"></i> 線上諮商回覆</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="buttons/button-group.html">
                        <i class="nav-icon icon-cursor"></i>回覆機器人</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="nav-icon icon-pie-chart"></i>專欄上下架</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="nav-icon icon-pie-chart"></i>心理評估問券管理</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="nav-icon icon-pie-chart"></i>神諭卡管理</a>
        </li>
    </ul>
</nav>