<header class="app-header navbar" id="backheader">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Checkie Logo -->
    <a class="navbar-brand" href="./bgHome.html">
        <img class="navbar-brand-full" src="../img/navbar/cklogo2.png" width="100%" alt="Checkie Logo">
    </a>
    <!-- 側邊欄漢堡 -->
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" href="../home.html">前台首頁</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="#">設定</a>
        </li>
    </ul>

    <!-- 導覽列後台管理員-->
    <ul class="nav navbar-nav ml-auto">

        <li class="nav-item dropdown">
            <div class="welcome">您好，</div>
            <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <div id="admName" class="admName">歡迎回來</div>
                <img class="img-avatar" src="./img/navbar/user.png" alt="#">
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header text-center">
                    <strong>管理員</strong>
                </div>
                <button class="dropdown-item" @click="back_logout">
                    登出
                </button>
            </div>
        </li>
    </ul>
    <!-- 導覽列後台管理員-->

    <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
      <span class="navbar-toggler-icon"></span>
    </button>
</header>

<div class="app-body">
    <div class="sidebar">
        <!-- sidebar menu-->
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-title">人員管理</li>
                <li class="nav-item">
                    <a class="nav-link" href="./adminManagement.html">
                        <i class="nav-icon icon-drop"></i> 管理員管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./memManagement.html">
                        <i class="nav-icon icon-pencil"></i> 會員管理</a>
                </li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="./csManagement.html">
                        <i class="nav-icon icon-pencil"></i> 諮商師管理</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="./csManagement.html">
                                <i class="nav-icon icon-puzzle"></i> 諮商師人員管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./csSchedule.html">
                                <i class="nav-icon icon-puzzle"></i> 工作時間管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./checkCsOrder.html">
                                <i class="nav-icon icon-puzzle"></i>已預約時間管理</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-title">前台內容管理</li>
                <li class="nav-item nav-dropdown">
                    <a class="nav-link nav-dropdown-toggle" href="#">
                        <i class="nav-icon icon-puzzle"></i>活動管理</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" href="./acManagement.html">
                                <i class="nav-icon icon-puzzle"></i> 活動上下架</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./acRegistration.html">
                                <i class="nav-icon icon-puzzle"></i>活動報名管理</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="buttons/buttons.html">
                        <i class="nav-icon icon-cursor"></i> 線上客服回覆</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./atMain.html" .html ">
                        <i class="nav-icon icon-pie-chart "></i>專欄上下架</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="./testQuestion.html ">
                        <i class="nav-icon icon-pie-chart "></i>心理評估問券管理</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="./oracleCardMan.html ">
                        <i class="nav-icon icon-pie-chart "></i>神諭卡管理</a>
                </li>
            </ul>
        </nav>
    </div>
    <main class="main ">
        <!-- Breadcrumb (待處理)-->
        <!-- <ol class="breadcrumb ">
            <li class="breadcrumb-item ">首頁</li>
            <li class="breadcrumb-item ">
                <a href="# ">後台管理{{利用網址列名稱改這個參數}}</a>
            </li>
            <li class="breadcrumb-item active ">後台管理{{利用網址列名稱改這個參數}}</li>
        </ol> -->