<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./vender/bootstrap-grid.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap-grid.min.css" />


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.js"></script>

    <!-- <link rel="stylesheet" type="text/css" href="./css/header.css" />
    <link rel="stylesheet" type="text/css" href="./css/chatbot.css" />
    <link rel="stylesheet" type="text/css" href="./css/footer.css" /> -->
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://kit.fontawesome.com/3a9b8bb651.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body id="nav3">

    @@include('template/header.html') @@include('./test.html')
    <script src="./js/chatbot.js"></script>
    <script src="./js/header.js"></script>



    <!--------CC-CODE-------->


    <div class="coCalender co-ao--allStyle">
        <div class="container-lg">
            <main id="app" class="row  co-ao-board--style">
                <div class="co-stepper-header col-md-10 col-12 offset-md-1">
                    <step-head>
                        <step-head-step :step="1" :complete="currentStep>=1">填寫資料</step-head-step>
                        <c-driver></c-driver>
                        <step-head-step :step="2" :complete="currentStep>=2">確認訂單</step-head-step>
                        <c-driver></c-driver>
                        <step-head-step :step="3" :complete="currentStep>=3">前往付款</step-head-step>
                        <c-driver></c-driver>
                        <step-head-step :step="4" :complete="currentStep>=4">完成報名</step-head-step>
                    </step-head>

                </div>


                <div class="co-stepper-content col-12">
                    <stepper-content>
                        <transition name="coSlide" mode="out-in">
                            <c-stepper :step="1" v-if="currentStep==1" key="1">

                                <div class="row">
                                    <div class="col-12 ao-title">
                                        <h5>填寫資料</h5>
                                    </div>
                                    <div class="col-md-4 ao-block ao-block--border">

                                        <div class="row">

                                            <div class="col-12 ao-block_content">
                                                <div class="pic_content">
                                                    <img :src="orderData.actPic1" alt="" class="img-fluid">
                                                </div>
                                                <div class="intro_content">
                                                    <div class="intro_title">
                                                        <h6>{{orderData.actName}}</h6>
                                                    </div>
                                                    <div class="intro_info">
                                                        <div class="intro_info-time">
                                                            <span>{{orderData.actStart}}</span>
                                                            <span>{{orderData.actStartTime}}-{{orderData.actEndTime}}</span>
                                                        </div>
                                                        <div class="intro_info-location">
                                                            <p>
                                                                {{orderData.actAddress}}
                                                            </p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-12 ao-block_content">

                                                <!-- ticket -->
                                                <div class="row ao-ticket_block">
                                                    <div class="ticket_block-bgc">
                                                        <div class="ticket_block-colorDec"></div>
                                                        <div class="ticket_block ticket_block-info">
                                                            <span>{{orderData.actStart}}週({{orderData.week}})</span>
                                                            <br>
                                                            <span>{{orderData.actStartTime}}-{{orderData.actEndTime}}</span>
                                                            <div>
                                                                <span>NT$</span>
                                                                <span>{{price}}</span>

                                                                <span>X{{ticket}}</span>
                                                            </div>

                                                            <!-- <span><button>更多資訊</button></span> -->
                                                        </div>
                                                        <div class="ticket_block ticket_block_button">
                                                            <div class="circle"></div>
                                                            <div class="ticket_button--style ticket_button-add" @click="add"><i class="fas fa-plus"></i></div>
                                                            <div class="ticket_button--style ticket_button-min" @click="minus"><i class="fas fa-minus"></i></div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- ticket -->
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-8 ao-block ao-selfInfo">
                                        <div class="row co-selfInfo_title">
                                            <h6>填寫預約者資訊</h6>
                                            <span>
                                                <span v-if="aoMember.memNo!=0">以下填寫資料是保密的，僅供我們心理諮商所留存使用，請安心填寫。如需修改請 <a href="./meMain.html" >修改個人資料</a></span>
                                            <span v-else> 以下填寫資料是保密的，僅供我們心理諮商所留存使用，請安心填寫。如需留存請先<a  @click="logIn">登錄會員</a></span>
                                            </span>
                                        </div>
                                        <div class="row co-selfInfo_block">
                                            <form action="" method="POST" enctype="multipart/form-data">
                                                <input type="hidden" name="action" value="submit">

                                                <div class="cos-selfForm_item">
                                                    <div>
                                                        <label for="memName">真實姓名<span>*</span></label>
                                                    </div>
                                                    <input type="text" v-model="aoMember.memName" :class="{ formControl:true,formatError: !aoMember.memName && errors.length > 0}" name="memName" id="memName" placeholder="" required="yes" autocomplete="name">
                                                </div>


                                                <div class="cos-selfForm_item">
                                                    <div>
                                                        <label for="memEmail">電子郵件<span>*</span></label>
                                                    </div>
                                                    <!-- <div>{{aoMember.memEmail}}</div> -->
                                                    <input type="email" v-model="aoMember.memEmail" :class="{ formControl:true,formatError: !aoMember.memEmail && errors.length > 0}" name="memEmail" id="memEmail" required="yes" autocomplete="email" />
                                                </div>


                                                <div class="cos-selfForm_item">
                                                    <div>
                                                        <label for="memTel">行動電話<span>*</span></label>
                                                    </div>

                                                    <input type="num" name="memTel" class="memTel_countryCode" :class="{ selectError: !aoMember.memTel.countryCode && errors.length > 0}" v-model="aoMember.memTel.countryCode" id="" autocomplete="tel-country-code" required="yes" maxlength="5" placeholder="886">
                                                    <!-- <select name="memTel" :class="{ selectError: !memTel.countryCode && errors.length > 0}" v-model="memTel.countryCode" id="" autocomplete="tel-country-code">
                                                        <option data-countryCode="TW" value="886" Selected>Taiwan (+886)</option>
                                                        
                                                    </select> -->
                                                    <input type="tel" v-model="aoMember.memTel.mobile" class="formControl formControlWidth" name="memTel" id="memTel" :class="{ formatError: !aoMember.memTel.mobile && errors.length > 0}" placeholder="9XXXXXXXX" required="yes" autocomplete="tel">
                                                    <!-- pattern="[0-9]{3}[ -][0-9]{3}[ -][0-9]{4}" -->
                                                </div>


                                                <div class="cos-selfForm_item">
                                                    <div>
                                                        <label for="memGender">性別<span>*</span></label>
                                                    </div>

                                                    <label class="radio" :class="{ radioError: !aoMember.memGender && errors.length > 0}">
                                                      <input type="radio" v-model="aoMember.memGender" name="memGender" id="memGenderMale" value="男"> 男
                                                      <span class="checkmark"></span>
                                                </label>
                                                    <label class="radio" :class="{ radioError: !aoMember.memGender && errors.length > 0}">
                                                      <input type="radio" v-model="aoMember.memGender" name="memGender" id="memGenderFemale" value="女"> 女
                                                      <span class="checkmark"></span>
                                                </label>
                                                </div>


                                                <div class="cos-selfForm_item">
                                                    <div>
                                                        <label for="memBD">年齡<span>*</span></label>
                                                    </div>

                                                    <input type="number" class="form-control" v-model.number="aoMember.memBD" :class="{ formControl:true, formatError: !aoMember.memBD && errors.length > 0}" name="memBD" id="memBD" required="yes" autocomplete="bday">
                                                </div>


                                                <div class="cos-selfForm_item cos-selfForm_item--border">

                                                </div>
                                                <div class="cos-selfForm_item">

                                                    <input type="checkbox" v-model="checkbox" true-value="yes" false-value="no" class="checkbox--style" name="agreed" id="agreed" value="我已閱讀並同意CHECKIE訂票系統暨使用須知內容所有條款" aria-label="" required="yes">
                                                    <label for="agreed"> 我已閱讀並同意CHECKIE <a href="">訂票系統暨使用須知</a>內容所有條款</label>

                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="ao-co-error-overlay" v-if="showModal" @click="showModal = false"></div>
                                <div v-if="showModal" class="co-ao-error--border">
                                    <div class="co-ao-error-block">
                                        <p><span>請填寫</span> <span v-for="error in errors">{{error}}</span></p>
                                        <button class="button2-1 error-modal-closer" @click="showModal = false">關閉</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 offset-md-4 cos-selfForm_item co-button--style">
                                        <c-btn @click="update(currentStep-1)">prev</c-btn>
                                        <c-btn @click="checkForm()">next</c-btn>
                                    </div>
                                </div>


                            </c-stepper>


                            <c-stepper :step="2" v-if="currentStep==2" key="2">
                                <div class="row">
                                    <div class="col-12 ao-title">
                                        <h5>填寫資料</h5>
                                    </div>
                                    <div class="col-md-4 ao-block ao-block--border">

                                        <div class="row">

                                            <div class="col-12 ao-block_content">
                                                <div class="pic_content">
                                                    <img :src="orderData.actPic1" alt="" class="img-fluid">
                                                </div>
                                                <div class="intro_content">
                                                    <div class="intro_title">
                                                        <h6>{{orderData.actName}}</h6>
                                                    </div>
                                                    <div class="intro_info">
                                                        <div class="intro_info-time">
                                                            <span>{{orderData.actStart}}</span>
                                                            <span>{{orderData.actStartTime}}-{{orderData.actEndTime}}</span>
                                                        </div>
                                                        <div class="intro_info-location">
                                                            <p>
                                                                {{orderData.actAddress}}
                                                            </p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-12 ao-block_content">
                                                <div class="row list_content">
                                                    <div>訂單資訊</div>

                                                </div>
                                                <div class="row list_content  list_content-actCost">
                                                    <div>NT${{orderData.actCost}}元</div>
                                                    <div>共{{ticket}}張</div>
                                                </div>


                                                <div class="row ao-order_item list_content">
                                                    <span>共計</span>
                                                    <span>{{price}} <span>元</span></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-8 ao-block ao-selfInfo">
                                        <div class="row co-CheckOrder_block">
                                            <table class="co-CheckOrder-table">
                                                <tr>
                                                    <th>真實姓名</th>
                                                    <td>{{aoMember.memName}}</td>
                                                </tr>
                                                <tr>
                                                    <th>電子郵件</th>
                                                    <td>{{aoMember.memEmail}}</td>
                                                </tr>
                                                <tr>
                                                    <th>行動電話</th>
                                                    <td><span>{{aoMember.memTel.countryCode}}-{{aoMember.memTel.mobile}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>性別</th>
                                                    <td>{{aoMember.memGender}}</td>
                                                </tr>
                                                <tr>
                                                    <th>年齡</th>
                                                    <td>{{aoMember.memBD}}</td>
                                                </tr>

                                            </table>


                                            <div class="co-CheckOrder_title">訂單資訊</div>
                                            <table class="co-billing_list">
                                                <tr>
                                                    <th>項目</th>
                                                    <th>數量</th>
                                                    <th>價格</th>
                                                    <th>小計</th>
                                                </tr>
                                                <tr>
                                                    <td data-title="項目">
                                                        <div>
                                                            <span>{{orderData.actStart}}</span>
                                                            <br>
                                                            <span class="aoHighLight">{{when}}</span>
                                                            <span>{{orderData.actStartTime}}-{{orderData.actEndTime}}</span>
                                                        </div>
                                                        <div>
                                                            <span>票卷購買時間</span>
                                                            <span>{{now}}</span>
                                                        </div>
                                                    </td>
                                                    <td data-title="數量">{{ticket}}</td>
                                                    <td data-title="價格">
                                                        <span>NT ${{orderData.actCost}}</span>
                                                    </td>
                                                    <td data-title="小計">
                                                        <span>NT ${{price}}</span>
                                                    </td>
                                                </tr>
                                            </table>


                                            <div class="co-CheckOrder_title">
                                                <span>付款金額</span>
                                                <span>NT${{price}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-8 offset-md-4 cos-selfForm_item co-button--style">
                                        <c-btn @click="update(currentStep-1)">prev</c-btn>
                                        <c-btn @click="update(currentStep+1)">next</c-btn>
                                    </div>
                                </div>


                            </c-stepper>

                            <c-stepper :step="3" v-if="currentStep==3" key="3">
                                <div class="row">
                                    <div class="col-12 ao-title">
                                        <h5>填寫資料</h5>
                                    </div>
                                    <div class="col-md-4 ao-block ao-block--border">

                                        <div class="row">

                                            <div class="col-12 ao-block_content">
                                                <div class="pic_content">
                                                    <img :src="orderData.actPic1" alt="" class="img-fluid">
                                                </div>
                                                <div class="intro_content">
                                                    <div class="intro_title">
                                                        <h6>{{orderData.actName}}</h6>
                                                    </div>
                                                    <div class="intro_info">
                                                        <div class="intro_info-time">
                                                            <span>{{orderData.actStart}}</span>
                                                            <span>{{orderData.actStartTime}}-{{orderData.actEndTime}}</span>
                                                        </div>
                                                        <div class="intro_info-location">
                                                            <p>
                                                                {{orderData.actAddress}}
                                                            </p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-12 ao-block_content">
                                                <div class="row list_content">
                                                    <div>訂單資訊</div>

                                                </div>
                                                <div class="row list_content  list_content-actCost">
                                                    <div>NT${{orderData.actCost}}元</div>
                                                    <div>共{{ticket}}張</div>
                                                </div>


                                                <div class="row ao-order_item list_content">
                                                    <span>共計</span>
                                                    <span>{{price}} <span>元</span></span>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-8 ao-block ao-billing">
                                        <div class="row co-billing-block">
                                            <div class="co-billing_button">
                                                <div>
                                                    <span>付款金額</span>
                                                    <span>NT${{price}}</span>
                                                </div>
                                                <toggle_button @childopen="parentOpen" name="1"></toggle_button>
                                            </div>

                                            <transition name="listTransition" mode="out-in">
                                                <div v-show="listDataHide">
                                                    <table class="co-billing_list">
                                                        <tr>
                                                            <th>項目</th>
                                                            <th>數量</th>
                                                            <th>價格</th>
                                                            <th>小計</th>
                                                        </tr>
                                                        <tr>
                                                            <td data-title="項目">
                                                                <div>
                                                                    <span>{{orderData.actStart}}</span>
                                                                    <br>
                                                                    <span class="aoHighLight">{{when}}</span>
                                                                    <span>{{orderData.actStartTime}}-{{orderData.actEndTime}}</span>
                                                                </div>
                                                                <div>
                                                                    <span>票卷購買時間</span>
                                                                    <span>{{now}}</span>
                                                                </div>
                                                            </td>
                                                            <td data-title="數量">{{ticket}}</td>
                                                            <td data-title="價格">
                                                                <span>NT ${{orderData.actCost}}</span>
                                                            </td>
                                                            <td data-title="小計">
                                                                <span>NT ${{price}}</span>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                    <div class="co-billing_title">
                                                        <span>付款金額</span>
                                                        <span>NT${{price}}</span>
                                                    </div>
                                                </div>
                                            </transition>
                                        </div>

                                        <div class="row co-billing-block">
                                            <div class="co-billing-block_title">
                                                請選擇付款方式
                                            </div>
                                            <div class="co-billing-payment">
                                                <div class="co-billing-title">
                                                    <i class="fas fa-globe"></i>
                                                    <span>線上付款</span>
                                                </div>
                                                <div class="co-billing_method" @click="payment($event,1)">
                                                    <i class="fab fa-cc-visa"></i>
                                                    <span>{{paymentMethod[0].pmName}}</span>
                                                </div>
                                                <div class="co-billing_method" @click="payment($event,2)">
                                                    <i class="fab fa-line"></i>
                                                    <span>{{paymentMethod[1].pmName}}</span>
                                                </div>
                                                <div class="co-billing_method" @click="payment($event,3)">
                                                    <i class="fab fa-paypal"></i>
                                                    <span>{{paymentMethod[2].pmName}}</span>
                                                </div>
                                            </div>
                                            <div class="co-billing-payment">
                                                <div class="co-billing-title">
                                                    <i class="fas fa-globe"></i>
                                                    <span>線下付款</span>
                                                </div>
                                                <div class="co-billing_method" @click="payment($event,4)">
                                                    <i class="fas fa-ad"></i>
                                                    <span>{{paymentMethod[3].pmName}}</span>
                                                </div>
                                                <div class="co-billing_method" @click="payment($event,5)">
                                                    <i class="fas fa-university"></i>
                                                    <span>{{paymentMethod[4].pmName}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8 offset-md-4 cos-selfForm_item co-button--style" id="step4">
                                        <c-btn @click="update(currentStep-1)">prev</c-btn>
                                        <c-btn @click="update(currentStep+1) ; qrCode();checkOut();">確認訂購</c-btn>
                                        <!-- ;qrCode(memTel.mobile); -->
                                    </div>
                                </div>
                            </c-stepper>

                            <c-stepper :step="4" v-if="currentStep==4" key="4">
                                <div class="row co-review">
                                    <div class="col-12 co-title">
                                        <h6>預約成功！</h6>
                                    </div>
                                    <div class="col-12 co-title">
                                        <h6>感謝您的預約</h6>
                                    </div>
                                    <div class="col-12 co-review_block">
                                        <h5>預約編號：</h5>
                                        <h5 class="co-review_number">{{orderNum.actONo}}</h5>
                                    </div>
                                    <div class="cos-counselor-review col-sm-12">
                                        <div class="row justify-content-center align-items-center qr_block">
                                            <div class=" col-md-12" id="qrCode"></div>
                                            <div class="col-md-12 co-counselor-text">
                                                <div class="row align-items-center qr_block_save-font">
                                                    <div class="col-md-12  ao-order_text--color">已將此QRcode寄至您的信箱</div>
                                                    <div class="col-md-12 ">
                                                        也可以在此進行儲存
                                                        <a href="dataURL" id="saveQrCode" target="_blank" download="image.jpg" @click="saveQrCode"><img src="./img/icon/share.png" alt=""></a>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-12 co-counselor-order">
                                                <div class="row justify-content-center qr_block_show-font">
                                                    <div class=" col-md-12 ao-order_text--color">
                                                        請於當天到達活動現場
                                                    </div>
                                                    <div class=" col-md-12 ao-order_text--color">
                                                        出示此QRcode完成報到
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 co-memberCenter_block">
                                                您可至會員專區查看您的訂單
                                            </div>
                                            <a v-if="aoMember.memNo!=0" href="./meMain.html" class="col-7 col-md-3 co-memberCenter_button button2">
                                            前往會員專區
                                            </a>
                                            <a v-else class="col-7 col-md-3 co-memberCenter_button button2" @click="logIn">
                                                歡迎註冊會員
                                            </a>
                                        </div>

                                    </div>

                                </div>

                            </c-stepper>
                        </transition>
                    </stepper-content>

                </div>
            </main>
        </div>

    </div>


    <!--------CC-CODE-------->

    @@include('./template/footer.html')






    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="./js/aoStepper.js"></script>




</body>

</html>