<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js'></script>
    <!-- <script src="./js/header.js"></script> -->
    <script src="./js/chatbot.js"></script>
    <!-- <script src="./js/atvue.js"></script> -->
    <title>專欄</title>
</head>


<body>

    @@include('template/header.html') @@include('./test.html')


    <!-- ---------------------------- -->

    <div class="atBanner">
        <div class="atBanner_box">
            <div class="atBanner-box_pic">
                <img src="./img/atMain/banner.png" alt="">
            </div>

        </div>
    </div>
    <div class="blank"></div>

    <!-- ---------------------------- -->
    <div class="atContent" id="atcontent">

        <div class="atContent_left" id="atContent_left">
            <ever1 :in="each" v-for="each in articleLeft"></ever1>
        </div>
        <!-- ------------------------------------- -->
        <div class="atContent_conter">
            <div class="atContent-conterbox">
                <cam :can="each" v-for="each in articleCenter"></cam>

            </div>
        </div>
        <!-- ---------------------------------------- -->
        <div class="atContent_right">
            <div class="atContent_rightbox">
                <ri :rit="each" v-for="each in articleRight"></ri>
            </div>
        </div>
    </div>
    <div class="blank"></div>

    <!-- ----------------------分類------------------------------- -->
    <div class="atBox" id="atBox">
        <div class="atBox_Class">
            <!-- <boxclass :dis="each" :init="index" v-for="(each,index) in box" @changeitem="changeS"></boxclass> -->
            <boxclass :dis="each" v-for="(each,index) in box" :init="index" @change-it="aaa"></boxclass>
        </div>
    </div>

    <!-- ----------------------分類title------------------------------- -->
    <div class="atClassTitle" id="atClassTitle">
        <!-- <div class="atClassTitle_box">
            <div class="atClassTitle-content_title">
            </div>
        </div>
    </div> -->
        <!-- ------------------分類內容------------------- -->
        <div class="atClassAfter">
            <component :is="comIs(index)" v-for="(each,index) in filters()" :dul="each"></component>
        </div>
    </div>
    <script src="./js/atMain.js"></script>
    <script src="./js/header.js"></script>
    <script src="./js/chatbot.js"></script>

    @@include('template/footer.html')

</body>
`

</html>