<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap-grid.min.css" />
    <!-- <link rel="stylesheet" href="./vender/bootstrap-grid.css"> -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- <script src="./js/header.js"></script>
    <script src="./js/chatbot.js"></script> -->

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@1.5.24/dist/vuetify.min.css"> -->
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://kit.fontawesome.com/3a9b8bb651.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body id="nav1">

    <!-- @@include('./template/header.html'); -->

    <!--------CC-CODE-------->


    <div class="coCalender co-ao--allStyle">

        <div class="container-lg">


            <main id="app" class="row  co-ao-board--style">
                <div class="co-stepper-header col-md-10 col-12 offset-md-1">
                    <step-head>
                        <step-head-step :step="1" :complete="currentStep>=1">選擇日期及時間</step-head-step>
                        <c-driver></c-driver>
                        <step-head-step :step="2" :complete="currentStep>=2">填寫資料</step-head-step>
                        <c-driver></c-driver>
                        <step-head-step :step="3" :complete="currentStep>=3">確認預約資訊</step-head-step>
                        <c-driver></c-driver>
                        <step-head-step :step="4" :complete="currentStep>=4">前往付款</step-head-step>
                        <c-driver></c-driver>
                        <step-head-step :step="5" :complete="currentStep>=5">完成預約</step-head-step>
                    </step-head>

                </div>
                <!-- <v-alert v-model="alert" type='success' dismissible close-text="Close Alert" color="green" border="left" elevation="2" colored-border>
                    You've got <strong>5</strong> new updates on your timeline!.
                </v-alert> -->


                <div class="co-stepper-content col-12">
                    <stepper-content>
                        <transition name="coSlide" mode="out-in">
                            <c-stepper :step="1" v-if="currentStep==1" key="1">
                                <div class="co-counselor co-counselor--style">
                                    <div class="co-counselor-pic ">
                                        <img :src="csData.csPic" alt="John">
                                    </div>
                                    <div class="co-counselor-text">
                                        <div>諮商心理師</div>
                                        <div>{{csData.csName}}</div>
                                    </div>
                                </div>
                                <div class="coCalender-calender">

                                    <v-sheet height="10"></v-sheet>
                                    <v-app id="inspire">
                                        <v-layout>
                                            <v-flex>
                                                <v-sheet height="64">
                                                    <v-toolbar color="red lighten-4">
                                                        <v-btn fab text large color="red lighten-3" @click="prev" v-if="today.getMonth()>new Date().getMonth()">
                                                            <v-icon large>mdi-chevron-left</v-icon>
                                                        </v-btn>

                                                        <!-- v-if="$refs.calendar" -->
                                                        <v-toolbar-title v-html="monthSelect" class="white--text font-weight-bold "></v-toolbar-title>

                                                        <v-btn fab text large color="red lighten-3" @click="next" v-if="today.getMonth()<11">
                                                            <v-icon large>mdi-chevron-right</v-icon>
                                                        </v-btn>
                                                        <v-spacer></v-spacer>

                                                    </v-toolbar>
                                                </v-sheet>
                                                <v-sheet height="10"></v-sheet>
                                                <v-sheet height="650">
                                                    <!-- 產生月曆 now 是何時就產生何時的月曆 -->
                                                    <v-calendar :now="today" :value="today">
                                                        <!-- 定義你的data 如果你的data
                                                        '2019-01-09': [23, 45, 10], 長這樣 你就設定三個值 
                                                    此處只有一個所以就設定一個即可 -->
                                                        <template v-slot:day="{ date }">
                                                            <template v-for="event in eventsMap[date]">
                                                                <v-menu :key="event.title" v-model="event.open" full-width offset-x>
                                                                    <template v-slot:activator="{ on }">
                                                                        <div v-if="!event.time"  class="" :class="['my-event', {colorError:(parseInt(event.time1)*parseInt(event.time2) != 0)},{colorCorrect:(parseInt(event.time1)*parseInt(event.time2) == 0)}]" v-on="on" v-html="event.title"></div>
                                                                    </template>
                                                        <v-card color="grey lighten-5" max-width="320px" max-height="350px">
                                                            <v-toolbar color="blue lighten-3">
                                                                <v-toolbar-title class="white--text " v-html="event.date +'    時段'+ event.title"></v-toolbar-title>
                                                            </v-toolbar>
                                                            <v-card-title primary-title>
                                                                <!-- no-gutters -->
                                                                <v-card color="white" min-width="290px" max-height="200px">
                                                                    <v-row class="mx-auto">
                                                                        <v-col>
                                                                            <v-span class="brown--text  text--lighten-4">{{aaa(event.title,1)}}</v-span>
                                                                        </v-col>
                                                                        <v-col>
                                                                            <v-span class="brown--text text--lighten-4">{{aaa(event.title,2)}}</v-span>
                                                                        </v-col>

                                                                    </v-row>
                                                                    <!-- <v-container height="100px"> -->

                                                                    <v-row class="mx-auto">
                                                                        <v-col>
                                                                            <v-btn class="ml-5 white--text" @click.native="alertMyTitle(event,event.time1,1 )" :color="colorChange(event.time1)">{{(event.time1 ==0)?'可預約':((event.time1 ==1)?'預約已滿':'未開放')}}</v-btn>
                                                                        </v-col>
                                                                        <v-col>
                                                                            <v-btn class="ml-5 white--text" @click.native="alertMyTitle(event,event.time2,2 )" :color="colorChange(event.time2)">{{(event.time2 ==0)?'可預約':((event.time2 ==1)?'預約已滿':'未開放')}}</v-btn>
                                                                        </v-col>
                                                                    </v-row>
                                                                </v-card>

                                                                <!-- </v-container> -->
                                                            </v-card-title>
                                                            <v-card-actions>
                                                                <v-btn flat color="orange lighten-2 white--text" v-on="on" class="ml-2">
                                                                    Cancel
                                                                </v-btn>
                                                            </v-card-actions>
                                                        </v-card>
                                                        </v-menu>
                                                        </template>
                                                        </template>
                                                    </v-calendar>
                                                </v-sheet>
                                            </v-flex>
                                        </v-layout>
                                    </v-app>




                                </div>

                                <div class="row">
                                    <div class="col-12 co-button--style">
                                        <c-btn @click="update(currentStep-1)">prev</c-btn>
                                        <c-btn @click="update(currentStep+1)">next</c-btn>
                                    </div>
                                </div>


                            </c-stepper>


                            <c-stepper :step="2" v-if="currentStep==2" key="2">

                                <div class="row">
                                    <div class="col-12 co-title">
                                        <h5>填寫資料</h5>
                                    </div>
                                    <!-- <cs-template :csData="csData" :csOTime="csOTime" :csHour="csHour" :price="price"></cs-template> -->
                                    <div class="cos-counselor col-md-3 col-sm-12">
                                        <div class="row">
                                            <div class=" col-md-12 col-4 co-counselor-pic">
                                                <div class="co-counselor-content">
                                                    <img :src="csData.csPic" alt="John">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-8 co-counselor-text">

                                                <div class="row align-items-center ">
                                                    <div class="col-md-12 col-6 ">諮商心理師</div>
                                                    <div class="col-md-12 col-6 ">{{csData.csName}}</div>
                                                </div>
                                            </div>


                                            <div class="col-12 co-counselor-order ">
                                                <div class="row justify-content-between ">
                                                    <div class=" col-md-12 col-6 ">
                                                        <div>預約時段</div>
                                                        <span>{{csOTime.date}}</span>
                                                        <span>{{csOTime.time}}</span>
                                                    </div>
                                                    <div class=" col-md-12 col-6 ">
                                                        <div>預約時數</div>
                                                        <span>{{csHour}}小時</span>
                                                    </div>
                                                </div>




                                                <div class="co-counselor-order_item ">
                                                    <span>共計</span>
                                                    <span>{{price}}元</span>
                                                </div>
                                                <div class="co-counselor-order_item ">
                                                    <span>諮商方式</span>
                                                    <span>{{coOrderModeType.csModeName}}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="col-md-9 col-sm-12 co-selfInfo ">
                                        <div class="co-selfInfo_title">
                                            <div>填寫預約者資訊</div>
                                            <span>
                                                <span v-if="coMember.memNo!=0">以下填寫資料是保密的，僅供我們活動留存使用，請安心填寫。如需修改請 <a href="./meMain.html" >修改個人資料</a></span>
                                            <span v-else> 以下填寫資料是保密的，僅供我們活動所留存使用，請安心填寫。如需留存請先<a  @click="logIn">登錄會員</a></span>
                                            </span>
                                        </div>
                                        <div class="co-selfInfo_block">
                                            <form action="" method="POST" enctype="multipart/form-data">
                                                <input type="hidden" name="action" value="submit">

                                                <div class="cos-selfForm_item">
                                                    <div>
                                                        <label for="memName">真實姓名<span>*</span></label>
                                                    </div>
                                                    <input type="text" v-model="coMember.memName" :class="{ formControl:true,formatError: !coMember.memName && errors.length > 0}" name="memName" id="memName" placeholder="" required="yes" autocomplete="name">
                                                </div>


                                                <div class="cos-selfForm_item">
                                                    <div>
                                                        <label for="memGender">性別<span>*</span></label>
                                                    </div>

                                                    <label class="radio" :class="{ radioError: !coMember.memGender && errors.length > 0}">
                                                          <input type="radio"  v-model="coMember.memGender" name="memGender" id="memGender" value="男"> 男
                                                          <span class="checkmark" ></span>
                                                    </label>
                                                    <label class="radio" :class="{ radioError: !coMember.memGender && errors.length > 0}">
                                                          <input type="radio"  v-model="coMember.memGender" name="memGender" id="memGender" value="女"> 女
                                                          <span class="checkmark"></span>
                                                    </label>
                                                </div>


                                                <div class="cos-selfForm_item">
                                                    <div>
                                                        <label for="memBD">年齡<span>*</span></label>
                                                    </div>

                                                    <input type="number" v-model.number="coMember.memBD" :class="{ formControl:true, formatError: !coMember.memBD && errors.length > 0}" name="memBD" id="memBD" required="yes" autocomplete="bday" min="1" max="2">
                                                </div>


                                                <div class="cos-selfForm_item">
                                                    <div>
                                                        <label for="memAdd">居住地<span>*</span></label>
                                                    </div>
                                                    <div>
                                                        例：台北信義 或 新北汐止
                                                    </div>
                                                    <input type="text" v-model="coMember.memAdd" :class="{ formControl:true,formatError: !coMember.memAdd && errors.length > 0}" name="memAdd" id="memAdd" required="yes" autocomplete="address">
                                                </div>


                                                <div class="cos-selfForm_item">
                                                    <div>
                                                        <label for="memOcc">職業<span>*</span></label>
                                                    </div>
                                                    <input type="text" v-model="coMember.memOccupation" :class="{ formControl:true, formatError: !coMember.memOccupation && errors.length > 0}" name="memOcc" id="memOcc" required="yes">
                                                </div>


                                                <div class="cos-selfForm_item">
                                                    <div>
                                                        <label for="memTel">行動電話<span>*</span></label>
                                                    </div>

                                                    <input type="num" name="memTel" class="memTel_countryCode" :class="{ selectError: !coMember.memTel.countryCode  && errors.length > 0}" v-model="coMember.memTel.countryCode " id="" autocomplete="tel-country-code" required="yes" maxlength="3" placeholder="886">
                                                    <input type="tel" v-model="coMember.memTel.mobile" class="formControlWidth formControl" :class="{ formatError: !coMember.memTel.mobile && errors.length > 0}" name="memTel" id="memTel" placeholder="9XXXXXXXX" required="yes" autocomplete="tel">
                                                    <!-- pattern="[0-9]{3}[ -][0-9]{3}[ -][0-9]{4}" -->
                                                </div>

                                                <div class="cos-selfForm_item">
                                                    <div>
                                                        <label for="memEmail">電子郵件<span>*</span></label>
                                                    </div>
                                                    <input type="email" v-model="coMember.memEmail" class="formControl" :class="{ formatError: !coMember.memEmail && errors.length > 0}" name="memEmail" id="memEmail" required="yes" autocomplete="email" />
                                                </div>



                                                <div class="cos-selfForm_item">
                                                    <div>
                                                        <label for="memTopic">想談論的主題</label>
                                                    </div>
                                                    <input type="text" v-model="memTopic" class="formControl" name="memTopic" id="memTopic" required="yes" />
                                                </div>



                                                <div class="cos-selfForm_item">
                                                    <div>
                                                        <label for="memStatus">目前身心狀況</label>
                                                    </div>
                                                    <div class="co_subtitle">
                                                        如 : 睡眠、飲食、是否長期頭痛、開過刀、意外事件、憂鬱症等
                                                    </div>
                                                    <input type="text" v-model="memStatus" class="formControl" name="memStatus" id="memStatus" />
                                                </div>


                                                <div class="cos-selfForm_item">
                                                    <div>
                                                        <label for="memAnticipate">諮商的期待或其他想與我們說的話</label>
                                                    </div>
                                                    <input type="text" v-model="memAnticipate" class="formControl" name="memAnticipate" id="memAnticipate" />
                                                </div>

                                                <div class="cos-selfForm_item">
                                                    <div>
                                                        <label for="csHour">諮商時數</label>
                                                    </div>

                                                    <label class="radio" :class="{ radioError: !csHour && errors.length > 0}">
                                                        <input type="radio"  v-model="csHour" name="csHour" id="csHour" value="1"> 1
                                                        <span class="checkmark" ></span>
                                                  </label>
                                                    <label class="radio" :class="{ radioError: !csHour && errors.length > 0}">
                                                        <input type="radio"  v-model="csHour" name="csHour" id="csHour" value="2"> 2
                                                        <span class="checkmark"></span>
                                                  </label>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>


                                <div class="ao-co-error-overlay" v-if="showModal" @click="showModal = false"></div>
                                <!-- v-if="errors.length > 0" -->
                                <div v-if="showModal" class="co-ao-error--border">
                                    <div class="co-ao-error-block">
                                        <p>請填寫 <span v-for="error in errors">{{error}}</span></p>
                                        <button class="button2-1 error-modal-closer" @click="showModal = false">關閉</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-9 offset-md-3 cos-selfForm_item co-button--style">
                                        <c-btn @click="update(currentStep-1)">prev</c-btn>
                                        <c-btn @click="checkForm()">next</c-btn>
                                    </div>
                                </div>

                            </c-stepper>

                            <c-stepper :step="3" v-if="currentStep==3" key="3">
                                <div class="row">
                                    <div class="col-12 co-title">
                                        <h5>確認預約資訊</h5>
                                    </div>


                                    <div class="cos-counselor col-md-3 col-sm-12">
                                        <div class="row">
                                            <div class=" col-md-12 col-4 co-counselor-pic">
                                                <div class="co-counselor-content">
                                                    <img :src="csData.csPic" alt="John">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-8 co-counselor-text">

                                                <div class="row align-items-center ">
                                                    <div class="col-md-12 col-6 ">諮商心理師</div>
                                                    <div class="col-md-12 col-6 ">{{csData.csName}}</div>
                                                </div>
                                            </div>


                                            <div class="col-12 co-counselor-order ">
                                                <div class="row justify-content-between ">
                                                    <div class=" col-md-12 col-6 ">
                                                        <div>預約時段</div>
                                                        <span>{{csOTime.date}}</span>
                                                        <span>{{csOTime.time}}</span>
                                                    </div>
                                                    <div class=" col-md-12 col-6 ">
                                                        <div>預約時數</div>
                                                        <span>{{csHour}}小時</span>
                                                    </div>
                                                </div>




                                                <div class="co-counselor-order_item ">
                                                    <span>共計</span>
                                                    <span>{{price}}元</span>
                                                </div>
                                                <div class="co-counselor-order_item ">
                                                    <span>諮商方式</span>
                                                    <span>{{coOrderModeType.csModeName}}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                    <div class="col-md-9 col-sm-12 co-CheckOrder">
                                        <div class="row co-CheckOrder_block">
                                            <table class="co-CheckOrder-table">
                                                <tr>
                                                    <th>真實姓名</th>
                                                    <td>{{coMember.memName}}</td>
                                                </tr>
                                                <tr>
                                                    <th>性別</th>
                                                    <td>{{coMember.memGender}}</td>
                                                </tr>
                                                <tr>
                                                    <th>年齡</th>
                                                    <td>{{coMember.memBD}}</td>
                                                </tr>
                                                <tr>
                                                    <th>居住地</th>
                                                    <td>{{coMember.memAdd}}</td>
                                                </tr>
                                                <tr>
                                                    <th>職業</th>
                                                    <td>{{coMember.memOccupation}}</td>
                                                </tr>
                                                <tr>
                                                    <th>行動電話</th>
                                                    <td><span>{{coMember.memTel.countryCode}}-{{coMember.memTel.mobile}}</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>電子郵件</th>
                                                    <td>{{coMember.memEmail}}</td>
                                                </tr>
                                                <tr v-if="memTopic">
                                                    <th>想談論的主題</th>
                                                    <td>{{memTopic}}</td>
                                                </tr>
                                                <tr v-if="memStatus">
                                                    <th>目前身心狀況</th>
                                                    <td>{{memStatus}}</td>
                                                </tr>
                                                <tr v-if="memAnticipate">
                                                    <th>諮商的期待與其他</th>
                                                    <td>{{memAnticipate}}</td>
                                                </tr>

                                            </table>


                                            <div class="co-CheckOrder_title">訂單資訊</div>
                                            <table class="co-billing_list">
                                                <tr>
                                                    <th>項目</th>
                                                    <th>時間</th>
                                                    <th>價格</th>
                                                    <th>小計</th>
                                                </tr>
                                                <tr>
                                                    <td data-title="項目">
                                                        <div>
                                                            <span>{{csOTime.date}}</span>
                                                            <br>
                                                            <span class="aoHighLight">{{when}}</span>
                                                            <span>{{csOTime.time}}-{{endTime}}</span>

                                                        </div>
                                                        <div>
                                                            預約時數{{csHour}}小時
                                                        </div>
                                                    </td>
                                                    <td data-title="時間">{{csHour}}</td>
                                                    <td data-title="價格">
                                                        <span>NT ${{costEach}}</span>

                                                    </td>
                                                    <td data-title="小計">
                                                        <span>NT ${{price}}</span>

                                                    </td>
                                                </tr>
                                            </table>

                                            <div class="co-CheckOrder_title">
                                                <span>付款金額</span>
                                                <span>NT${{price}}</span>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9 offset-md-3 cos-selfForm_item co-button--style">
                                        <c-btn @click="update(currentStep-1)">prev</c-btn>
                                        <c-btn @click="update(currentStep+1)">next</c-btn>
                                    </div>
                                </div>
                            </c-stepper>

                            <c-stepper :step="4" v-if="currentStep==4" key="4">
                                <div class="row">
                                    <div class="col-12 co-title">
                                        <h5>前往付款</h5>
                                    </div>


                                    <div class="cos-counselor col-md-3 col-sm-12">
                                        <div class="row">
                                            <div class=" col-md-12 col-4 co-counselor-pic">
                                                <div class="co-counselor-content">
                                                    <img :src="csData.csPic" alt="John">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-8 co-counselor-text">

                                                <div class="row align-items-center ">
                                                    <div class="col-md-12 col-6 ">諮商心理師</div>
                                                    <div class="col-md-12 col-6 ">{{csData.csName}}</div>
                                                </div>
                                            </div>


                                            <div class="col-12 co-counselor-order ">
                                                <div class="row justify-content-between ">
                                                    <div class=" col-md-12 col-6 ">
                                                        <div>預約時段</div>
                                                        <span>{{csOTime.date}}</span>
                                                        <span>{{csOTime.time}}</span>
                                                    </div>
                                                    <div class=" col-md-12 col-6 ">
                                                        <div>預約時數</div>
                                                        <span>{{csHour}}小時</span>
                                                    </div>
                                                </div>




                                                <div class="co-counselor-order_item ">
                                                    <span>共計</span>
                                                    <span>{{price}}元</span>
                                                </div>
                                                <div class="co-counselor-order_item ">
                                                    <span>諮商方式</span>
                                                    <span>{{coOrderModeType.csModeName}}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="col-md-9 col-sm-12 co-billing">
                                        <div class="row co-billing-block">
                                            <div class="co-billing_button">
                                                <div>
                                                    <span>付款金額</span>
                                                    <span>NT${{price}}</span>
                                                </div>

                                                <toggle_button @childopen="parentOpen" name="1"></toggle_button>

                                                <!-- <button @click="go=!go">open</button> -->
                                            </div>

                                            <transition name="listTransition" mode="out-in">
                                                <div v-show="listDataHide">
                                                    <table class="co-billing_list">
                                                        <tr>
                                                            <th>項目</th>
                                                            <th>時間</th>
                                                            <th>價格</th>
                                                            <th>小計</th>
                                                        </tr>
                                                        <tr>
                                                            <td data-title="項目">
                                                                <div>
                                                                    <span>{{csOTime.date}}</span>
                                                                    <br>
                                                                    <span class="aoHighLight">{{when}}</span>
                                                                    <span>{{csOTime.time}}-{{endTime}}</span>

                                                                </div>
                                                                <div>
                                                                    預約時數{{csHour}}小時
                                                                </div>
                                                            </td>
                                                            <td data-title="時間">{{csHour}}</td>
                                                            <td data-title="價格">
                                                                <span>NT ${{costEach}}</span>

                                                            </td>
                                                            <td data-title="小計">
                                                                <span>NT ${{price}}</span>

                                                            </td>
                                                        </tr>
                                                    </table>


                                                </div>
                                            </transition>


                                        </div>

                                        <div class="row co-billing-block">
                                            <div class="co-billing-block_title">
                                                請選擇付款方式
                                            </div>
                                            <div class="co-billing-payment">
                                                <div class="co-billing-title">
                                                    <i class="fas fa-globe"></i>
                                                    <span>線上付款</span>
                                                </div>
                                                <div class="co-billing_method" @click="payment($event,1)">
                                                    <i class="fab fa-cc-visa"></i>
                                                    <span>{{paymentMethod[0].pmName}}</span>
                                                </div>
                                                <div class="co-billing_method" @click="payment($event,2)">
                                                    <i class="fab fa-line"></i>
                                                    <span>{{paymentMethod[1].pmName}}</span>
                                                </div>
                                                <div class="co-billing_method" @click="payment($event,3)">
                                                    <i class="fab fa-paypal"></i>
                                                    <span>{{paymentMethod[2].pmName}}</span>
                                                </div>
                                            </div>
                                            <div class="co-billing-payment">
                                                <div class="co-billing-title">
                                                    <i class="fas fa-globe"></i>
                                                    <span>線下付款</span>
                                                </div>
                                                <div class="co-billing_method" @click="payment($event,4)">
                                                    <i class="fas fa-ad"></i>
                                                    <span>{{paymentMethod[3].pmName}}</span>
                                                </div>
                                                <div class="co-billing_method" @click="payment($event,5)">
                                                    <i class="fas fa-university"></i>
                                                    <span>{{paymentMethod[4].pmName}}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-9 offset-md-3 cos-selfForm_item co-button--style">
                                        <c-btn @click="update(currentStep-1)">prev</c-btn>
                                        <c-btn @click="update(currentStep+1);checkOut()">next</c-btn>
                                    </div>
                                </div>

                            </c-stepper>

                            <c-stepper :step="5" v-if="currentStep==5" key="5">
                                <div class="row co-review">
                                    <div class="col-12 co-title">
                                        <h6>預約成功！</h6>
                                    </div>
                                    <div class="col-12 co-title">
                                        <h6>感謝您的預約</h6>
                                    </div>
                                    <div class="col-12 co-review_block">
                                        <h5>預約編號：</h5>
                                        <h5>{{orderNum.csONo}}</h5>
                                    </div>
                                    <div class="cos-counselor-review col-sm-12">
                                        <div class="row justify-content-center">
                                            <div class=" col-md-12 co-counselor-pic">
                                                <div class="co-counselor-content">
                                                    <img :src="csData.csPic" alt="John">
                                                </div>
                                            </div>
                                            <div class="col-md-12 co-counselor-text">
                                                <div class="row align-items-center ">
                                                    <div class="col-md-12">諮商心理師</div>
                                                    <div class="col-md-12">{{csData.csName}}</div>
                                                </div>
                                            </div>


                                            <div class="col-12 co-counselor-order ">
                                                <div class="row justify-content-center">
                                                    <div class=" col-md-12">
                                                        <div>預約時段</div>
                                                        <span>{{csOTime.date}}</span>
                                                        <span>{{csOTime.time}}</span>
                                                    </div>
                                                    <div class=" col-md-12">
                                                        <div>預約時數</div>
                                                        <span>{{csHour}}小時</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-if="coMember.memNo!=0" class="col-12 co-memberCenter_block">
                                                您可至會員專區查看您的預約
                                            </div>
                                            <div v-else class="col-12 co-memberCenter_block">
                                                歡迎加入會員查看您的預約
                                            </div>
                                            <a v-if="coMember.memNo!=0" href="./meMain.html" class="col-7 col-md-3 co-memberCenter_button button2">
                                                前往會員專區
                                            </a>
                                            <a v-else class="col-7 col-md-3 co-memberCenter_button button2" @click="logIn">
                                                點此註冊會員
                                            </a>
                                        </div>

                                    </div>

                                </div>

                            </c-stepper>
                        </transition>
                    </stepper-content>


                </div>

            </main>

        </div>


    </div>


    <!--------CC-CODE-------->

    <!-- @@include('./template/header.html'); -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="./js/coCalender.js"></script>


</body>

</html>