<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>諮商師 | CHECKIE</title>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap-grid.min.css'>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
</head>

<body id="nav1">
    @@include('template/header.html') @@include('template/bg.html') @@include('./test.html')

    <div id="appCsMain" @click="clickWhite">
        <div class="csMain-container" id="csMainContainer">
            <div class="csMain" id="csMain">
                <div class="checkbox-form">
                    <span v-if="screenWidth < 576" id="openForm" @click="slideToggle">搜尋篩選</span>
                    <span>請依醫師性別篩選</span>
                    <input type="checkbox" name="csGender[]" value="male" id="male" v-model="csGender">
                    <label for="male" class="button3">男</label>
                    <input type="checkbox" name="csGender[]" value="female" id="female" v-model="csGender">
                    <label for="female" class="button3">女</label>
                    <span v-if="screenWidth > 576"></span>
                    <span v-if="screenWidth > 576"></span>
                    <span v-if="screenWidth > 576"></span>
                </div>
                <div class="checkbox-form">
                    <span>請依地區篩選</span>
                    <input type="checkbox" name="csPosition[]" value="north" id="north" v-model="csPosition">
                    <label for="north" class="button3">北部</label>
                    <input type="checkbox" name="csPosition[]" value="center" id="center" v-model="csPosition">
                    <label for="center" class="button3">中部</label>
                    <input type="checkbox" name="csPosition[]" value="south" id="south" v-model="csPosition">
                    <label for="south" class="button3">南部</label>
                    <span v-if="screenWidth > 576"></span>
                    <span v-if="screenWidth > 576"></span>
                </div>
                <div class="checkbox-form">
                    <span>請依醫師專業篩選</span>
                    <input type="checkbox" name="csProblem[]" value="problem1" id="problem1" v-model="csProblem">
                    <label for="problem1" class="button3">家庭關係</label>

                    <input type="checkbox" name="csProblem[]" value="problem2" id="problem2" v-model="csProblem">
                    <label for="problem2" class="button3">人際關係</label>

                    <input type="checkbox" name="csProblem[]" value="problem3" id="problem3" v-model="csProblem">
                    <label for="problem3" class="button3">伴侶關係</label>

                    <input type="checkbox" name="csProblem[]" value="problem4" id="problem4" v-model="csProblem">
                    <label for="problem4" class="button3">壓力創傷</label>

                    <input type="checkbox" name="csProblem[]" value="problem5" id="problem5" v-model="csProblem">
                    <label for="problem5" class="button3">自我探索</label>
                </div>
            </div>
        </div>
        <div class="csCounselor-cards">
            <p id="csC-countCards">總共有{{countCards}}位符合您需求的諮商師</p>
            <div class="swiper-container">
                <div class="csCounselor-gallery swiper-wrapper">
                    <cscounselor-layout v-for="item in countCards" :key="item"></cscounselor-layout>
                </div>
                <!-- Add Arrows -->
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    @@include('template/footer.html')


    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js'></script>
    <script src='./js/csMain.js'></script>
    <script src="./js/header.js"></script>
    <script src="./js/chatbot.js"></script>
</body>

</html>