<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>諮商師 | CHECKIE</title>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body id="nav1">
    @@include('template/header.html') @@include('template/bg.html') @@include('./test.html')

    <div id="appCsMain" @click="clickWhite">
        <div class="csMain-container" id="csMainContainer">
            <div class="csMain slideIn" id="csMain">
                <div class="checkbox-form">
                    <span v-if="screenWidth < 576" id="openForm" @click="slideToggle">搜尋篩選</span>
                    <span>請依醫師性別篩選</span>
                    <input type="checkbox" name="csGender[]" value="m" id="male" v-model="csGender">
                    <label for="male" class="button3">男</label>
                    <input type="checkbox" name="csGender[]" value="f" id="female" v-model="csGender">
                    <label for="female" class="button3">女</label>
                    <span v-if="screenWidth > 576"></span>
                    <span v-if="screenWidth > 576"></span>
                    <span v-if="screenWidth > 576"></span>
                </div>
                <div class="checkbox-form">
                    <span>請依地區篩選</span>
                    <input type="checkbox" name="csPosition[]" value="北部" id="north" v-model="csPosition">
                    <label for="north" class="button3">北部</label>
                    <input type="checkbox" name="csPosition[]" value="中部" id="center" v-model="csPosition">
                    <label for="center" class="button3">中部</label>
                    <input type="checkbox" name="csPosition[]" value="南部" id="south" v-model="csPosition">
                    <label for="south" class="button3">南部</label>
                    <span v-if="screenWidth > 576"></span>
                    <span v-if="screenWidth > 576"></span>
                </div>
                <div class="checkbox-form">
                    <span>請依醫師專業篩選</span>
                    <input type="checkbox" name="csType[]" value="家庭關係" id="problem1" v-model="csType">
                    <label for="problem1" class="button3">家庭關係</label>

                    <input type="checkbox" name="csType[]" value="人際關係" id="problem2" v-model="csType">
                    <label for="problem2" class="button3">人際關係</label>

                    <input type="checkbox" name="csType[]" value="伴侶關係" id="problem3" v-model="csType">
                    <label for="problem3" class="button3">伴侶關係</label>

                    <input type="checkbox" name="csType[]" value="壓力創傷" id="problem4" v-model="csType">
                    <label for="problem4" class="button3">壓力創傷</label>

                    <input type="checkbox" name="csType[]" value="自我探索" id="problem5" v-model="csType">
                    <label for="problem5" class="button3">自我探索</label>
                </div>
            </div>
        </div>
        <div class="csCounselor-cards">
            <p id="csC-countCards">總共有{{slideResult.length}}位符合您需求的諮商師</p>
            <cscounselor-layout :slide-info="slideResult"></cscounselor-layout>
        </div>
    </div>
    @@include('template/footer.html')


    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js'></script>
    <script src='./js/csMain.js'></script>
    <script src='./js/header.js'></script>
    <script src='./js/chatbot.js'></script>
</body>

</html>