<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>諮商師內頁 | CHECKIE</title>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap-grid.min.css'>
    <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="css/main.css">

</head>

<body id="nav1">
    @@include('template/header.html') @@include('template/bg.html') @@include('./test.html')

    <div id="app" class="csSelf">
        <div class="csS-info">
            <div class="csS-info__image">
                <img class="img-responsive" :src="csData.csPic">
                <h2>{{ csData.csName }} 醫師</h2>
            </div>

            <div class="csS-info__type">
                <h3>醫師專長</h3>
                <div class='csS-type__tag'>
                    <span>{{ csData.csType && csData.csType.length > 0 ? csData.csType[0].csTypeName :'' }}</span>
                    <span>{{ csData.csType && csData.csType.length > 0 ? csData.csType[1].csTypeName :'' }}</span>
                </div>
                <div class="inCs-chart">
                    <!-- <radar-chart :radar-data="csData"></radar-chart> -->
                    <div id="chart">
                        <apexchart ref="newChart" type="radar" width="100%" height="300" :options="chartOptions" :series="series"></apexchart>
                    </div>
                </div>
            </div>

            <div class="csS-info__hisEdu">
                <ul>
                    <h5>經歷</h5>
                    <template v-for="(item,index) in csData.csHis">
                        <li :key="'csHis'+index"><i class="fas fa-circle"></i>{{item}}</li>
                    </template>
                </ul>
                <ul>
                    <h5>學歷</h5>
                    <template v-for="(item,index) in csData.csEdu">
                        <li :key="'csEdu'+index"><i class="fas fa-circle"></i>{{item}}</li>
                    </template>
                </ul>
            </div>

            <div class="csS-buttons">
                <div class="buttons">
                    <a href="./coCalender.html"><button type="button" class="button3">現場諮商</button></a>
                    <a href="./coCalender.html"><button type="button" class="button3">語音諮商</button></a>
                    <a href="./coCalender.html"><button type="button" class="button3">視訊諮商</button></a>
                    <a href="./chatRoom.html"><button type="button" class="button3">線上諮商</button></a>
                </div>
            </div>
        </div>

        <h2>醫師撰寫專欄</h2>

        <cssart-layout class="owl-carousel owl-theme owl-carousel1" :art-data="csArtData"></cssart-layout>

        <h2>醫師參與活動</h2>

        <csselfact-layout class="slider" :act-data="csActData"></csselfact-layout>

        <h2>其他推薦醫師</h2>

        <csselfreco-layout class="owl-carousel owl-theme owl-carousel2" :reco-data="csRecoData"></csselfreco-layout>

    </div>

    @@include('template/footer.html')

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" type="text/javascript"></script>
    <script src='./js/csSelf.js'></script>
    <script src="./js/header.js"></script>
    <script src="./js/chatbot.js"></script>
</body>

</html>