<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./vender/bootstrap-grid.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap-grid.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.js"></script>
    <script src="./js/header.js"></script>
    <script src="./js/chatbot.js"></script>

    <link rel="stylesheet" href="./css/main.css">
    <script src="https://kit.fontawesome.com/3a9b8bb651.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>


    @@include('./template/header.html')



    <!--------CC-CODE-------->
    <div class="meMain me--allStyle">
        <div class="container-lg">
            <main id="app" class="row me-board--style">
                <div class="me-selectNav col-md-3 col-lg-2 col-12 order-md-1 order-2 ">
                    <me-head>
                        <me-select_item :item="0" @click.native="selectIt(titles.z)" :selected="currentPage==titles.z" id="homeNone">{{titles.z}}</me-select_item>
                        <me-select_item :item="1" @click.native="selectIt(titles.a)" :selected="currentPage==titles.a">{{titles.a}}</me-select_item>
                        <me-select_item :item="2" @click.native="selectIt(titles.b)" :selected="currentPage==titles.b">{{titles.b}}</me-select_item>
                        <me-select_item :item="3" @click.native="selectIt(titles.c)" :selected="currentPage==titles.c">{{titles.c}}</me-select_item>
                        <me-select_item :item="4" @click.native="selectIt(titles.d)" :selected="currentPage==titles.d">{{titles.d}}</me-select_item>
                        <!-- <div class="homeIcon">
                            <back-btn @click="backToIndex(titles.z)">H</back-btn>
                        </div> -->
                    </me-head>
                </div>
                <div class="me-content col-md-9 col-lg-10 col-12 order-md-2 order-1">
                    <select-page-content>
                        <transition name="coSlide" mode="out-in">
                            <select-page :step="1" v-if="currentPage == titles.z">
                                <div class="col-12">
                                    <div class="row justify-content-between memIcon-block">
                                        <h6 class="col-sm-3 col-6">{{titles.a}}</h6>
                                        <div class="col-sm-1 col-3 memIcon" @click="pageChange(titles.a)">
                                            <img src="./img/icon/select_down.png" alt="">
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-sm-3 col-12 order-sm-2">
                                            <div class="memPhoto--bgc">
                                                <div class="memPhoto">
                                                    <img src="./img/chatRoom/userPic.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 col-12 order-sm-1">
                                            <div class="row">
                                                <div class="col-sm-6 col-12">
                                                    <span class="mem-show-title">{{memTitle.name}}：</span>
                                                    <span>{{member.memName}}</span>
                                                </div>
                                                <div class="col-sm-6 col-12">
                                                    <span class="mem-show-title">{{memTitle.gender}}：</span>
                                                    <span>{{member.memGender}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 col-12">
                                                    <span class="mem-show-title">{{memTitle.bDay}}：</span>
                                                    <span>{{member.memBD}}</span>

                                                </div>
                                                <div class="col-sm-6 col-12">
                                                    <span class="mem-show-title">{{memTitle.occ}}：</span>
                                                    <span>{{member.memOcc}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <span class="mem-show-title">{{memTitle.email}}：</span>
                                                    <span>{{member.memEmail.value}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <mem-driver></mem-driver>
                                <div class="col-sm-6 col-12">
                                    <div class="row justify-content-between memIcon-block">
                                        <h6 class="col-sm-6 col-6">{{titles.b}}</h6>
                                        <div class="col-sm-2 col-3 memIcon" @click="pageChange(titles.b)">
                                            <img src="./img/icon/select_down.png" alt="">
                                        </div>
                                    </div>
                                    <div class="row mem-coOrder">
                                        <div class="col-12">
                                            <span>日期</span>
                                            <span>時間</span>
                                        </div>
                                        <div class="col-12 ">
                                            <span>日期</span>
                                            <span>時間</span>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="row justify-content-between memIcon-block">
                                        <h6 class="col-sm-6 col-6">{{titles.c}}</h6>
                                        <div class="col-sm-2 col-3 memIcon" @click="pageChange(titles.c)">
                                            <img src="./img/icon/select_down.png" alt="">
                                        </div>
                                    </div>
                                    <div class="row mem-acOrder">
                                        <div class="col-12">
                                            <span>課程名稱</span>
                                            <span>（體驗課程）</span>
                                        </div>
                                        <div class="col-12 ">
                                            <span>課程名稱</span>
                                            <span>（體驗課程）</span>
                                        </div>
                                    </div>
                                </div>
                                <mem-driver></mem-driver>
                                <div class="col-12">
                                    <div class="row justify-content-between memIcon-block">
                                        <h6 class="col-sm-3 col-6">{{titles.d}}</h6>
                                        <div class="col-sm-1 col-3 memIcon" @click="pageChange(titles.d)">
                                            <img src="./img/icon/select_down.png" alt="">
                                        </div>
                                    </div>
                                    <chart></chart>
                                </div>

                            </select-page>
                            <select-page :step="2" v-if="currentPage == titles.a">
                                <div class="col-12">
                                    <div class="row justify-content-between memIcon-block">
                                        <!-- <back-btn @click="backToIndex(titles.z)">back</back-btn> -->
                                        <h6 class="col-sm-3 col-6">{{titles.a}}</h6>
                                        <i class="far fa-edit memI col-2 col-sm-2" @click="goModify(!iWantModify)"></i>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 col-12 order-sm-2">
                                            <div class="memPhoto--bgc">
                                                <div class="memPhoto">
                                                    <img src="./img/chatRoom/userPic.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 col-12 order-sm-1 mem-modifyBlock">
                                            <div class="row">
                                                <div class="col-sm-6 col-12 ">
                                                    <div class="row ">
                                                        <div class="col-12 mem-modify-padding">
                                                            <label for="moName" class="">
                                                                <span class="mem-show-title">{{memTitle.name}}：</span>
                                                                <span v-if="!iWantModify" class="">{{member.memName}}</span>
                                                                <input v-if="iWantModify" name="moName" type="text" class="modifyForm" v-model="momentModify.memName" :placeholder="member.memName">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-12">
                                                    <div class="row ">
                                                        <div class="col-12 mem-modify-padding mem-modify-radio ">
                                                            <label for="moGender" class="">
                                                                <span class="mem-show-title">{{memTitle.gender}}：</span>
                                                                <span v-if="!iWantModify">{{member.memGender}}</span>
                                                                <label class="radio" v-if="iWantModify">
                                                                    <input v-if="iWantModify" name="moGender" type="radio" class="modifyRadio" v-model="momentModify.memGender" value="男">男
                                                                    <span v-if="iWantModify" class="checkmark"></span>
                                                                </label>

                                                            <label class="radio" v-if="iWantModify">
                                                                    <input v-if="iWantModify" name="moGender" type="radio" class="modifyRadio" v-model="momentModify.memGender" value="女">女
                                                                    <span v-if="iWantModify" class="checkmark"></span>
                                                                </label>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-12">
                                                    <div class="row ">
                                                        <div class="col-12 mem-modify-padding">
                                                            <label for="moBD" class="">
                                                                <span class="mem-show-title">{{memTitle.bDay}}：</span>
                                                                <span v-if="!iWantModify">{{member.memBD}}</span>
                                                                <input v-if="iWantModify" type="text" name="moBD" class="modifyForm" v-model="momentModify.memBD" :placeholder="member.memBD">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-12">
                                                    <div class="row ">
                                                        <div class="col-12 mem-modify-padding">
                                                            <label for="moOcc" class="">
                                                                <span class="mem-show-title">{{memTitle.occ}}：</span>
                                                                <span v-if="!iWantModify">{{member.memOcc}}</span>
                                                                <input v-if="iWantModify" type="text" name="moOcc" class="modifyForm" v-model="momentModify.memOcc" :placeholder="member.memOcc">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-12 mem-modify-padding">
                                                            <label for="moEmail" class="">
                                                                <span class="mem-show-title">{{memTitle.email}}：</span>
                                                                <span v-if="!iWantModify">{{member.memEmail.value}}</span> 
                                                                <input v-if="iWantModify" type="email" name="moEmail" class="modifyForm" v-model="momentModify.memEmail.value" :placeholder="member.memEmail.value">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="row ">
                                                        <div class="col-12 mem-modify-padding">
                                                            <label for="moAdd" class="">
                                                                <span class="mem-show-title">{{memTitle.add}}：</span>
                                                                <span v-if="!iWantModify">{{member.memAdd}}</span>
                                                                <input v-if="iWantModify" type="text" name="moAdd" class="modifyForm" v-model="momentModify.memAdd" :placeholder="member.memAdd">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="row ">
                                                        <div class="col-12 mem-modify-padding">
                                                            <label for="moTel" class="">
                                                                <span class="mem-show-title">{{memTitle.tel}}：</span>
                                                                <span v-if="!iWantModify">{{member.memTel.countryCode}}{{member.memTel.mobile}}</span>
                                                                <input v-if="iWantModify" type="text" name="moTel" class="modifyForm modifyCountryCode" v-model="momentModify.memTel.countryCode" :placeholder="member.memTel.countryCode">
                                                                <input v-if="iWantModify" type="tel" name="moTel" class="modifyForm modifyMobile" v-model="momentModify.memTel.mobile" :placeholder="member.memTel.mobile">
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="buttonFlex" v-if="iWantModify">
                                        <div class=" fuckingButton">
                                            <button class="button2" @click="giveUpModify(!iWantModify)">放棄修改</button>
                                        </div>
                                        <div class="fuckingButton">
                                            <button class="button" @click="confirmModify(!iWantModify)">確認修改</button>
                                        </div>
                                    </div>
                                </div>





                            </select-page>
                            <select-page :step="3" v-if="currentPage == titles.b">
                                <div class="col-12">
                                    <div class="row justify-content-between memIcon-block">
                                        <!-- <back-btn @click="backToIndex(titles.z)">back</back-btn> -->
                                        <h6 class="col-sm-3 col-6">{{titles.b}}</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 col-6 mem-order-subtitle">{{coOrder.a}}</div>
                                    </div>



                                    <div class="row justify-content-center" v-for="each in coData">
                                        <div class="mem-order-each col-10">
                                            <div class="row">
                                                <div class="mem-order-left col-sm-4 col-12 mem-modify-padding">
                                                    <div class="mem-order-dcName">
                                                        {{each.csName}}
                                                    </div>
                                                    <div class="mem-order-img">
                                                        <img :src="each.csPic" alt="">
                                                    </div>
                                                </div>
                                                <div class="mem-order-right col-sm-8 col-12 mem-modify-padding">
                                                    <div class="row justify-content-end">
                                                        <div v-if="orderShow" class=" order-justDele  col-2">刪除</div>
                                                        <i class="far fa-edit memI col-2" @click="orderShow =!orderShow"></i>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <table class="mem-order-table">
                                                            <tr>
                                                                <th>地點:</th>
                                                                <td data-title="地點">{{each.coPos}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>時間:</th>
                                                                <td data-title="時間">{{each.csODate}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>諮商時間:</th>
                                                                <td data-title="諮商時間">{{each.csOHour}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="row ">
                                                        <mem-driver></mem-driver>
                                                        <div class="col-12 col-sm-6 offset-sm-6 mem-coOrder-total">
                                                            <span>費⽤：</span>
                                                            <span>{{each.csOCost}}</span>
                                                            <span>.NT</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-sm-3 col-6 mem-order-subtitle">{{coOrder.b}}</div>
                                    </div>


                                    <div class="row justify-content-center" v-for="each in coPastData">
                                        <div class="mem-order-each col-10">
                                            <div class="row">
                                                <div class="mem-order-left col-sm-4 col-12 mem-modify-padding">
                                                    <div class="mem-order-dcName">
                                                        {{each.csName}}
                                                    </div>
                                                    <div class="mem-order-img">
                                                        <img :src="each.csPic" alt="">
                                                    </div>
                                                </div>
                                                <div class="mem-order-right col-sm-8 col-12 mem-modify-padding">
                                                    <div class="row justify-content-center">
                                                        <table class="mem-order-table">
                                                            <tr>
                                                                <th>地點:</th>
                                                                <td data-title="地點">{{each.coPos}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>時間:</th>
                                                                <td data-title="時間">{{each.csODate}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>諮商時間:</th>
                                                                <td data-title="諮商時間">{{each.csOHour}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="row ">
                                                        <mem-driver></mem-driver>
                                                        <div class="col-12 col-sm-6 offset-sm-6 mem-coOrder-total">
                                                            <span>費⽤：</span>
                                                            <span>{{each.csOCost}}</span>
                                                            <span>.NT</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </select-page>

                            <select-page :step="4" v-if="currentPage == titles.c">
                                <div class="col-12">
                                    <div class="row justify-content-between memIcon-block">
                                        <!-- <back-btn @click="backToIndex(titles.z)">back</back-btn> -->
                                        <h6 class="col-sm-3 col-6">{{titles.c}}</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 col-6 mem-order-subtitle">{{coOrder.a}}</div>
                                    </div>

                                    <div class="row justify-content-center" v-for="each in aoData">
                                        <div class="mem-order-each col-10">
                                            <div class="row">
                                                <div class="mem-order-left col-sm-4 col-12 mem-modify-padding">
                                                    <div class="mem-order-dcName">
                                                        {{each.csName}}
                                                    </div>
                                                    <div class="mem-order-img">
                                                        <img :src="each.csPic" alt="">
                                                    </div>
                                                </div>
                                                <div class="mem-order-right col-sm-8 col-12 mem-modify-padding">
                                                    <div class="row justify-content-end">
                                                        <div v-if="orderShow" class=" order-justDele  col-2">刪除</div>
                                                        <i class="far fa-edit memI col-2" @click="orderShow =!orderShow"></i>
                                                    </div>
                                                    <div class="row justify-content-center">
                                                        <table class="mem-order-table">
                                                            <tr>
                                                                <th>地點:</th>
                                                                <td data-title="地點">{{each.coPos}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>時間:</th>
                                                                <td data-title="時間">{{each.csODate}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>諮商時間:</th>
                                                                <td data-title="諮商時間">{{each.csOHour}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="row ">
                                                        <mem-driver></mem-driver>
                                                        <div class="col-12 col-sm-6 offset-sm-6 mem-coOrder-total">
                                                            <span>費⽤：</span>
                                                            <span>{{each.csOCost}}</span>
                                                            <span>.NT</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>





                                    <div class="row">
                                        <div class="col-sm-3 col-6 mem-order-subtitle">{{coOrder.b}}</div>
                                    </div>

                                    <div class="row justify-content-center" v-for="each in aoPastData">
                                        <div class="mem-order-each col-10">
                                            <div class="row">
                                                <div class="mem-order-left col-sm-4 col-12 mem-modify-padding">
                                                    <div class="mem-order-dcName">
                                                        {{each.csName}}
                                                    </div>
                                                    <div class="mem-order-img">
                                                        <img :src="each.csPic" alt="">
                                                    </div>
                                                </div>
                                                <div class="mem-order-right col-sm-8 col-12 mem-modify-padding">
                                                    <div class="row justify-content-center">
                                                        <table class="mem-order-table">
                                                            <tr>
                                                                <th>地點:</th>
                                                                <td data-title="地點">{{each.coPos}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>時間:</th>
                                                                <td data-title="時間">{{each.csODate}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>諮商時間:</th>
                                                                <td data-title="諮商時間">{{each.csOHour}}</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                    <div class="row ">
                                                        <mem-driver></mem-driver>
                                                        <div class="col-12 col-sm-6 offset-sm-6 mem-coOrder-total">
                                                            <span>費⽤：</span>
                                                            <span>{{each.csOCost}}</span>
                                                            <span>.NT</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                </div>




                            </select-page>
                            <select-page :step="5" v-if="currentPage == titles.d">
                                <div class="col-12">
                                    <div class="row justify-content-between memIcon-block">
                                        <h6 class="col-sm-3 col-6">{{titles.d}}</h6>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3 col-6 mem-order-subtitle">{{mentalTitles.a}}</div>
                                    </div>
                                    <chart></chart>
                                    <mem-driver></mem-driver>
                                    <div class="row ">
                                        <div class="col-sm-3 col-6 mem-order-subtitle">{{mentalTitles.b}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-10 offset-1">
                                            <table class="mem-order-table mem-table-mental">
                                                <tr>
                                                    <th>0~20%：</th>
                                                    <td data-title="0~20%">屬於較穩定的狀況。</td>
                                                </tr>
                                                <tr>
                                                    <th>20~40%：</th>
                                                    <td data-title="20~40%">⼤部分情況下穩定，偶爾會出現⼩⼩失落感。</td>
                                                </tr>

                                                <tr>
                                                    <th>40~60%：</th>
                                                    <td data-title="40~60%">經常出現失落感，建議找尋抒發管道。</td>
                                                </tr>
                                                <tr>
                                                    <th>60~80%：</th>
                                                    <td data-title="60~80%">時常出現失落感，建議找尋專業抒發管道。</td>
                                                </tr>
                                                <tr>
                                                    <th>80~100%：</th>
                                                    <td data-title="80~100%">⼤部分時間都處於失落狀態下，建議預約諮商</td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-12 col-md-6 offset-0 offset-md-6 cc">
                                            <button class="button3">預約諮商</button>
                                        </div>
                                    </div>
                                    <mem-driver></mem-driver>
                                    <div class="row">
                                        <div class="col-sm-3 col-6 mem-order-subtitle">{{mentalTitles.c}}</div>
                                    </div>
                                    <div class="row mem-inActCsSelfAct_block mem-csSelfAct_block--style">
                                        <div class="mem-inActCsSelfAct--hide mem-inActCsSelfAct--hide--style">
                                            <cssart-layout></cssart-layout>
                                            <cssart-layout></cssart-layout>
                                            <cssart-layout></cssart-layout>
                                            <cssart-layout></cssart-layout>
                                            <cssart-layout></cssart-layout>
                                        </div>

                                    </div>
                                    <mem-driver></mem-driver>
                                    <div class="row">
                                        <div class="col-sm-3 col-6 mem-order-subtitle">{{mentalTitles.d}}</div>
                                    </div>
                                    <div class="row mem-inActCsSelfAct_block">
                                        <div class="mem-inActCsSelfAct--hide">
                                            <inact-item></inact-item>
                                            <inact-item></inact-item>
                                            <inact-item></inact-item>
                                            <inact-item></inact-item>
                                            <inact-item></inact-item>
                                        </div>
                                    </div>

                                </div>
                            </select-page>
                        </transition>
                        <select-page-content>
                </div>
            </main>
        </div>
    </div>






    <!--------CC-CODE-------->

    <!-- @@include('./template/header.html') -->









    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="./js/meMain.js"></script>


    <script>
    </script>



</body>

</html>