<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./vender/bootstrap-grid.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap-grid.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.js"></script>
    <!-- <script src="./js/header.js"></script>
    <script src="./js/chatbot.js"></script> -->

    <link rel="stylesheet" href="./css/main.css">
    <script src="https://kit.fontawesome.com/3a9b8bb651.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>


    @@include('./template/header.html')



    <!--------CC-CODE-------->
    <div class="meMain me--allStyle">
        <div class="container-lg">
            <main id="app" class="row me-board--style">
                <div class="me-selectNav col-md-3 col-lg-2 col-12 order-md-1 order-2">
                    <me-head>
                        <me-select_item :item="1" @click.native="select(titles.a)" :selected="currentPage==titles.a">{{titles.a}}</me-select_item>
                        <me-select_item :item="2" @click.native="select(titles.b)" :selected="currentPage==titles.b">{{titles.b}}</me-select_item>
                        <me-select_item :item="3" @click.native="select(titles.c)" :selected="currentPage==titles.c">{{titles.c}}</me-select_item>
                        <me-select_item :item="4" @click.native="select(titles.d)" :selected="currentPage==titles.d">{{titles.d}}</me-select_item>
                    </me-head>
                </div>
                <div class="me-content col-md-9 col-lg-10 col-12 order-md-2 order-1">
                    <select-page-content>
                        <transition>
                            <select-page v-if="currentPage == !titles">
                                <div class="col-12">
                                    <div class="row justify-content-between memIcon-block">
                                        <h6 class="col-3">{{titles.a}}</h6>
                                        <div class="col-1 memIcon" @click="pageChange(titles.a)">
                                            <img src="./img/icon/select_down.png" alt="">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 col-4 offset-4 offset-sm-0 order-sm-2">
                                            <div class="memPhoto--bgc">
                                                <div class="memPhoto">
                                                    <img src="./img/chatRoom/userPic.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-8 col-12 order-sm-1">
                                            <div class="row">
                                                <div class="col-sm-6 col-12">
                                                    <span class="mem-show-title">{{memTitle.name}}：</span>
                                                    <span>{{memName}}</span>

                                                </div>
                                                <div class="col-sm-6 col-12">
                                                    <span class="mem-show-title">{{memTitle.gender}}：</span>
                                                    <span>{{memGender}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6 col-12">
                                                    <span class="mem-show-title">{{memTitle.bDay}}：</span>
                                                    <span>{{memBD}}</span>

                                                </div>
                                                <div class="col-sm-6 col-12">
                                                    <span class="mem-show-title">{{memTitle.occ}}：</span>
                                                    <span>{{memOcc}}</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-6">
                                                    <span class="mem-show-title">{{memTitle.add}}：</span>
                                                    <span>{{memAdd}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <mem-driver></mem-driver>
                                <div class="col-sm-6 col-12">
                                    <div class="row justify-content-between memIcon-block">
                                        <h6 class="col-sm-6 col-3">{{titles.b}}</h6>
                                        <div class="col-sm-2 col-1 memIcon" @click="pageChange(titles.b)">
                                            <img src="./img/icon/select_down.png" alt="">
                                        </div>
                                    </div>
                                    <div class="row mem-coOrder">
                                        <div class="col-12">
                                            <span>日期</span>
                                            <span>時間</span>
                                        </div>
                                        <div class="col-12 ">
                                            <span>日期</span>
                                            <span>時間</span>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-sm-6 col-12">
                                    <div class="row justify-content-between memIcon-block">
                                        <h6 class="col-sm-6 col-3">{{titles.c}}</h6>
                                        <div class="col-sm-2 col-1 memIcon" @click="pageChange(titles.c)">
                                            <img src="./img/icon/select_down.png" alt="">
                                        </div>
                                    </div>
                                    <div class="row mem-acOrder">
                                        <div class="col-12">
                                            <span>課程名稱</span>
                                            <span>（體驗課程）</span>
                                        </div>
                                        <div class="col-12 ">
                                            <span>課程名稱</span>
                                            <span>（體驗課程）</span>
                                        </div>
                                    </div>
                                </div>
                                <mem-driver></mem-driver>
                                <div class="col-12">
                                    <div class="row justify-content-between memIcon-block">
                                        <h6 class="col-3">{{titles.d}}</h6>
                                        <div class="col-1 memIcon" @click="pageChange(titles.d)">
                                            <img src="./img/icon/select_down.png" alt="">
                                        </div>
                                    </div>
                                    <div class="row mem-chart-container">
                                        <canvas id="ccChart"></canvas>
                                    </div>
                                </div>

                            </select-page>
                            <select-page v-if="currentPage == titles.a">page1
                                <back-btn @click="backToIndex(!titles)">back</back-btn>
                            </select-page>
                            <select-page v-if="currentPage == titles.b">page2
                                <back-btn @click="backToIndex(!titles)">back</back-btn>

                            </select-page>
                            <select-page v-if="currentPage == titles.c">page3
                                <back-btn @click="backToIndex(!titles)">back</back-btn>

                            </select-page>
                            <select-page v-if="currentPage == titles.d">page4
                                <back-btn @click="backToIndex(!titles)">back</back-btn>

                            </select-page>
                            <!-- v-if="curren2Page == title.a" -->
                        </transition>
                        <select-page-content>
                </div>
            </main>
        </div>
    </div>






    <!--------CC-CODE-------->

    <!-- @@include('./template/header.html') -->



    <script>
        var cerise = document.getElementById('ccChart');
        var myChart = new Chart(cerise, {
            type: 'bar',
            data: {
                labels: ['一月', '二月', '三月'],
                datasets: [{
                    type: 'bar',
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1,
                    label: '銷售業績(百萬)',
                    data: [60, 49, 72]
                }, {
                    type: 'line',
                    label: '新開發客戶',
                    data: [25, 13, 30]
                }]
            }
        })
    </script>






    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js"></script>
    <script src="./js/meMain.js"></script>




</body>

</html>