<div id="form">
    <section class="step-indicator">
        <steps></steps>
        <lines></lines>
        <steps></steps>
        <lines></lines>
        <steps></steps>
        <lines></lines>
        <steps></steps>
        <lines></lines>
        <steps></steps>
        <lines></lines>
        <steps></steps>
        <lines></lines>
        <steps></steps>
        <lines></lines>
        <steps></steps>
        <lines></lines>
        <steps></steps>
        <lines></lines>
        <steps></steps>
    </section>
    <form action="" v-show="testStart">
        <!-- 點下skip 要關閉表單 ok -->
        <div id="qsBox">
            <input type="button" value="SKIP" class="text_skip" @click="skip">
            <ask-content questions="您好，歡迎來到Checkie。"></ask-content>
            <ask-content questions="請問您願意填寫心理評估表嗎？如果願意，請您選擇開始測驗，若不願意可以點按右上角的SKIP終止測驗。"></ask-content>
            <div class="ansButton--start" style="display: none;">
                <input class="qsStart" type="button" value="開始測驗" @click="form_start">
            </div>
            <ans-content answers="好的，我願意開始測驗。" v-show="display"></ans-content>
            <ask-content questions="請依照問題及您自身的狀況，從一到五之間選擇最符合您狀況的狀態。" v-show="display"></ask-content>

            <!-- 第一題 -->
            <ask-content questions="您對目前家庭關係的滿意度為何？" v-show="display"></ask-content>
            <ans-buttons-grades v-show="display" @submit_value="changeA" name="q1"></ans-buttons-grades>
            <ans-content :answers="a1.content" v-show="display"></ans-content>
            <!-- 第二題 -->
            <ask-content questions="您對自己在家庭關係中的滿意度為何？" v-show="display"></ask-content>
            <ans-buttons-grades v-show="display" @submit_value="changeA" name="q2"></ans-buttons-grades>
            <ans-content :answers="a2.content" v-show="display"></ans-content>
            <!-- 第三題 -->
            <ask-content questions="您對自己目前的人際關係滿意度為何？" v-show="display"></ask-content>
            <ans-buttons-grades v-show="display" @submit_value="changeA" name="q3"></ans-buttons-grades>
            <ans-content :answers="a3.content" v-show="display"></ans-content>
            <!-- 第四題 -->
            <ask-content questions="您對人際交際的狀況給自己幾分？" v-show="display"></ask-content>
            <ans-buttons-grades v-show="display" @submit_value="changeA" name="q4"></ans-buttons-grades>
            <ans-content :answers="a4.content" v-show="display"></ans-content>

            <!-- 第五題 -->
            <ask-content questions="您目前感覺外界環境給你的壓力程度為何？" v-show="display"></ask-content>
            <ans-buttons-grades v-show="display" @submit_value="changeA" name="q5"></ans-buttons-grades>
            <ans-content :answers="a5.content" v-show="display"></ans-content>

            <!-- 第六題 -->
            <ask-content questions="您是否能承受目前所有的壓力？" v-show="display"></ask-content>
            <ans-buttons-grades v-show="display" @submit_value="changeA" name="q6"></ans-buttons-grades>
            <ans-content :answers="a6.content" v-show="display"></ans-content>

            <!-- 第七題 -->
            <ask-content questions="您是否能承受當前大部分感受到的壓力？" v-show="display"></ask-content>
            <ans-buttons-grades v-show="display" @submit_value="changeA" name="q7"></ans-buttons-grades>
            <ans-content :answers="a7.content" v-show="display"></ans-content>

            <!-- 第八題 -->
            <ask-content questions="您對自己目前的人生歷程滿意嗎？" v-show="display"></ask-content>
            <ans-buttons-grades v-show="display" @submit_value="changeA" name="q8"></ans-buttons-grades>
            <ans-content :answers="a8.content" v-show="display"></ans-content>

            <!-- 第九題 -->
            <ask-content questions="您對於目前的感情狀態滿意嗎？" v-show="display"></ask-content>
            <ans-buttons-grades v-show="display" @submit_value="changeA" name="q9"></ans-buttons-grades>
            <ans-content :answers="a9.content" v-show="display"></ans-content>

            <!-- 第十題 -->
            <ask-content questions="您對自己未來的人生規劃清楚嗎？" v-show="display"></ask-content>
            <ans-buttons-grades v-show="display" @submit_value="changeA" name="q10"></ans-buttons-grades>
            <ans-content :answers="a10.content" v-show="display"></ans-content>
            <input type="button" class="test_submit" value="完成測驗" v-show="finish" @click="finish_form">
            <!-- 第十一題 -->
        </div>
    </form>
    <div class="test_content" v-show="testOver">
        <button type="button" @click="closeTestResult">關閉</button>
        <div class="test-content_box">
            <div class="test-content-box_title">您的心理評估分數：</div>
            <div class="test-content-box_pic">
                <!-- <canvas class="myChart" width="200" height="200" id="myChart"></canvas> -->
                <div id="talkbubble"><span class="count">66</span>%</div>
            </div>
            <div v-if="!member" class="test-content-box_word">欲看分數示詳情請登入會員</div>
            <div v-else class="test-content-box_word">來去看看
                <a href="./atMain.html">文章</a>或是<a href="./acMain.html">活動</a>吧!
            </div>
            <a href="#" v-if="!member">
                <div class="test-content-box_but">
                    <input type="button" id="signin" class="testResult_submit" value="登入會員" @click="closeTestSignIn">
                </div>
            </a>

        </div>
        <div class="test-content_result">

            <div class="test-content-result_word">
                <div class="test-content-result-word_title">自我評估：</div>
                <ul>
                    <li>0~20%:屬於較穩定的狀況</li>
                    <li>20~40%:大部分清況下穩定，偶爾會出現小小失落感。</li>
                    <li>40%~60:經常出現失落感，建議找尋抒發管道。</li>
                    <li>60%~80%:時常出現失落感，建議找尋專業抒發管道。</li>
                    <li>80%~100%:大部分時間都處於失落狀態下，建議預約諮商。</li>
                </ul>
            </div>
            <a href="csMain.html">
                <div class="test-content-result_but">
                    <input type="submit" class="testResult_reservation" value=預約諮商>
                </div>
            </a>
        </div>
    </div>
</div>