@import '../vender/reset';
@import '../vender/var';
@import '../vender/variable';

$border-bottom: 1px solid lightgrey;
$title-margin: 30px 30px;
$content-margin: 0px 30px;

input:focus{
    outline: none;
}

h2{
    @include h2;
}
h3{
    @include h3;
}
h4{
    @include h4;
}
h5{
    @include h5;
}
h6{
    @include h6;
}
p{
    @include p;
}

#nav2 {
    .top {
        .navbar {
            .navbar__menu {
                a:nth-child(2) {
                    color: $color-pink;
                }
                a:nth-child(2)::after {
                    transform: scaleX(1);
                    visibility: visible;
                }
            }
        }
    }
}


main{

    #chatRoom{
        margin:30px 50px;
        box-shadow: $boxshadow;
        display: flex;
        background: rgba(255, 255, 255, 0.795);
        box-shadow: $boxshadow;
        .chatRoom_left{
            padding:0;
            border-right: 3px solid grey;
            width: 30%;
            max-height: 85vh;
            overflow-y: auto;
            .chatRomm_userPic{
                // border: 1px solid red;
                width: 250px;
                height: 250px;
                overflow: hidden;
                border-radius: 50%;
                margin: 30px auto;
                img{
                    width: 100%;
                }
            }
            @media screen and (max-width:1199px){
                .chatRomm_userPic{
                    // border: 1px solid red;
                    width: 150px;
                    height: 150px;
                }
            }
            .chatRoom_userInfo{
                text-align: center;
                margin: 10px 0;
            }
        @media screen and (max-width:767px){
            .chatRomm_userPic{
                display: none;
            }
            .chatRoom_userInfo{
                display: none;
            }
        }
        .chatRoom_drChatbox{
                // border: 1px solid lightgrey;
                box-shadow: $boxshadow;
                display: flex;
                padding: 10px 0;
                justify-content: center;
                .chatRoom_drPic{
                    border: 1px solid darkgray;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 5px 5% 5px 5%;
                    img{
                        width: 100%;
                    }
                }
                .chatRoom_light{
                    // border: 1px solid red;
                    background-color: green;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    margin: auto 0 auto 5%;
                }
                h5{
                    margin: auto 0;
                }

                p{
                    margin: auto 0;
                }
                .chatRoom_more{
                    width: 20px;
                    height: 20px;
                    margin: auto 10px;
                    cursor: pointer;
                    img{
                        height: 100%;
                    }
                }
            }
        }

    //諮商師infoRWD
    @media screen and (max-width: 1199px){
        .chatRoom_drChatbox{
            justify-content: center;
            h5{
                display: none;
            }
            p{
                display: none;
            }
            .chatRoom_more{
                width: 15px;
                height: 15px;
                margin: auto 10px;
                cursor: pointer;
                img{
                    height: 100%;
                }
            }
        }
    }
    @media screen and (max-width: 767px){ 
        .chatRoom_drChatbox{
            // border: 1px solid lightgrey;
            box-shadow:none !important;
            .chatRoom_drPic{
                border: 1px solid darkgray;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                overflow: hidden;
                margin: 5px 5% 5px 5%;
                img{
                    width: 100%;
                }
            }
            .chatRoom_light{
                // border: 1px solid red;
                background-color: green;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin: auto 0 auto 5%;
            }
            h5{
                margin: auto 0;
            }

            p{
                margin: auto 0;
            }
            .chatRoom_more{
                display: none;
            }
        }
    }



    // -----------------------
    .chatRoom_right{
        // border: 1px solid blue;
        width: 100%;
        max-height: 85vh;
        padding: 0;
    
    // -----------手機＆平板RWD用-------------
        
        .chatRoom_drInfo{
                position: absolute;
                left:0;
                display: flex;
                border: 1px solid lightgray;
                box-shadow: $boxshadow;
                display: none;
                justify-content: center;
                background-color: white;
                z-index: 1;
                padding: 1% 0;
                min-height: 10%;
                .doctor{
                    width: 13%;
                    height: 13%;
                    border: 1px solid lightgray;
                    border-radius: 50%;
                    margin: auto 0;
                }
                h4{
                    margin: auto 5%;
                    display: flex;
                    p{
                        margin: auto 0;
                    }
                }
                .chatRoom_drInfo-more{
                    width: 15px;
                    height: 15px;
                    margin: auto 0;
                    display: none;
                    cursor: pointer;
                    img{
                        width:100%;
                    }
                }
        }
        @media screen and (max-width: 1199px){
            .chatRoom_drInfo{
                display: flex;
            }
        }
        @media screen and (max-width: 767px){

            .chatRoom_drInfo{
                display: flex;
                .chatRoom_drInfo-more{
                    display: block;
                }
            }
        }
    }


//-------------------------------

            .chatRoom_conver{
                // border: 1px solid red;
                height: 80%;
                overflow-y: auto;
                .chatRoom_drConver{
                    display: flex;
                    .chatRoom_conver--drPic{
                        width: 50px;
                        height: 50px;
                        margin: 20px;
                        border-radius: 50%;
                        border: 1px solid darkgrey;
                        overflow: hidden;
                        img{
                            width: 100%;
                        }
                    }
                    .chatRoom_conver--drText{
                        background-color: rgb(197, 221, 248);
                        border-radius: 0 24px 24px 24px;
                        width: fit-content;
                        padding: 18px 14px 18px 14px;
                        margin:30px 0;
                        height: fit-content;
                    }
                    .chatRoom_conver--more{
                        display: block;
                        width: 10px;
                        position: relative;
                        top: 90px;
                        cursor: pointer;
                        span{
                            color:lightgrey;
                        }
                    }
                }
                .chatRoom_userConver{
                    display: flex;
                    width: fit-content;
                    margin-left: auto;
                    

                    .chatRoom_conver--userText{
                        background-color:pink;
                        border-radius: 0 24px 24px 24px;
                        width: fit-content;
                        padding: 18px 14px 18px 14px;
                        margin:30px 0;
                        height: fit-content;
                }
                    .chatRoom_conver--userPic{
                        width: 50px;
                        height: 50px;
                        margin: 20px;
                        border-radius: 50%;
                        border: 1px solid darkgrey;
                        overflow: hidden;
                        img{
                            width: 100%;
                        }
                    }
                    .chatRoom_conver--more{
                        // display: block;
                        width: 10px;
                        position: relative;
                        top: 90px;
                        cursor: pointer;
                        img{
                            display: inline-block;
                        }
                        span{
                            display: inline-block;
                            color: lightgrey;
                        }
                    }
                }
            }
            .chatRoom_text{
                border-top: 3px solid darkgrey;
                height: 20%;
                display: flex;
                z-index: 999;
                padding:0 4%;
                background-color: rgb(235, 229, 229);
                .chatRoom_innertext{
                    border: 5px solid darkgray;
                    width: 88%;
                    min-height: 70%;
                    margin: 20px;
                    background-color: white;
                }
                .chatRoom_send{
                    width: 30px;
                    margin: auto 0;
                }
            }
        }

    
}
