@import '../vender/reset';
@import '../vender/var';
@import '../vender/variable';

$border-bottom: 1px solid lightgrey;
$title-margin: 30px 30px;
$content-margin: 0px 30px;

input:focus{
    outline: none;
}

h2{
    @include h2;
}
h3{
    @include h3;
}
h4{
    @include h4;
}
h5{
    @include h5;
}
h6{
    @include h6;
}
p{
    @include p;
}


main{

    #chatRoom{
        margin:30px 50px;
        box-shadow: $boxshadow;
        display: flex;
        .chatRoom_left{
            border-right: 3px solid grey;
            width: 30%;
            max-height: 90vh;
            overflow-y: auto;
            .chatRomm_userPic{
                // border: 1px solid red;
                width: 250px;
                height: 250px;
                overflow: hidden;
                border-radius: 50%;
                margin: 30px auto;
                img{
                    width: 100%;
                }
            }
        .chatRoom_userInfo{
            text-align: center;
            margin: 10px 0;
        }
        .chatRoom_drChatbox{
            border: 1px solid lightgrey;
            box-shadow: $boxshadow;
            display: flex;
            padding: 10px 0;
            .chatRoom_drPic{
                border: 1px solid darkgray;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                overflow: hidden;
                margin: 5px 5% 5px 5%;
                img{
                    width: 100%;
                }
            }
            .chatRoom_light{
                // border: 1px solid red;
                background-color: green;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                margin: auto 0 auto 5%;
            }
            h5{
                margin: auto 0;
            }
            p{
                margin: auto 0;
            }
            .chatRoom_more{
                width: 20px;
                height: 20px;
                margin: auto 10px;
                cursor: pointer;
                img{
                    height: 100%;
                }
            }
        }
    }
    .chatRoom_right{
        // border: 1px solid blue;
        width: 70%;
        max-height: 90vh;
    // -----------手機＆平板RWD用-------------
        .chatRoom_drInfo{
                display: flex;
                border: 1px solid lightgray;
                box-shadow: $boxshadow;
                display: none;
                .doctor{
                    width: 80px;
                    height: 80px;
                    border: 1px solid lightgray;
                    border-radius: 50%;
                    margin-left:30% ;
                }
                h4{
                    margin: auto 5%;
                }
                .more{
                    width: 30px;
                    height: 30px;
                    margin: auto 0;
                }
            }
//-------------------------------

            .chatRoom_conver{
                // border: 1px solid red;
                height: 80%;
                overflow-y: auto;
                .chatRoom_drConver{
                    display: flex;
                    .chatRoom_conver--drPic{
                        width: 80px;
                        height: 80px;
                        margin: 20px;
                        border-radius: 50%;
                        border: 1px solid darkgrey;
                        overflow: hidden;
                        img{
                            width: 100%;
                        }
                    }
                    .chatRoom_conver--drText{
                        background-color: rgb(197, 221, 248);
                        border-radius: 0 24px 24px 24px;
                        width: fit-content;
                        padding: 25px 21px 25px 21px;
                        margin:30px 0;
                        height: fit-content;
                    }
                    .chatRoom_conver--more{
                        display: block;
                        width: 20px;
                        position: relative;
                        top: 90px;
                    }
                }
                .chatRoom_userConver{
                    display: flex;
                    width: fit-content;
                    margin-left: auto;
                    

                    .chatRoom_conver--userText{
                        background-color:pink;
                        border-radius: 0 24px 24px 24px;
                        width: fit-content;
                        padding: 25px 21px 25px 21px;
                        margin:30px 0;
                        height: fit-content;
                }
                    .chatRoom_conver--userPic{
                        width: 80px;
                        height: 80px;
                        margin: 20px;
                        border-radius: 50%;
                        border: 1px solid darkgrey;
                        overflow: hidden;
                        img{
                            width: 100%;
                        }
                    }
                    .chatRoom_conver--more{
                        display: block;
                        width: 20px;
                        position: relative;
                        top: 90px;
                    }
                }
            }
            .chatRoom_text{
                border-top: 3px solid darkgrey;
                height: 20%;
                display: flex;
                z-index: 999;
                background-color: rgb(235, 229, 229);
                .chatRoom_innertext{
                    border: 5px solid darkgray;
                    width: 88%;
                    min-height: 70%;
                    margin: 20px;
                    background-color: white;
                }
                .chatRoom_send{
                    width: 5%;
                    margin: auto 0;
                }
            }
        }

    }
}
