@import './style';

#nav1 {
    .top {
        .navbar {
            .navbar__menu {
                a:nth-child(1) {
                    color: $color-pink;
                }

                a:nth-child(1)::after {
                    transform: scaleX(1);
                    visibility: visible;
                }
            }
        }
    }
}

#csMainContainer {
    position: relative;
    width: calc(100% - 40px);
    max-width: 1200px;
    overflow: hidden;
    margin: 20px auto 0;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgba(146, 146, 146, 0.603);
    background: rgb(255, 255, 255);

    .csMain {
        z-index: 50;
        position: relative;
        max-width: 1200px;
        margin: 0 auto;

        .checkbox-form {
            display: flex;
            flex-flow: nowrap row;
            justify-content: center;

            span {
                width: 140px;
                height: 4px;
                margin: 20px 5px;
                text-align: center;

                &+select {
                    margin: 20px auto;
                }
            }

            input {
                display: none;

                &:checked+label {
                    background-color: $color-pink;
                    color: #fff;
                }
            }

            label.button3 {
                margin: 10px 5px;
                display: inline-block;
                height: 40px;
                width: 140px;
                padding: 0;
                line-height: 40px;
            }
        }
    }
}

@media (max-width: 576px) {
    #csMainContainer {
        margin: 0;
        padding: 0 10px;
        border-radius: 0;
        box-shadow: none;
        position: absolute;
        width: 100%;
        z-index: 99;

        .csMain {
            margin: 10px 0 0;
            padding: 20px 0;
            position: fixed;
            right: -120px;
            height: 450px;
            width: 120px;
            transition: all 1s ease;
            background-color: white;
            box-shadow: 0 0 5px 0 black;
            border-radius: 10px;
            z-index: 101;

            &.slideIn {
                animation: slideIn 1s ease forwards;
            }

            &.slideOut {
                animation: slideOut 1s ease forwards;
            }

            #cleanSelect {
                position: absolute;
                right: 15%;
                top: 90%;
            }

            .checkbox-form {
                width: 120px;
                flex-flow: nowrap column;
                align-items: center;

                span {
                    width: 120px;
                    height: 5px;
                    margin: 5px 0 15px;
                    text-align: center;
                    font-size: 14px;

                    &+select {
                        margin: 10px auto;
                    }
                }

                #openForm {
                    position: absolute;
                    writing-mode: vertical-lr;
                    height: 90px;
                    width: 30px;
                    line-height: 30px;
                    border: 1px solid $color-blue;
                    right: 119px;
                    top: 10%;
                    font-size: 16px;
                    cursor: pointer;
                    background-color: white;
                    border-radius: 10px;
                    margin-right: 5px;
                }

                label.button3 {
                    margin: 5px;
                    height: 15px;
                    width: 80px;
                    padding: 5px;
                    line-height: 14px;
                    font-size: 12px;
                }
            }
        }
    }
}

@keyframes slideIn {
    from {
        right: -120px;
    }

    to {
        right: 0;
    }
}

@keyframes slideOut {
    from {
        right: 0;
    }

    to {
        right: -120px;
    }
}

.csCounselor-cards {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;

    #csC-countCards {
        text-align: center;
        margin: 20px 0;
        @include h6;
    }

    .swiper-container {
        width: 320px;
        overflow: initial;
        margin: 50px auto;

        .csCounselor-gallery {
            .swiper-slide {
                width: 300px;
                transform: scale(0.8);

                &.swiper-slide-active {
                    transform: scale(1);
                }

                .csCounselor-card {
                    width: calc(100% - 60px);
                    box-shadow: 0 0 10px 5px rgba(63, 63, 63, 0.2);
                    border-radius: $border-radius;
                    overflow: hidden;
                    background-color: white;
                    z-index: 2;
                    border-radius: $border-radius;
                    padding: 30px;

                    .csCounselor-image {
                        width: 100%;
                        height: 40%;

                        a {
                            display: block;
                            height: 100%;
                            cursor: pointer;

                            img {
                                max-height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }

                    }

                    a {
                        color: black;
                        cursor: pointer;

                        .csC-doctor__name {
                            text-align: center;
                            width: 100%;
                            @include h5;
                            padding: 0 10px;
                        }
                    }

                    .csC-type_title {
                        text-align: left;
                        width: 100%;
                        @include h6;
                        padding: 0 10px;
                    }

                    .csC-type_tag {
                        justify-content: center;
                        padding: 10px 0;

                        span {
                            text-align: center;
                            margin: 0 5px;
                            color: #c43261;
                        }
                    }

                    .csC-doctor__info {
                        width: 100%;
                        padding: 0 10px;

                        .csC-doctor__list>li {

                            .csS-list>li {
                                display: block;
                                line-height: 1.5em;
                                text-indent: -7.5px;
                                padding-left: 13.5px;
                                font-size: 1rem;

                                i {
                                    display: inline-block;
                                    font-size: 10px;
                                    transform: scale(0.8);
                                    padding-right: 5px;
                                    vertical-align: middle;
                                    color: rgb(101, 179, 145);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        outline: none;
        color: $color-pink;
        background: white;
        padding: 40px;
        border-radius: 50%;
        top: 15rem;

        &:active {
            background: $color-pink;
            color: white;
        }
    }

    .swiper-button-next {
        right: -60%;
    }

    .swiper-button-prev {
        left: -60%;
    }
}

@media (max-width:576px) {

    .csCounselor-cards .swiper-button-next,
    .csCounselor-cards .swiper-button-prev {
        display: none;
    }
}