.csMain,
.csCounselor-cards,
.csSelf {
	* {
		margin: 0;
		padding: 0;
	}

	h1 {
		@include h1;
	}

	h2 {
		@include h2;
	}

	h3 {
		@include h3;
	}

	h4 {
		@include h4;
	}

	h5 {
		@include h5;
	}

	h6 {
		@include h6;
	}

	p {
		@include p;
	}

	.small {
		font-size: $fontsize - 2px;
		font-weight: 300;
	}

	.article {
		margin: 20px;
		width: 500px;
	}

	.button1 {
		@include btn-modules($bw, $color-pink, $fontsize);
	}

	.button2 {
		@include btn-modules($bw, $color-pink, $fontsize * 1.25);
	}

	.button3 {
		@include btn-more(150px, $color-pink, $fontsize * 1);
	}

	.button3 {
		@include btn-more(80px, $color-pink, $fontsize);
	}

	.button4 {
		@include btn-prepay($bw, $fontsize);
	}
}