@import '../vender/reset';
@import '../vender/var';
@import '../vender/variable';


h1{
    @include h1;
}
h2{
    @include h2;
}
h3{
    @include h3;
}
h4{
    @include h4;
}
h5{
    @include h5;
}
h6{
    @include h6;
}
p{
    @include p;
}
#oracleCard{
    .oracleCardInner{
        width: 100%;
        margin: auto;
        position: relative;
        &::before{
            content: '';
            display: block;
            position: absolute;
            left: 15%;
            top: 3%;
            width: 300px;
            height: 400px;
            background-image: url(/img/oracleCard/cloud_d.png);
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .oracleCardBanner{
            display: block;
            width: 100%;
            height: 100vh;
            position: relative;
            &::before{
                content: '';
                display: inline-block;
                width: 100%;
                height: 100vh;
                position: absolute;
                left: 0;
                top: 0;
                background-image: url(/img/oracleCard/inCardBanner.png);
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
            &::after{
                position: absolute;
                content: '';
                bottom: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(50%);
                width: 700px;
                height: 700px;
                display: inline-block;
                background-image: url(/img/oracleCard/moon_b.png);
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;

            }

            .oracleCardBox{
                position: absolute;
                bottom: 200px;
                left: 50%;
                transform: translateX(-50%);
                margin: auto;
                width: 800px;
                background-color: rgba(255, 255, 255, 0.7);
                z-index: 1;
                border-radius: 30px;

                .title{
                    padding: 20px 60px 0px;
                    margin-bottom: 20px;
                    position: relative;
                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        left: -100%;
                        top: 0px;
                        width: 1800px;
                        height: 600px;
                        background-image: url(/img/oracleCard/cloud_h.png);
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        }
                    &::after{
                        content: '';
                        display: block;
                        position: absolute;
                        right: -20%;
                        top: 130px;
                        width: 400px;
                        height: 200px;
                        background-image: url(/img/oracleCard/cloud_i.png);
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        }
                    h1{
                        text-align: center;
                        position: relative;

                        &::before{
                            content: '';
                            display: block;
                            position: absolute;
                            right: -28%;
                            top: -190%;
                            width: 50px;
                            height: 100px;
                            background-image: url(/img/oracleCard/cloud_d.png);
                            background-position: center center;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                        &::after{
                            content: '';
                            display: block;
                            position: absolute;
                            right: -40%;
                            top: -150px;
                            width: 100px;
                            height: 100px;
                            background-image: url(/img/oracleCard/moon_a.png);
                            background-position: center center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            }
                    }
                }

                .txt{
                    padding: 0px 100px 50px;
                    letter-spacing: 2px;
                    line-height: 20px;

                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        right: -28%;
                        top: -35%;
                        width: 50px;
                        height: 100px;
                        background-image: url(/img/oracleCard/cloud_i.png);
                        background-position: center center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }
        }

        .oracleCardStep{
            width: 100%;
            margin: auto;
            height: 100vh;
            display: flex;
            background-image: linear-gradient(to bottom ,#eee2ef 0% ,#d6ebfb 100%);

            .stepBg{
                display: flex;
                flex-wrap: wrap;
                margin: 50px auto 0;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                height: 100vh;

                .stepNum{
                    width: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    li{
                        width: 100%;
                        margin-bottom: 30px;
                        position: relative;

                        &:not(:nth-child(1))::before{
                            content: '';
                            display: block;
                            width: 2px;
                            height: 30px;
                            background: #000;
                            position: absolute;
                            z-index: 5;
                            top: -30px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                        
                        h3{
                            cursor: pointer;
                            @include h3;
                            width: 50px;
                            height: 50px;
                            line-height: 50px;
                            background-color: rgb(255, 255, 255);
                            // border: 1px solid #000;
                            border-radius: 50%;
                            color: #000000;
                            text-align: center;
                            transition: 0.5s;
                        }
                        .h3Color{
                            background-color: #ffa492;
                            color: #fff;
                            transition: 0.5s;
                        }
                    }
                    
                }
                .showImg{
                    position: relative;
                    width: 500px;

                    .showImgBg{
                        width: 100%;
                        transition: 1s;

                        img{
                            width: 100%;
                        }
                    }
                    .mainImg{
                        position: absolute;
                        left: 50px;
                        top: 50px;
                        width: 100%;
                        max-width: 400px;
                        height: 100%;
                        max-height: 400px;

                        img{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            transform: scale(0.8);
                            transition: 1s;
                            transition-delay: opacity 1s;
                        }
                        .opacity1{
                            opacity: 1;
                            transform: scale(1);
                            transition-delay: opacity 1s;
                        }
                    }
                    
                    
                }
                .showTxt{
                    width: 400px;
                    position: relative;

                    .txt{
                        position: absolute;
                        left: 0;
                        top: -100px;
                        width: 100%;
                        opacity: 0;

                        h2{
                            @include h4;
                            margin-bottom: 5px;
                        }
                        h3{
                            @include h3;
                            margin-bottom: 10px;
                            color: #e86659;
                        }

                        p{
                            @include p;
                        }
                    }
                    .opacity2{
                        opacity: 1;
                        transition: 2s;
                    }
                }
                .cardBtn{
                    width: 100%;
                    margin: auto;
                    margin-top: -20px;
                    bottom: 20px;
                    text-align: center;
                    position: relative;

                    &::before,&::after{
                        cursor: pointer;
                        content: '';
                        display: inline-block;
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        left: 50%;
                        bottom: -50px;
                        transform: translateX(-50%);
                        background-image: url(/img/oracleCard/down_png.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center center;
                        animation: downDown1 2s infinite ease-in-out;
                    }
                    &::after{
                        bottom: -65px;
                        animation: downDown2 2s infinite ease-in-out;
                    }
                    @keyframes downDown1{
                        0%{
                            bottom: -50px;
                        }
                        50%{
                            bottom: -65px;
                        }
                        100%{
                            bottom: -50px;
                        }
                    }
                    @keyframes downDown2{
                        0%{
                            bottom: -65px;
                        }
                        50%{
                            bottom: -85px;
                        }
                        100%{
                            bottom: -65px;
                        }
                    }

                    button{
                        &:focus{
                            display: none;
                        }

                        @include btn-modules($bw, $color-pink, $fontsize);
                        @keyframes btnScale{
                            0%{
                                // font-size: 18px;
                                transform: scale(1);
                            }
                            50%{
                                // font-size: 22px;
                                transform: scale(1.2);
                            }
                            100%{
                                // font-size: 18px;
                                transform: scale(1);
                            }
                        }
                    }
                } 
                
            }
        }

        .oracleCardStepOne{
            width: 100%;
            margin: auto;
            height: 100vh;
            display: flex;
            flex-wrap: wrap;
            
            .oracleCardStepOneBox{
                width: 100%;
                height: 100vh;
                margin: auto;
                text-align: center;

                .title{
                    width: 100%;
                    padding: 100px 0;
                    margin: 0px auto;
                    h2{
                        transition: .8s;
                    }
                }

                .cards{
                    margin: 0 auto;
                    width: 100%;
                    position: relative;
                    .item{
                        position: relative;
                        transition: all 1s linear;
                        perspective: 300px;
                        transform-style: preserve-3d;
                        transition: 2s;
                        .sameSet{
                            position: absolute;
                            left: 0;
                            right: 0;
                            border-radius: 10px;
                            transition: transform 2s;
                            height: 100%;
                        }
                        .itemImg{
                            width: 100%;
                            cursor: pointer;
                            opacity: 1;
                            img{
                                animation: cardShack 2s infinite linear;
                                transform: rotateY(0deg) translateZ(1px) scale(1);
                                width: 100%;
                                vertical-align: bottom;
                                border-radius: 10px;
                                transition: 2s;
                                box-shadow: 2px 5px 10px 3px rgba(117,117,117,0.2);
                            }
                            
                            @keyframes cardShack{
                                0%{
                                    transform: rotate(0deg);
                                }
                                25%{
                                    transform: rotate(-2deg);
                                }
                                50%{
                                    transform: rotate(0deg);
                                }
                                75%{
                                    transform: rotate(2deg);
                                }
                                100%{
                                    transform: rotate(0deg);
                                }
                            }
                            @keyframes cardShack1{
                                0%{
                                    transform: rotate(0deg);
                                }
                                25%{
                                    transform: rotate(2deg);
                                }
                                50%{
                                    transform: rotate(0deg);
                                }
                                75%{
                                    transform: rotate(-2deg);
                                }
                                100%{
                                    transform: rotate(0deg);
                                }
                            }
                            @keyframes cardShackHover{
                                0%{
                                    transform: rotate(0deg);
                                }
                                25%{
                                    transform: rotate(-5deg);
                                }
                                50%{
                                    transform: rotate(0deg);
                                }
                                75%{
                                    transform: rotate(5deg);
                                }
                                100%{
                                    transform: rotate(0deg);
                                }
                            }
                        }
                        .itemRemoveOpacity{
                            opacity: 0 !important;
                            transition: .3s;
                            transition-delay: .3s;
                            img{
                                transform: scale(1);
                            }
                        }
                        .itemImgBack{
                            width: 100%;
                            cursor: pointer;
                            transform: rotateY(180deg);
                            transition: 2s;
                            

                            img{
                                width: 100%;
                                animation: cardShack1 2s infinite linear;
                                vertical-align: bottom;
                                border-radius: 10px;
                                transition: 2s;
                                // transform: scale(0.95);
                                transform: scale(1);
                                box-shadow: 2px 5px 10px 3px rgba(117,117,117,0.2);
                                
                            }
                        }
                        .cardTxt{
                            position: absolute;
                            left: -500%;
                            top: 0;
                            max-width: 600px;
                            width: 600px;
                            display: inline-block;
                            transition: 2s;
                            overflow: hidden;
                            
                            h2{
                                width: 100%;
                                margin-bottom: 50px;
                                opacity: 0;
                                transition: 2s ease-in-out;
                                // transform: translateX(-100%);
                            }
                            p{
                                opacity: 0;
                                padding: 0 20px;
                                letter-spacing: 0.8px;
                                width: 100%;
                                // transform: translateX(-100%);
                                transition: 2s ease-in-out;
                                text-align: left;
                                // word-wrap:break-word;
                            }
                            .h2AddOpacity{
                                opacity: 1;
                                // transition: 2s ease-in-out;
                                transform: translateX(0);
                                transition-delay: 1.5s;
                            }
                            .pAddOpacity{
                                opacity: 1;
                                transform: translateX(0);
                                // transition: 2s ease-in-out;
                                transition-delay: 2.5s;
                            }
                        }
                        .cardTxtLeft{
                            left: 100%;
                        }
                        
                        
                    }
                    .item:nth-child(1){
                        position: absolute;
                        left: (100/4)+0%;
                        transform: translateX(-50%);
                    }
                    .item:nth-child(2){
                        position: absolute;
                        left: (200/4)+0%;
                        transform: translateX(-50%);
                    }
                    
                    .item:nth-child(3){
                        position: absolute;
                        left: (300/4)+0%;
                        transform: translateX(-50%);
                    }
                    .item.middle{
                        left: 50%;
                    }

                }
                #getPhoto{
                    width: 100%;
                    height: 100px;
                    color: #f0f;
                    position: absolute;
                    bottom: -50px;
                    left: 0;
                }
                #cutPhoto{
                    margin-left: auto;
                    width: 300px;
                    height: 300px;
                    border: 1px solid #333;
                        
                    canvas{
                        width: 100%;
                    }
                }
            }
        }
    }
}


// @media screen and(max-width: 980px) {
//     .oracleCardStep{
//         .oracleCardStepBox{
//             .step{
//                 ol{
//                     li{
//                         width: 300px;
//                         background-color: #333;
//                     }
//                 }
//             }
//         }
//     }
// }