@import '../vender/reset';
@import '../vender/var';
@import '../vender/variable';


h1{
    @include h1;
}
h2{
    @include h2;
}
h3{
    @include h3;
}
h4{
    @include h4;
}
h5{
    @include h5;
}
h6{
    @include h6;
}
p{
    @include p;
}
#oracleCard{
    .oracleCardInner{
        width: 100%;
        margin: auto;

        .oracleCardBanner{
            display: block;
            width: 100%;
            height: 100vh;
            position: relative;
            &::before{
                content: '';
                display: inline-block;
                width: 100%;
                height: 100vh;
                position: absolute;
                left: 0;
                top: 0;
                background-image: url(/img/oracleCard/inCardBanner.png);
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }

            .oracleCardBox{
                position: absolute;
                bottom: 200px;
                left: 50%;
                transform: translateX(-50%);
                margin: auto;
                width: 500px;
                background-color: #fff;

                .title{
                    padding: 20px 60px 0px;
                    margin-bottom: 20px;
                    position: relative;
                    &::before,&::after{
                        content: '';
                        display: inline-block;
                        position: absolute;
                        left: 10px;
                        top: 12px;
                        width: 85px;
                        height: 1px;
                        background: #333;
                    }
                    &::after{
                        width: 1px;
                        height: 60px;
                    }
                    h1{
                        text-align: center;
                    }
                }

                .txt{
                    padding: 0px 40px 50px;
                    letter-spacing: 2px;
                    line-height: 20px;
                    &::before,&::after{
                        content: '';
                        display: inline-block;
                        position: absolute;
                        right: 10px;
                        bottom: 12px;
                        width: 85px;
                        height: 1px;
                        background: #333;
                    }
                    &::after{
                        width: 1px;
                        height: 60px;
                    }
                }
            }
        }

        .oracleCardStep{
            width: 100%;
            margin: auto;
            height: 100vh;
            display: flex;
            background-color: #F9F5F0;

            .stepBg{
                display: flex;
                width: 100%;

                .stepNum{
                    width: 100px;
                    height: 100vh;
                    background-color: #777;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    li{
                        width: 100px;
                        height: 100px;
                        background-color: rgb(134, 51, 51);
                        color: #311010;
                        h3{
                            @include h3;
                        }
                    }
                }
            }
        }

        .oracleCardStepOne{
            width: 100%;
            margin: auto;
            height: 100vh;
            display: flex;
            flex-wrap: wrap;
            
            .oracleCardStepOneBox{
                width: 100%;
                height: 100vh;
                margin: auto;
                text-align: center;

                .title{
                    width: 100%;
                    padding: 100px 0;
                    margin: 0px auto;
                    h2{
                        transition: .8s;
                    }
                }

                .cards{
                    margin: 0 auto;
                    width: 100%;
                    position: relative;
                    .item{
                        position: relative;
                        transition: all 1s linear;
                        perspective: 300px;
                        transform-style: preserve-3d;
                        transition: 2s;
                        .sameSet{
                            position: absolute;
                            left: 0;
                            right: 0;
                            border-radius: 10px;
                            transition: transform 2s;
                            height: 100%;
                        }
                        .itemImg{
                            width: 100%;
                            cursor: pointer;
                            opacity: 1;
                            img{
                                animation: cardShack 2s infinite linear;
                                transform: rotateY(0deg) translateZ(1px) scale(1);
                                width: 100%;
                                vertical-align: bottom;
                                border-radius: 10px;
                                transition: 2s;
                                box-shadow: 2px 5px 10px 3px rgba(117,117,117,0.2);
                            }
                            
                            @keyframes cardShack{
                                0%{
                                    transform: rotate(0deg);
                                }
                                25%{
                                    transform: rotate(-2deg);
                                }
                                50%{
                                    transform: rotate(0deg);
                                }
                                75%{
                                    transform: rotate(2deg);
                                }
                                100%{
                                    transform: rotate(0deg);
                                }
                            }
                            @keyframes cardShack1{
                                0%{
                                    transform: rotate(0deg);
                                }
                                25%{
                                    transform: rotate(2deg);
                                }
                                50%{
                                    transform: rotate(0deg);
                                }
                                75%{
                                    transform: rotate(-2deg);
                                }
                                100%{
                                    transform: rotate(0deg);
                                }
                            }
                            @keyframes cardShackHover{
                                0%{
                                    transform: rotate(0deg);
                                }
                                25%{
                                    transform: rotate(-5deg);
                                }
                                50%{
                                    transform: rotate(0deg);
                                }
                                75%{
                                    transform: rotate(5deg);
                                }
                                100%{
                                    transform: rotate(0deg);
                                }
                            }
                        }
                        .itemRemoveOpacity{
                            opacity: 0 !important;
                            transition: .3s;
                            transition-delay: .3s;
                            img{
                                transform: scale(1);
                            }
                        }
                        .itemImgBack{
                            width: 100%;
                            cursor: pointer;
                            transform: rotateY(180deg);
                            transition: 2s;
                            

                            img{
                                width: 100%;
                                animation: cardShack1 2s infinite linear;
                                vertical-align: bottom;
                                border-radius: 10px;
                                transition: 2s;
                                // transform: scale(0.95);
                                transform: scale(1);
                                box-shadow: 2px 5px 10px 3px rgba(117,117,117,0.2);
                                
                            }
                        }
                        .cardTxt{
                            position: absolute;
                            left: -500%;
                            top: 0;
                            max-width: 600px;
                            width: 600px;
                            display: inline-block;
                            transition: 2s;
                            overflow: hidden;
                            
                            h2{
                                width: 100%;
                                margin-bottom: 50px;
                                opacity: 0;
                                transition: 2s ease-in-out;
                                // transform: translateX(-100%);
                            }
                            p{
                                opacity: 0;
                                padding: 0 20px;
                                letter-spacing: 0.8px;
                                width: 100%;
                                // transform: translateX(-100%);
                                transition: 2s ease-in-out;
                                text-align: left;
                                // word-wrap:break-word;
                            }
                            .h2AddOpacity{
                                opacity: 1;
                                // transition: 2s ease-in-out;
                                transform: translateX(0);
                                transition-delay: 1.5s;
                            }
                            .pAddOpacity{
                                opacity: 1;
                                transform: translateX(0);
                                // transition: 2s ease-in-out;
                                transition-delay: 2.5s;
                            }
                        }
                        .cardTxtLeft{
                            left: 100%;
                        }
                        
                        
                    }
                    .item:nth-child(1){
                        position: absolute;
                        left: (100/4)+0%;
                        transform: translateX(-50%);
                    }
                    .item:nth-child(2){
                        position: absolute;
                        left: (200/4)+0%;
                        transform: translateX(-50%);
                    }
                    
                    .item:nth-child(3){
                        position: absolute;
                        left: (300/4)+0%;
                        transform: translateX(-50%);
                    }
                    .item.middle{
                        left: 50%;
                    }

                }
                #getPhoto{
                    width: 100%;
                    height: 100px;
                    color: #f0f;
                    position: absolute;
                    bottom: -50px;
                    left: 0;
                }
                #cutPhoto{
                    margin-left: auto;
                    width: 300px;
                    height: 300px;
                    border: 1px solid #333;
                        
                    canvas{
                        width: 100%;
                    }
                }
            }
        }
    }
}


// @media screen and(max-width: 980px) {
//     .oracleCardStep{
//         .oracleCardStepBox{
//             .step{
//                 ol{
//                     li{
//                         width: 300px;
//                         background-color: #333;
//                     }
//                 }
//             }
//         }
//     }
// }