@import './reset';
@import './var';
@import './variable';
input {
    outline: none;
}

#form>form {
    display: flex;
    height: 70vh;
    width: 90vw;
    border-radius: 30px;
    margin: 3vh auto auto auto;
    align-items: flex-end;
    background-color: #ebf5ff;
    overflow: hidden;
    padding: 50px 0;
    flex-wrap: wrap;
    box-shadow: $boxshadow;
    #qsBox {
        border-radius: 30px;
        width: 90vw;
        margin: 0 auto;
        height: auto;
        padding-bottom: 50px;
        overflow-y: auto;
    }
}

.qsAsk {
    background-color: rgb(197, 221, 248);
    border-radius: 0 24px 24px 24px;
    width: fit-content;
    padding: 14px 21px 14px 21px;
    margin: 30px 0;
}

.askContent {
    display: flex;
    .askPic {
        width: 60px;
        height: 60px;
        margin: 20px;
        border-radius: 50%;
        background-color: grey;
    }
}

.ansButton--start {
    text-align: center;
    .qsStart {
        @include btn-modules($bw, $color-pink, $fontsize)
    }
}

.qsAns {
    background-color: pink;
    border-radius: 24px 0px 24px 24px;
    width: fit-content;
    padding: 14px 21px 14px 21px;
    margin: 30px 0;
}

.ansContent {
    width: fit-content;
    display: flex;
    margin-left: auto;
    .ansPic {
        width: 60px;
        height: 60px;
        margin: 20px;
        border-radius: 50%;
        background-color: grey;
    }
}

.ansButtons-grades {
    text-align: center;
    .qsQrades {
        width: 50px;
        height: 50px;
        padding: 10px 18px;
        margin: 0px 5px;
        font-size: $fontsize + 2px;
        font-weight: 400;
        text-align: center;
        border-radius: 50%;
        border: 2px solid $color-pink;
        color: $color-pink;
        cursor: pointer;
        background-color: transparent;
        transition: .2s all ease-in;
        &:hover {
            background-color: $color-pink;
            color: #fff;
        }
    }
}

.text_skip {
    @include btn-more(200px, $color-pink, $fontsize);
    position: fixed;
    left: 88%;
    top: 88% // margin: 20px;
}

.test_submit {
    @include btn-more($bw, $color-pink, $fontsize);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 20px 0;
}

.step-indicator {
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.step {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.step-indicator .step-icon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #c2c2c2;
    font-size: 10px;
    text-align: center;
    color: #ffffff;
    position: relative;
    line-height: 50px;
    font-size: 20px;
    transition: all 0.5 linear;
    transition-delay: 0.5s;
}

.step.active {
    background: crimson;
}

.indicator-line {
    width: 100%;
    height: 2px;
    background: #c2c2c2;
    flex: 1;
    transition: all 0.5 linear;
}

.indicator-line.active {
    background: crimson;
}

@media screen and (max-width: 500px) {
    .step p {
        font-size: 11px;
        bottom: -20px;
    }
}