<<<<<<< HEAD
.test_content {
    max-width: 1200px;
    margin: auto;
    background-color: #ffe7e7;
    box-shadow: 2px 10px 10px 5px #ddd;
    border-radius: 2%;
    .test-content_box {
        width: 100%;
        .test-content-box_title {
            font-size: 34px;
            text-align: center;
            padding-top: 5%;
        }
        .test-content-box_pic {
            width: 400px;
            height: 400px;
            margin: auto;
            margin-top: 2%;
        }
        .test-content-box_word {
            text-align: center;
            font-size: 22px;
            color: #949494;
        }
        .test-content-box_but {
            .testResult_submit {
                @include btn-modules($bw, $color-pink, $fontsize);
            }
            margin-bottom: 4%;
            text-align: center;
            margin-top: 2%;
        }
    }
    .test-content_result {
        .test-content-result_word {
            width: 100%;
            display: flex;
            .test-content-result-word_title {
                font-size: 32px;
                margin-left: 20%;
                width: 20%;
            }
            ul {
                width: 80%;
                font-size: 22px;
                line-height: 2;
                font-weight: 300;
            }
        }
        .test-content-result_but {
            margin-left: 75%;
            padding-bottom: 5%;
            margin-top: 2%;
            .testResult_reservation {
                @include btn-modules($bw, $color-pink, $fontsize);
            }
        }
    }
}

@media screen and(max-width:768px) {
    .test_content {
        max-width: 700px;
        .test-content_result {
            .test-content-result_word {
                .test-content-result-word_title {
                    width: 25%;
                    font-size: 30px;
                    margin-left: 5%;
=======
                .test_content {
                    max-width: 1200px;
                    margin: auto;
                    background-color: #ffe7e7;
                    box-shadow: 2px 10px 10px 5px #ddd;
                    border-radius: 2%;
                    .test-content_box {
                        width: 100%;
                        .test-content-box_title {
                            font-size: 34px;
                            text-align: center;
                            padding-top: 5%;
                        }
                        .test-content-box_pic {
                            width: 400px;
                            height: 400px;
                            margin: auto;
                            margin-top: 2%;
                        }
                        .test-content-box_word {
                            text-align: center;
                            font-size: 22px;
                            color: #949494;
                        }
                        a {
                            .test-content-box_but {
                                margin-bottom: 4%;
                                input {
                                    @include btn-modules($bw, $color-pink, $fontsize);
                                }
                            }
                        }
                    }
                    .test-content_result {
                        .test-content-result_word {
                            width: 100%;
                            display: flex;
                            .test-content-result-word_title {
                                font-size: 32px;
                                margin-left: 20%;
                                width: 20%;
                            }
                            ul {
                                width: 80%;
                                font-size: 22px;
                                line-height: 2;
                                font-weight: 300;
                            }
                        }
                        .test-content-result_but {
                            margin-left: 60%;
                            padding-bottom: 5%;
                        }
                    }
>>>>>>> 12eb88658db3c9ac72f6c1cfd0ecfeeffd819ed2
                }
                ul {
                    font-size: 19px;
                }
            }
            .test-content-result_but {
                margin-left: 75%;
            }
        }
    }
}

@media screen and (max-width:576px) {
    .test_content {
        max-width: 400px;
        .test-content_box {
            .test-content-box_title {
                font-size: 24px;
            }
            .test-content-box_pic {
                width: 250px;
                height: 250px;
                margin: auto;
                margin-top: 2%;
            }
            .test-content-box_word {
                font-size: 18px;
            }
            .test-content-box_but {
                .testResult_submit {
                    @include btn-more($bw, $color-pink, $fontsize);
                }
            }
        }
        .test-content_result {
            .test-content-result_word {
                .test-content-result-word_title {
                    width: 30%;
                    font-size: 17px;
                    margin-left: 2%;
                }
                ul {
                    font-size: 14px;
                }
            }
            .test-content-result_but {
                margin-left: 0;
                text-align: center;
                .testResult_reservation {
                    @include btn-more($bw, $color-pink, $fontsize);
                }
            }
        }
    }
}