
body{
    box-sizing: border-box;
    font-weight:400;
    font-family: $font-style;
    margin: 0;

}

//各級字

@mixin h1{
    font-size: $fontsize*2.5;
    line-height: $line-height;
    letter-spacing:$letter-spacing;
}

@mixin h2{
    font-size: $fontsize*2.25;
    line-height: 1.5;
    letter-spacing:$letter-spacing;
}

@mixin h3{
    font-size: $fontsize*2;
    line-height: 1.5;
    letter-spacing:$letter-spacing;
}

@mixin h4{
    font-size: $fontsize*1.75;
    line-height: 1.5;
    letter-spacing:$letter-spacing;
}

@mixin h5{
    font-size: $fontsize*1.5;
    line-height: 1.5;
    letter-spacing:$letter-spacing;
}

@mixin h6{
    font-size: $fontsize*1.25;
    line-height: 1.5;
    letter-spacing:$letter-spacing;
}


//閱讀字
@mixin p{
    font-size: $fontsize;
    font-family: $font-style;
    font-weight: 300;
    letter-spacing:0.8px ;
    line-height: 2;
}

//(大)立即預約、立即報名按鈕、開始測驗
@mixin btn-modules($bw, $color-pink, $fontsize) {
        
        display: inline-block;
        padding: 10px 30px;
        font-size: $fontsize*1.25;
        font-weight: 500;
        text-align: center;
        border-radius: $border-radius;
        border: 2px solid $color-pink;
        color: #fff;
        cursor: pointer;
        background-color: $color-pink;
        transition: .2s all ease-in;
        &:hover {
            background-color: darken($color-pink, 15%);
            border:2px solid darken($color-pink, 15%);
        }

        &:focus{
            display: none;
       }
    
}

//(小) 專欄暸解更多、活動小卡立即報名、篩選、分數
@mixin btn-more($bw, $color-pink, $fontsize) {
    display: inline-block;
    padding: 5px 10px;
    font-size: $fontsize - 2px;
    font-weight: 400;
    text-align: center;
    border-radius: $border-radius;
    border: 2px solid $color-pink;
    color: $color-pink;
    cursor: pointer;
    background-color: transparent;
    transition: .2s all ease-in;
    &:hover {
        background-color: $color-pink;
        color:#fff ;
    }

    &:focus{
        display: none;
   }

}

//諮商選項(現場電話視訊...)
@mixin btn-option($color-pink, $fontsize) {
    display: inline-block;
    padding: 10px 15px;
    font-size: $fontsize + 2px;
    font-weight: 400;
    text-align: center;
    border-radius: $border-radius;
    border: 2px solid $color-pink;
    color: $color-pink;
    cursor: pointer;
    background-color: transparent;
    transition: .2s all ease-in;

    &:hover {
        background-color: $color-pink;
        color:#fff ;
    }

    &:focus{
        display: none;
   }
}



//付款頁面按鈕(上一部、重新選擇)
@mixin btn-prepay($bw, $fontsize) {
    
    width: $bw;
    display: inline-block;
    padding: 15px 30px;
    font-size: $fontsize + 2px;
    font-weight: 500;
    text-align: center;
    border-radius: $border-radius;
    border: 2px solid rgb(214, 214, 214);
    background-color: transparent;
    color: rgb(196, 196, 196);
    cursor: pointer;
    transition: .2s all ease-in;

    &:hover {
        background-color: rgb(235, 235, 235);
   
    }

}

//付款頁面按鈕(下一步、確定付款...)
@mixin btn-paypage($bw, $color-pink, $fontsize) {
    
    width: $bw;
    display: inline-block;
    padding: 15px 30px;
    font-size: $fontsize + 2px;
    font-weight: 500;
    text-align: center;
    border-radius: $border-radius;
    border: 2px solid $color-blue;
    background-color: $color-blue;
    color: #fff;
    cursor: pointer;
    transition: .2s all ease-in;

    &:hover {
        background-color: darken($color-blue, 15%);
        border:2px solid darken($color-blue, 15%);
    }

}

//抽取神諭卡
@mixin btn-pickcard{
    position: relative;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s all ease-in;
    cursor: pointer;
    font-size: $fontsize ;
    font-weight: 400;
    text-align: center;
    border: none;
    

    
    &::before{
        content: '';
        display: inline-block;
        position: absolute;
        left: -30px;
        top: -13px;
        padding: 20px 20px;
        width: 150px;
        border-radius: $border-radius;
        background-clip:padding-box,border-box;
        background-origin:padding-box,border-box;
        background-image:linear-gradient(135deg,#fff,#fff),linear-gradient(135deg,$color-blue,$color-pink);        
        border:3px transparent solid;
        color: rgb(51, 51, 51);
        transition: .2s all ease-in;
        z-index: -1;
    }

    &:hover::before{
        width: 100%;
        padding: 20px 40px;
        transform: translateX(-15px);
        color: darken($color-blue, 15%);
        
    }
    &:hover{
    color: darken($color-blue, 15%);
    
    }

}



