@keyframes shake {
    0% {
        transform: translateX(0px);
    }
    33% {
        transform: translateX(4px);
    }
    66% {
        transform: translateX(-4px);
    }
    100% {
        transform: translateX(0px);
    }
}

.error_text {
    @include p;
    font-size: $fontsize - 2px;
    text-align: center;
}

form input.error_border,
.forgetpwd_from input.forget.error_border {
    border: 1px solid red;
}

form input.error,
form input.error2 {
    animation-name: shake;
    animation-fill-mode: forwards;
    animation-duration: .2s;
    animation-iteration-count: 1;
}

.welcome_container {
    background-image: linear-gradient(to top, #d1e3f5 0%, white 100%);
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    .welcome_logo {
        display: inline-block;
        width: 300px;
        img {
            width: 100%;
        }
    }
    .welcome_entry {
        margin: auto;
        max-width: 1000px;
        height: 500px;
        display: flex;
        justify-content: space-between;
        .left_btn {
            width: 50%;
            height: 100%;
            position: relative;
            margin: auto;
            .welcome_front {
                display: inline-block;
                margin: auto 0;
                width: 300px;
                height: 300px;
                border-radius: 50%;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                z-index: 11;
                cursor: pointer;
                &:after {
                    content: '';
                    position: absolute;
                    background: linear-gradient(120deg, #91d0ebd7, #ffa492c4);
                    border-radius: 50%;
                    border: 0 solid white;
                    top: -5px;
                    right: -5px;
                    bottom: -5px;
                    left: -5px;
                    transition: border 0.25s;
                }
                &:hover {
                    &:after {
                        border: 15px solid white;
                    }
                }
                h3 {
                    @include h3;
                    color: #000;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    z-index: 20;
                }
            }
        }
        .right_btn {
            width: 50%;
            height: 100%;
            position: relative;
            margin: auto;
            .welcome_back {
                display: inline-block;
                margin: auto 0;
                width: 300px;
                height: 300px;
                border-radius: 50%;
                border: none;
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                z-index: 11;
                cursor: pointer;
                &:focus {
                    outline: none;
                }
                &:after {
                    content: '';
                    position: absolute;
                    background: linear-gradient(220deg, #baeaffb7, #ffa694a4);
                    border-radius: 50%;
                    border: 0 solid white;
                    top: -5px;
                    right: -5px;
                    bottom: -5px;
                    left: -5px;
                    transition: border 0.25s;
                }
                &:hover {
                    &:after {
                        border: 15px solid white;
                    }
                }
                h3 {
                    @include h3;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translateY(-50%) translateX(-50%);
                    z-index: 20;
                }
            }
        }
    }
}

.circle {
    mix-blend-mode: multiply;
    border-radius: 100%;
    min-height: 100px;
    min-width: 100px;
    position: absolute;
    transform: translate3d(0, 0, 0);
    will-change: left, top;
    &.pink1 {
        background-color: #FFA492;
    }
    &.pink2 {
        background-color: #ffded7;
    }
    &.blue1 {
        background-color: #91D0EB;
    }
    &.blue2 {
        background-color: #cbf5ff;
    }
}

@media screen and(max-width:768px) {
    .welcome_container {
        .welcome_entry {
            flex-direction: column;
            justify-content: center;
            .left_btn {
                .welcome_front {
                    width: 200px;
                    height: 200px;
                    h3 {
                        font-size: 24px;
                    }
                }
            }
            .right_btn {
                .welcome_back {
                    width: 200px;
                    height: 200px;
                    h3 {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

//signup
.signup_overlay {
    border: 1px solid green;
    background: #f6f5f72c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 800;
    .container_close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        z-index: 11;
        &:hover,
        &:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.signup_overlay-none {
    display: none;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    h3 {
        @include h3;
        margin: 0;
    }
    h5 {
        @include h5;
        margin: 0;
    }
    p {
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        letter-spacing: 0.5px;
        margin: 20px 0 30px;
    }
    span {
        font-size: 12px;
    }
    a {
        color: #333;
        font-size: 14px;
        text-decoration: none;
        margin: 15px 0;
    }
    button {
        border-radius: 20px;
        border: 1px solid #FFA492;
        background-color: #FFA492;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        transition: transform 80ms ease-in;
        cursor: pointer;
    }
    button:active {
        transform: scale(0.95);
    }
    button:focus {
        outline: none;
    }
    button.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
    }
    form {
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 50px;
        height: 100%;
        text-align: center;
    }
    input {
        background-color: #eee;
        border: none;
        padding: 12px 15px;
        margin: 8px 0;
        width: 100%;
    }
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.backsign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-in-container {
    .moblie_switch {
        @include btn-more($bw, $color-blue, $fontsize);
        margin-top: 40px;
        display: none;
    }
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    .moblie_switch {
        @include btn-more($bw, $color-blue, $fontsize);
        margin-top: 40px;
        display: none;
    }
}

.container.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 10;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #FFA492;
    background: -webkit-linear-gradient(to right, #FFA492, #91D0EB);
    background: linear-gradient(to right, #FFA492, #91D0EB);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    //padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

@media (max-width: 600px) {
    .container {
        width: 80%;
        .overlay-container {
            display: none;
            // display: block;
            transform: translateX(100%);
        }
        .sign-in-container {
            width: 100%;
            // transform: translateX(100%);
            .moblie_switch {
                display: inline-block;
            }
        }
        .sign-up-container {
            transform: translateX(-100%);
            transition: .6s;
            .moblie_switch {
                display: inline-block;
            }
            // transform: translateX(-100%);
        }
        .sign-up-container-for-media {
            transform: translateX(0) !important;
            transition: .6s;
            width: 100%;
        }
        .right-panel-active {
            transform: translateX(0);
            //animation: show 10s;
            transition: .6s;
            .sign-up-container {
                opacity: 1;
                .moblie_switch {
                    display: inline-block;
                }
                // transform: translateX(-100%);
            }
        }
    }
}