                    .acCommentList {
                        display: flex;
                        box-shadow: $boxshadow;
                        border-radius: $border-radius;
                        background-color: white;
                        margin-bottom: 30px;
                        padding: 30px;
                        .acCommentList_img {
                            // border: 1px solid red;
                            overflow: hidden;
                            margin-bottom: 20px;
                            margin: auto 0;
                            width: 15%;
                            img {
                                width: 100%;
                                border-radius: 50%;
                            }
                        }
                        .acCommentList-text {
                            margin: auto 0;
                            width: 85%;
                            h6 {
                                padding: 0 3% 1% 3%;
                            }
                            p {
                                padding: 0 3%;
                                line-height: 1.5rem;
                            }
                        }
                    }
                    
                    @media screen and (max-width:575px) {
                        .acCommentList {
                            display: block;
                            .acCommentList_img {
                                display: block;
                                margin: 0 auto;
                                width: 200px;
                            }
                        }
                        .acCommentList-text {
                            h6 {
                                text-align: center;
                                margin: 10px 0;
                            }
                            p {
                                padding: 0 3%;
                                line-height: 1.5rem;
                            }
                        }
                    }