$space:300px;
// 問珮菁
@mixin center_re {
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
}
@mixin bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
@mixin icon {
    @include bg;
    width: 20px;//?
    height: 20px;//?
    display: inline-block;
}
@mixin title {
    display: inline-block;
    @include h1;
    align-self: center; 
    position: relative;               
    &:after{
        content: "";
        width: 100%;
        height: 20%; //?
        border-radius: $border-radius;
        background-color: #FFA492;
        position: absolute;
        bottom: -20px;//?
        left: 0;
        // 問珮菁

    }
}

.acSelect{
            
    .acSelectCard{
        display: inline-block;
        border-radius: $border-radius;
        box-shadow: $boxshadow;
        overflow: hidden;
                    
        a{
            display: inline-block;
            width: 100%;
            color: maroon;
            img{
                width: 100%;
            }
        }
    }    

    .acSelectCard_text{
        margin-top: 10px;
        display: flex;
        img{
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        .acSelectCard-time_icon{
            margin-left: 4%;
        }
        .acSelectCard_icon{
            margin-left: 15%;
        }
        
        .acSelectCard_time{
            margin: 0 15% 0 3%;
        }
    }
    
    .acSelectCard_title{
        border-bottom: 1px solid lightgray;
        padding-bottom: 30px;
    }
    .acSelectCard_bottomBlock{
        display: flex;
        justify-content: space-between;
        padding-left: 4%;
        .acSelectCard_person{
            display: inline-block;
        }
        #acSelectCard_register{
            display: inline-block;
            @include btn-more($color-pink, 14px);
            padding: 5px;
            margin-right: 10px
        }
    }

}