$space:300px;
// 問珮菁
@mixin center_re {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@mixin bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin icon {
    @include bg;
    width: 20px; //?
    height: 20px; //?
    display: inline-block;
}

@mixin title {
    display: inline-block;
    @include h1;
    align-self: center;
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 20%; //?
        border-radius: $border-radius;
        background-color: #FFA492;
        position: absolute;
        bottom: -20px; //?
        left: 0;
        // 問珮菁
    }
}

#nav3 {
    .top {
        .navbar {
            .navbar__menu {
                a:nth-child(3) {
                    color: $color-pink;
                }
                a:nth-child(3)::after {
                    transform: scaleX(1);
                    visibility: visible;
                }
            }
        }
    }
}

.acSelect,
.owl-carousel {
    .acSelectCard {
        display: inline-block;
        border-radius: $border-radius;
        background-color: white;
        box-shadow: $boxshadow;
        overflow: hidden;
        position: relative;
        text-align: left;
        a {
            // padding-left: 4%;
            display: inline-block;
            // width: 100%;
            color: maroon;
            img {
                width: 100%;
                height: 180px;
            }
        }
    }
    .acSelectCard_title {
        height: 70px;
    }
    .acSelectCard_icon {
        text-align: right;
        margin-right: 20px;
        position: absolute;
        right: 0;
        cursor: pointer;
        img {
            margin: 0 5px;
            width: 20px;
        }
        .acSelectCard-share_icon {
            display: inline-block;
        }
        .acSelectCard-bookmark_icon {
            display: inline-block;
            margin-left: 10px;
        }
        .bookMarkcolor {
            color: red;
        }
    }
    .acSelectCard_text {
        margin-top: 10px;
        display: flex;
        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
            margin-top: 8px;
        }
        .acSelectCard-time_icon {
            margin-left: 20px;
        }
        .acSelectCard_time {
            margin: 0 15% 0 3%;
        }
    }
    .acSelectCard_title {
        border-bottom: 1px solid lightgray;
        margin: 10px 20px;
        padding-bottom: 10px;
    }
    .acSelectCard_bottomBlock {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        position: absolute;
        bottom: 10px;
        .acSelectCard_person {
            display: inline-block;
            font-weight: 400;
            color: darkgray;
            padding: 2% 0;
            margin-right: 140px;
        }
        #acSelectCard_register {
            display: inline-block;
            @include btn-more($bw, $color-pink, $fontsize);
            padding: 5px;
            margin-right: 10px;
            margin-top: 10px;
        }
    }
}