<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/bgHead.html')
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <!-- top_header -->
    @@include('layout/top_header.html')

    <!-- 中間內容 -->
    <div id="app">
        <div class="container-fluid">
            <form action="" id="acAdd_form">
                <h1>活動新增與修改</h1><br>
                <!-- <input v-model="actno" type="hidden"> -->
                <span>活動標題：</span><input v-model="contents.actName" type="text" maxlength="16"><br><br>
                <span>活動類別：</span>
                <select v-model="contents.typename1" name="acType" id="acType">
                        <option value="講座">講座</option>
                        <option value="療癒">療癒</option>
                        <option value="戶外">戶外</option>
                        <option value="藝文">藝文</option>
                </select><br><br>
                <span>活動地點：</span><input v-model="contents.actAddress" type="text" maxlength="16"><br><br>
                <span>活動報名開始日期：</span>
                <input v-model="contents.actPstart" id="exampleDate" class="datepicker" name="date" type="text" value="" placeholder="" :data-value="contents.actPstart" />
                <input v-model="contents.actPstart" id="exampleTime" class="timepicker" type="time" name="time" value="" :data-value="contents.actPstart" /><br><br>
                <span>活動報名結束日期：</span>
                <input v-model="contents.actPend" id="exampleDate" class="datepicker" name="date" type="text" value="" placeholder="" :data-value="contents.actPend" />
                <input v-model="contents.actPend" id="exampleTime" class="timepicker" type="time" name="time" value="" :data-value="contents.actPend" /><br><br>
                <span>活動開始日期：</span>
                <input v-model="contents.actStart" id="exampleDate" class="datepicker" name="date" type="text" value="" placeholder="" :data-value="contents.actStart" />
                <input v-model="contents.actStart" id="exampleTime" class="timepicker" type="time" name="time" value="" :data-value="contents.actStart" /><br><br>
                <span>活動結束日期：</span>
                <input id="exampleDate" class="datepicker" name="date" type="text" value="" placeholder="" :data-value="contents.actEnd" />
                <input v-model="contents.actEnd" id="exampleTime" class="timepicker" type="time" name="time" value="" :data-value="contents.actEnd" /><br><br>
                <span>上限人數：</span><input v-model="contents.actMax" type="number"><br><br>
                <span>下限人數：</span><input v-model="contents.actMin" type="number"><br><br>
                <span>費用（NTD）：</span><input v-model="contents.actCost" type="number"><br><br>
                <span>活動狀態：</span>
                <input v-model.number="contents.actBool" type="radio" name="aaa" id="aaa" value="0"><label for="aaa">上架</label>
                <input v-model.number="contents.actBool" type="radio" name="aaa" id="aaa" value="1"><label for="aaa">下架</label>
                <br><br>
                <span>活動介紹：</span><pre><textarea v-model="contents.actContent" name="" id="" cols="200" rows="15" style="resize: none;"></textarea></pre>
                <img :src="image" alt="">
                <label for="">圖片一：</label><input type="file" name="" id="img1"><br>
                <img :src="image" alt="">
                <label for="">圖片二：</label><input type="file" name="" id="img2"><br><br>
                <span>舉辦人：</span><input v-model="contents.actHost" type="text"><br><br>
                <span>舉辦人稱謂：</span><input v-model="contents.actHostTitle" type="text"><br><br>
                <span>舉辦人介紹：</span><pre><textarea v-model="contents.actHostinfo" name=""  id="" cols="200" rows="10" style="resize: none;"></textarea></pre><br><br>
                <img :src="image" alt="">
                <label for="">舉辦人圖片：</label><input @click="onFileChange" type="file" name="" id=""><br><br>
                <div id="acAdd_submit_wrapper">
                    <input @click="submitForm" type="submit" id="acAdd_submit">
                </div>
            </form>


        </div>
    </div>

    @@include('layout/footer.html')

    <!-- DateTimePicker -->
    <!-- Core -->
    <script src="./js/picker.js "></script>
    <!-- Date Picker -->
    <script src="./js/picker.date.js "></script>
    <!-- Time Picker -->
    <script src="./js/picker.time.js "></script>
    <!-- Language -->
    <script src="./js/zh_TW.js "></script>
    <script>
        //寫入資料庫
        let vm = new Vue({
            el: "#app",
            data: {
                contents: [],
                index: 0,
                PdateTime: '',
                image: '',
            },
            computed: {

            },
            methods: {
                installDateTimePicker: function() {
                    // date picker
                    var $input = $('.datepicker').pickadate();

                    // Use the picker object directly.
                    var picker = $input.pickadate('picker');
                    $('.datepicker').pickadate({
                        labelMonthSelect: 'Select a month',
                        labelYearSelect: 'Select a year',
                        selectMonth: 'picker__select--month',
                        selectYear: 'picker__select--year',
                        min: new Date(),

                    });
                    $('.timepicker').pickatime({
                        interval: 60,
                        formatSubmit: 'HH:i',
                        hiddenName: true,

                    });
                    // picker.get(thing, format)
                },
                onFileChange(e) {
                    let file = e.target.file || e.dataTransfer.file;
                    if (!files.length) return;
                    this.createImage(files[0]);

                },
                createImage(file) {
                    let image = new Image();
                    let reader = new FileReader();
                    let vm = this;

                    reader.onload = (e) => {
                        vm.image = e.target.result;
                    };
                    reader.readAsDataURL(file);
                },
                submitForm: function(e) {
                    let actNo = this.contents.actNo;
                    let {
                        actName,
                    }
                    e.preventDefault();
                    this.contents.actStart = document.querySelectorAll(" input[name='date_submit']")[0].value + ' ' + document.querySelectorAll("input[name='time']")[0].value;
                    this.contents.actPend = document.querySelectorAll(" input[name='date_submit']")[1].value + ' ' + document.querySelectorAll("input[name='time']")[1].value;
                    this.contents.actStart = document.querySelectorAll(" input[name='date_submit']")[2].value + ' ' + document.querySelectorAll("input[name='time']")[2].value;
                    this.contents.actEnd = document.querySelectorAll(" input[name='date_submit']")[3].value + ' ' + document.querySelectorAll("input[name='time']")[3].value;

                    axios.post(`./php/acManagement.php?actNo`, this.contents)
                        .then((res) => {
                            this.contacts = res.data;
                            console.log(this.contacts);
                        }).catch((err) => {
                            console.log(err)
                        })

                }
            },
            mounted() {
                let actNo = location.href.split('?')[1].split('=')[1];
                var vm = this;
                axios.get(`./php/acManagement.php?actNo=${actNo}`).then((res) => {
                    this.contents = res.data[0]
                    console.log(res.data)

                    Vue.nextTick().then(function() {
                        vm.installDateTimePicker();
                    });
                })

            },

        })
    </script>
</body>

</html>