<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/bgHead.html')
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <!-- top_header -->
    @@include('layout/top_header.html')

    <!-- 中間內容 -->
    <div id="app">
        <div class="container-fluid">
            <form action="" id="acAdd_form" @submit.prevent="submitForm">
                <h1>活動新增與修改</h1><br>
                <!-- <input v-model="actno" type="hidden"> -->
                <span>活動標題：</span><input v-model="contents.actName" type="text" maxlength="16"><br><br>
                <span>活動類別：</span>
                <label for="acttype1">講座</label> <input type="checkbox" value="1" id="acttype1" v-model="contents.actTypeno">
                <label for="acttype2">療癒</label> <input type="checkbox" value="2" id="acttype2" v-model="contents.actTypeno">
                <label for="acttype3">戶外</label> <input type="checkbox" value="3" id="acttype3" v-model="contents.actTypeno">
                <label for="acttype4">藝文</label> <input type="checkbox" value="4" id="acttype4" v-model="contents.actTypeno"><br>

                <span>活動地點：</span><input v-model="contents.actAddress" type="text"><br><br>
                <span>活動報名開始日期：</span>
                <input id="exampleDate" class="datepicker" name="date" type="text" :data-value="contents.actPstart" />
                <input id="exampleTime" class="timepicker" type="time" name="time" :data-value="contents.actPstart" /><br><br>
                <span>活動報名結束日期：</span>
                <input id="exampleDate" class="datepicker" name="date" type="text" :data-value="contents.actPend" />
                <input id="exampleTime" class="timepicker" type="time" name="time" :data-value="contents.actPend" /><br><br>
                <span>活動開始日期：</span>
                <input id="exampleDate" class="datepicker" name="date" type="text" :data-value="contents.actStart" />
                <input id="exampleTime" class="timepicker" type="time" name="time" :data-value="contents.actStart" /><br><br>
                <span>活動結束日期：</span>
                <input id="exampleDate" class="datepicker" name="date" type="text" :data-value="contents.actEnd" />
                <input id="exampleTime" class="timepicker" type="time" name="time" :data-value="contents.actEnd" /><br><br>
                <span>上限人數：</span><input v-model="contents.actMax" type="number"><br><br>
                <span>下限人數：</span><input v-model="contents.actMin" type="number"><br><br>
                <span>費用（NTD）：</span><input v-model="contents.actCost" type="number"><br><br>
                <span>活動狀態：</span>
                <input v-model.number="contents.actBool" type="radio" name="aaa" id="aaa" value="0"><label for="aaa">上架</label>
                <input v-model.number="contents.actBool" type="radio" name="aaa" id="aaa" value="1"><label for="aaa">下架</label>
                <br><br>
                <span>活動介紹：</span><pre><textarea v-model="contents.actContent" name="" id="" cols="200" rows="15" style="resize: none;"></textarea></pre>
                <h6>*請直接點擊圖片修改</h6>
                <label for="banner">Banner：<br><img :src="contents.actpic1" alt=""></label><input type="file" name="actpic1" id="banner" style="display:none" @change="changePic($event,1)"><br><br>
                <label for="img1">圖片一（左）：<br><img :src="contents.actpic2" alt=""></label><input type="file" name="actpic2" id="img1" style="display:none" @change="changePic($event,2)"><br><br>
                <label for="img2">圖片二（右）：<br><img :src="contents.actpic3" alt=""></label><input type="file" name="actpic3" id="img2" style="display:none" @change="changePic($event,3)"><br><br>
                <span>舉辦人：</span><input v-model="contents.actHost" type="text"><br><br>
                <span>舉辦人稱謂：</span><input v-model="contents.actHostTitle" type="text"><br><br>
                <span>舉辦人介紹：</span><pre><textarea v-model="contents.actHostInfo" name=""  id="" cols="200" rows="10" style="resize: none;"></textarea></pre><br><br>
                <label for="holder">舉辦人圖片：<br><img :src="contents.actHostPic" alt=""></label><input type="file" name="actHostPic" id="holder" style="display:none" @change="changePic($event,4)"><br><br>
                <input type="button" @click="submitForm" id="acAdd_submit" value="提交">
                <!-- <div id="acAdd_submit_wrapper ">
                </div> -->
            </form>


        </div>
    </div>

    @@include('layout/footer.html')

    <!-- DateTimePicker -->
    <!-- Core -->
    <script src="./js/picker.js "></script>
    <!-- Date Picker -->
    <script src="./js/picker.date.js "></script>
    <!-- Time Picker -->
    <script src="./js/picker.time.js "></script>
    <!-- Language -->
    <script src="./js/zh_TW.js "></script>
    <script>
        //寫入資料庫
        let vm = new Vue({
            el: "#app ",
            data: {
                contents: {
                    actAddress: " ",
                    actBool: "0 ",
                    actContent: " ",
                    actCost: " ",
                    actEnd: " ",
                    actHost: " ",
                    actHostInfo: " ",
                    actHostTitle: " ",
                    actMax: " ",
                    actMin: " ",
                    actName: " ",
                    actNo: 0,
                    actPend: " ",
                    actPstart: " ",
                    actStart: " ",
                    actTypeno: [],
                    actHostPic: "./img/icon/upload.svg",
                    actpic1: "./img/icon/upload.svg",
                    actpic2: "./img/icon/upload.svg",
                    actpic3: "./img/icon/upload.svg",
                    csNo: " ",
                },
                file: '',
                fileUrl: '',
            },
            computed: {

            },
            methods: {
                installDateTimePicker: function() {
                    // date picker
                    var $input = $('.datepicker').pickadate();

                    // Use the picker object directly.
                    var picker = $input.pickadate('picker');
                    $('.datepicker').pickadate({
                        labelMonthSelect: 'Select a month',
                        labelYearSelect: 'Select a year',
                        selectMonth: 'picker__select--month',
                        selectYear: 'picker__select--year',
                        min: new Date(),

                    });
                    $('.timepicker').pickatime({
                        interval: 60,
                        formatSubmit: 'HH:i',
                        hiddenName: true,

                    });
                    // picker.get(thing, format)
                },

                submitForm: function(e) {
                    console.log(this.contents.actNo)
                        //修改時間資料
                    this.contents.actPstart = document.querySelectorAll(" input[name='date_submit' ] ")[0].value + ' ' + document.querySelectorAll("input[name='time' ] ")[0].value;
                    this.contents.actPend = document.querySelectorAll(" input[name='date_submit' ] ")[1].value + ' ' + document.querySelectorAll("input[name='time' ] ")[1].value;
                    this.contents.actStart = document.querySelectorAll(" input[name='date_submit' ] ")[2].value + ' ' + document.querySelectorAll("input[name='time' ] ")[2].value;
                    this.contents.actEnd = document.querySelectorAll(" input[name='date_submit' ] ")[3].value + ' ' + document.querySelectorAll("input[name='time' ] ")[3].value;
                    //將資料增加到FromData，回傳給php
                    let formData = new FormData();
                    formData.append("actNo", this.contents.actNo);
                    formData.append("actName", this.contents.actName);
                    formData.append("actPstart", this.contents.actPstart);
                    formData.append("actPend", this.contents.actPend);
                    formData.append("actStart", this.contents.actStart);
                    formData.append("actEnd", this.contents.actEnd);
                    formData.append("actContent", this.contents.actContent);
                    formData.append("actMin", this.contents.actMin);
                    formData.append("actMax", this.contents.actMax);
                    formData.append("actHost", this.contents.actHost);
                    formData.append("actHostInfo", this.contents.actHostInfo);
                    formData.append("actHostTitle", this.contents.actHostTitle);
                    formData.append("actCost", this.contents.actCost);
                    formData.append("actBool", this.contents.actBool);
                    formData.append("actAddress", this.contents.actAddress);
                    formData.append("csNo", this.contents.csNo);
                    formData.append("actpic1", this.contents.actpic1);
                    formData.append("actpic2", this.contents.actpic2);
                    formData.append("actpic3", this.contents.actpic3);
                    formData.append("actHostPic", this.contents.actHostPic);
                    formData.append("actTypeno", this.contents.actTypeno);


                    if (this.contents.actNo == 0) {
                        axios.post(`./php/acManagement_insert.php`, formData)
                            .then((res) => {
                                console.log(res);
                                location.replace('http://localhost:8888/backstage/acManagement.html');
                            }).catch((err) => {
                                console.log(err)
                            })
                    } else {
                        axios.post(`./php/acManagement_update.php`, formData)
                            .then((res) => {
                                console.log(res);
                                location.replace('http://localhost:8888/backstage/acManagement.html');
                            }).catch((err) => {
                                console.log(err)
                            })

                    }



                },

                changePic(event, data) {
                    //先抓到上傳圖片的input資料
                    const pic = event.target.files.item(0);
                    const reader = new FileReader();
                    reader.readAsDataURL(pic);
                    const num = data;
                    //將圖片顯示到螢幕預覽
                    if (data == 1) {
                        reader.onload = () => {
                            vm.$data.contents.actpic1 = reader.result;
                        }
                    } else if (data == 2) {
                        reader.onload = () => {
                            vm.$data.contents.actpic2 = reader.result;
                        }

                    } else if (data == 3) {
                        reader.onload = () => {
                            vm.$data.contents.actpic3 = reader.result;
                        }
                    } else {
                        reader.onload = () => {
                            vm.$data.contents.actHostPic = reader.result;
                        }
                    }

                    //把圖片的路徑回傳給php寫入mySQL
                    let formDataPic = new FormData();
                    formDataPic.append('file', pic);
                    formDataPic.append('picNo', num);
                    axios.post(`./php/uploadActPic.php`, formDataPic)
                        .then((res) => {
                            // 抓到圖片儲存位址可以再回來改src
                            if (data == 1) {
                                this.contents.actpic1 = res.data;
                            } else if (data == 2) {
                                this.contents.actpic2 = res.data;

                            } else if (data == 3) {
                                this.contents.actpic3 = res.data;

                            } else {
                                this.contents.actHostPic = res.data;
                            }
                        }).catch(function() {
                            console.log('FAILURE!!');
                        });
                },

            },
            mounted() {
                let actNo = location.href.split('?')[1].split('=')[1];
                var vm = this;
                if (actNo != 0) {
                    axios.get(`./php/acAdd.php?actNo=${actNo}`).then((res) => {
                        this.contents = res.data
                        console.log(res.data)

                    })

                }
                Vue.nextTick().then(function() {
                    vm.installDateTimePicker();
                });
            },


        })
    </script>
</body>

</html>