<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/bgHead.html')
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <!-- top_header -->
    @@include('layout/top_header.html')

    <!-- 中間內容 -->
    <div id="app">
        <div class="container-fluid">
            <h1>活動報名現況 － {{contents[0].actName}}</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <span>狀態查詢：</span>
                            <select name="" id="table_condition_year">
                                <option value="">全部</option>
                                <option value="">已付款</option>
                                <option value="">未付款</option>
                                <option value="">取消</option>
                                <option value="">已退款</option>
                            </select>

                        </div>
                        <div class="card-body">
                            <table class="table table-responsive-sm table-sm">
                                <thead>
                                    <tr>
                                        <th>訂單編號</th>
                                        <th>會員編號</th>
                                        <th>姓名</th>
                                        <th>電話</th>
                                        <th>電子郵件</th>
                                        <th>性別</th>
                                        <th>繳款時間</th>
                                        <th>票券</th>
                                        <th>付款金額</th>
                                        <th>訂單狀態</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(content, index) in contents">
                                        <td>{{contents[index].actOno}}</td>
                                        <td>{{contents[index].memNo}}</td>
                                        <td>{{contents[index].acName}}</td>
                                        <td>{{contents[index].acTel}}</td>
                                        <td>{{contents[index].acEmail}}</td>
                                        <td>{{contents[index].acGender}}</td>
                                        <td>{{contents[index].actOTime}}</td>
                                        <td>{{contents[index].Ticket}}</td>
                                        <td>{{contents[index].acPrice}}</td>
                                        <td v-if="contents[index].payment = 1">已付款</td>
                                        <td v-else="contents[index].payment = 2">已取消</td>
                                        <td v-else>未付款</td>
                                    </tr>

                                </tbody>
                            </table>
                            </tbody>
                        </div>
                    </div>
                    <div id="acDtail_back_wrapper">
                        <a href="./acRegistration.html"><button id="acDtail_back">回上一頁</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('layout/footer.html')
    <script>
        new Vue({
            el: "#app",
            data: {
                contents: [],
            },
            methods: {

            },
            mounted() {
                let actNo = location.href.split('?')[1].split('=')[1];
                var vm = this;
                if (actNo != 0) {
                    axios.get(`./php/acDetail.php?actNo=${actNo}`).then((res) => {
                        this.contents = res.data;
                        console.log(res.data);

                    })

                }
            },
        })
    </script>
</body>

</html>