<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/bgHead.html')
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <!-- top_header -->
    @@include('layout/top_header.html')

    <!-- 中間內容 -->
    <div id="app">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="acManagement_title">
                        <h1 class="acManagement_h1">活動管理</h1>
                        <a class="acManagement_newAc" href="./acAdd.html?actno=0"><button class="acManagement_addAc ">新增活動</button></a>
                    </div>
                    <div class="card ">
                        <div class="card-header ">活動查詢｜
                            <span>分類查詢：</span>
                            <select name=" " id="table_condition_year " v-model="typeSelect" @change="actTypeChange">
                                <option value="0">全部</option>
                                <option value="1">講座</option>
                                <option value="2">療癒</option>
                                <option value="3">戶外</option>
                                <option value="4">藝文</option>
                            </select>
                        </div>
                        <div class="card-body ">
                            <table class="table table-responsive-sm table-sm ">
                                <thead>
                                    <tr>
                                        <th>活動標題</th>
                                        <!-- <th>分類編號</th> -->
                                        <th>分類</th>
                                        <th>報名開始時間</th>
                                        <th>報名結束時間</th>
                                        <th>活動開始時間</th>
                                        <th>活動結束時間</th>
                                        <th>上限人數</th>
                                        <th>下限人數</th>
                                        <th>報名人數</th>
                                        <th>費用</th>
                                        <th>活動狀態</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(content,index) in contents">
                                        <td>{{contents[index].actName}}</td>
                                        <!-- <td>{{contents[index].actTypeNo}}<span v-if="contents[index].actTypeNo2!=0">、</span>{{contents[index].actTypeNo2}}</td> -->
                                        <td>{{contents[index].typename1}}<span v-if="contents[index].typename2!=null">、<br></span>{{contents[index].typename2}}</td>
                                        <td>{{contents[index].actPstart}}</td>
                                        <td>{{contents[index].actPend}}</td>
                                        <td>{{contents[index].actStart}}</td>
                                        <td>{{contents[index].actEnd}}</td>
                                        <td>{{contents[index].actMax}}</td>
                                        <td>{{contents[index].actMin}}</td>
                                        <td>{{contents[index].actCount}}</td>
                                        <td>${{contents[index].actCost}}</td>
                                        <td>{{contents[index].actBool}}</td>
                                        <td>
                                            <a :href="'./acAdd.html?actno=' + (index+1)"><button class="acManagement_edit">編輯</button></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @@include('layout/footer.html')

    <script>
        let vm = new Vue({
            el: "#app",
            data: {
                contents: [],
                index: 0,
                typeSelect: 0,
            },
            computed: {

            },
            methods: {
                actTypeChange() {
                    axios.get(`./php/acManagement.php?typeSelect=${this.typeSelect}`)
                        .then((res) => {
                            this.contents = res.data
                            console.log(res.data);
                        })
                }
            },
            mounted() {
                this.actTypeChange();
            },

        })
    </script>
</body>

</html>