<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/bgHead.html')
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js'></script>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <!-- top_header -->
    @@include('layout/top_header.html')

    <!-- 中間內容 -->

    <div class="container-fluid" id="AAA">
        <!-- @@include('layout/content.html') -->
        <div class="row">
            <div class="col-md-12">
                <div class="acManagement_title">
                    <h1 class="acManagement_h1">專欄管理</h1>
                    <a class="acManagement_newAc" href=" ./atMain_modify.html?artNo=0"><button class="acManagement_addAc ">新增文章</button></a>
                </div>


                <div class="card">
                    <div class="card-header">專欄查詢｜
                        <span>區間查詢：</span>
                        <select name="" id="table_condition_year">
                            <option value="">2020</option>
                            <option value="">2019</option>
                        </select>
                        <span>年</span>
                        <year></year>
                        <span>至</span>
                        <select name="" id="table_condition_year">
                            <option value="">2020</option>
                            <option value="">2019</option>
                        </select>
                        <span>年</span>
                        <year></year>
                        <span>分類查詢：</span>
                        <lime></lime>
                    </div>
                    <div class="card-body">
                        <class :init="cood"></class>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        Vue.component("year", {
            // props: ["dis"],
            data() {
                return {
                    months: [{
                        month: "1"
                    }, {
                        month: "2"
                    }, {
                        month: "3"
                    }, {
                        month: "4"
                    }, {
                        month: "5"
                    }, {
                        month: "6"
                    }, {
                        month: "7"
                    }, {
                        month: "8"
                    }, {
                        month: "9"
                    }, {
                        month: "10"
                    }, {
                        month: "11"
                    }, {
                        month: "12"
                    }],
                }
            },
            template: `
            <select name="" id="table_condition_mon">
                <option value="" v-for="aaa in months">{{aaa.month}}</option>
            </select>
            `
        })
        Vue.component("lime", {
            // props: ["dis"],
            data() {
                return {
                    asd: [{
                        calssall: "1.家庭關係"
                    }, {
                        calssall: "2.人際關係"
                    }, {
                        calssall: "3.伴侶關係"
                    }, {
                        calssall: "4.壓力創傷"
                    }, {
                        calssall: "5.自我探索"
                    }],
                }
            },
            template: `
            <select name="" id="table_condition_year">
                        <option  v-for="each in asd">{{each.calssall}}</option>
                        </select>               
            `
        })
        Vue.component("class", {
            props: ["init"],
            data() {
                return {
                    title32: [{
                        t1: "文章標題",
                        t2: "分類編號",
                        t3: "作者",
                        t4: "上架時間",
                        t5: "專欄狀態",
                    }],

                }
            },
            template: `
            <table class="table table-responsive-sm table-sm">
                            <thead v-for="aaa in title32">
                                    <tr>
                                    <th>{{aaa.t1}}</th>
                                    <th>{{aaa.t2}}</th>
                                    <th>{{aaa.t3}}</th>
                                    <th>{{aaa.t4}}</th>
                                    <th>{{aaa.t5}}</th>
                                </tr>

                            
                            </thead>
                <tbody  v-for="each in init">
                                <tr >
                                    <td>{{each.artTitle}}</td>
                                    <td>{{each.artTypeNo}}</td>
                                    <td>{{each.csName}}</td>
                                    <td>{{each.artDate.substring(0,10)}}</td>
                                    <td>{{aaa(each.artBool)}}</td>
                                    <td><a :href="gogo(each.artNo)"><button class="acManagement_edit ">編輯</button></a></td>
                                </tr>
                                </tbody>
              </table>
             `,

            methods: {
                aaa(data) {
                    return (data == 0) ? "上架" :
                        "下架";
                },
                gogo(data) {
                    return `./atMain_modify.html?artNo=${data}`;
                }
            },
            computed: {

            },
            mounted() {}
        })
        let vm = new Vue({
            el: "#AAA",
            data: {
                cood: "",
            },
            methods: {
                datas() {
                    // axios.get("./php/atmain_index.php").then(res => {
                    //         console.log(res)
                    //     })
                    let xhr = new XMLHttpRequest();
                    xhr.onload = function() {
                        let article = JSON.parse(xhr.responseText);
                        vm.$data.cood = article;

                        console.log(article)
                    }
                    xhr.open("get", "./php/atmain_ther.php", true);
                    xhr.send(null);
                },

            },
            mounted() {
                this.datas();
            },
        })
    </script>
    @@include('layout/footer.html')
</body>

</html>