<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/bgHead_cs.html')
</head>
<style>
    .labelSelect {
        display: inline-block;
        border: 1px solid #ccc;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        border-radius: 30px;
        border: 2px solid #ffa492;
        color: #ffa492;
        cursor: pointer;
        background-color: #ffffff;
        transition: .2s all ease-in;
        padding: 5px 15px;
    }

    .date-select {
        display: none;
    }

    .date-select:checked+label {
        color: #ffffff;
        background-color: #ffa492;
    }
</style>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <!-- top_header -->
    @@include('layout/top_header.html')

    <!-- 中間內容 -->
    <div id="bgMem" class="container-fluid memManagement">
        <div class="row">
            <div class="col-md-12">
                <div class="acManagement_title">
                    <h1 class="acManagement_h1">查看訂單</h1>
                </div>
                <div class="card ">
                    <div class="card-body" style=" overflow-x: auto;">
                        <input type="radio" v-model="dateSelect" :value="parseInt(0)" id="date-select1"
                            class="date-select" @change="getMemberDataFromParent(1)">
                        <label for="date-select1" class="date-select1-label labelSelect">未來訂單</label>
                        <input type="radio" v-model="dateSelect" :value="parseInt(1)" id="date-select2"
                            class="date-select" @change="getMemberDataFromParent(1)">
                        <label for="date-select2" class="date-select2-label labelSelect">過去訂單</label>

                        <table class=" table table-responsive-sm table-sm ">
                            <thead>
                                <tr>
                                    <th>諮商預約編號</th>
                                    <th>諮商預約日期</th>
                                    <th>諮商日期</th>
                                    <th>諮商師編號</th>
                                    <th>諮商師編號名稱</th>
                                    <th>會員編號</th>
                                    <th>會員名稱</th>
                                    <th>諮商方式</th>
                                    <th>諮商地點</th>
                                    <th>諮商時數</th>
                                    <th>付款方式</th>
                                    <th>諮商費用</th>
                                </tr>
                            </thead>
                            <tbody is="input-layout" ref="childComponent" :total-page.sync="totalPage"
                                :page-now.sync="pageNow">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <ul class="pageNumbers">
                <template v-for="(item,index) in totalPage">
                    <input type="radio" :id="'page' + (index + 1)" v-model="pageNow" :value="index+1">
                    <li :key="'page'+ item" @click="getMemberDataFromParent(index+1)">
                        <label :for="'page' + (index + 1)">{{ index+1 }}</label>
                    </li>
                </template>
            </ul>
        </div>
    </div>

    @@include('layout/footer.html')
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script>
        Vue.component("input-layout", {
            props: ["transport-data", "total-page", "page-now"],
            data() {
                return {
                    memberData: [],
                    dateSelect: 0,
                };
            },
            template: ` <tbody>
                                <tr class="buttonGroup" v-for="(value,index) in memberData" :key="value.csONo">
                                    <td><span>{{value.csONo}}</span></td>
                                    <td><span>{{value.csOTime.split(' ')[0]}}</span></td>
                                    <td><span>{{value.csODate.split(' ')[0]}}</span></td>
                                    <td><span>{{value.csNo}}</span></td>
                                    <td><span>{{value.csName}}</span></td>
                                    <td><span>{{value.memNo}}</span></td>
                                    <td><span>{{value.memName}}</span></td>
                                    <td><span>{{value.csModeName}}</span></td>
                                    <td><span>{{value.csPosName}}</span></td>
                                    <td><span>{{value.csHour}}</span></td>
                                    <td><span>{{value.pmName}}</span></td>
                                    <td><span>{{value.csOCost}}</span></td>
                                </tr>
                        </tbody>`,
            mounted() {
                //一進頁面先使用axios=> get
                this.getMemberData(1, 0);
            },
            methods: {
                getMemberData(page, dateSelect) {
                    this.pageNow = page;
                    this.dateSelect = dateSelect;
                    axios.get('./php/getCsOrder.php', {
                        params: {
                            'pageNow': this.pageNow,
                            'dateSelect': this.dateSelect
                        }
                    })
                        .then((res) => {
                            this.memberData = res.data.orderData;
                            this.totalPage = res.data[0];
                            window.scrollTo({
                                top: 0,
                                behavior: 'smooth'
                            });
                            this.updatePages();
                            console.log('訂單資料抓取成功');
                        })
                        .catch((error) => {
                            console.error(error)
                        })
                },
                updatePages() {
                    this.$emit('update:total-page', this.totalPage);
                    this.$emit('update:page-now', this.pageNow);
                },
            }
        });

        new Vue({
            el: "#bgMem",
            data: {
                totalPage: 0,
                pageNow: 1,
                dateSelect: 0,
            },
            methods: {
                getMemberDataFromParent(index) {
                    this.$refs.childComponent.getMemberData(index, this.dateSelect);
                }
            }
        });
    </script>
</body>

</html>