<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/bgHead.html')
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <!-- top_header -->
    @@include('layout/top_header.html')

    <!-- 中間內容 -->
    <div id="bgMem" class="container-fluid csManagement">
        <div class="row">
            <div class="col-md-12">
                <div class="acManagement_title">
                    <h1 class="acManagement_h1">諮商師管理</h1>
                </div>
                <button class="editButtons insertButton"
                    @click="isInsertTableShow = !isInsertTableShow; resetTable();">{{isInsertTableShow?"關閉新增":"新增表單"}}</button>
                <div v-if="isInsertTableShow" id="insertTable">
                    <table>
                        <tr class="buttonGroup">
                            <td><label for="csId">帳號:</label></td>
                            <td><label for="csPsd">密碼:</label></td>
                            <td><label for="csName">名稱:</label></td>
                            <td><label for="csPosNo">服務地區：</label></td>
                        </tr>
                        <tr class="buttonGroup">
                            <td><input style="width: auto;" type="text" placeholder="帳號" v-model.trim="newData.csId"
                                    id="csId"></td>
                            <td><input style="width: auto;" type="password" placeholder="密碼"
                                    v-model.trim="newData.csPsd" id="csPsd"></td>
                            <td><input style="width: auto;" type="text" placeholder="名稱" v-model.trim="newData.csName"
                                    id="csName"></td>
                            <td><select v-model.trim="newData.csPosNo" id="csPosNo">
                                    <option value="1">北部</option>
                                    <option value="2">中部</option>
                                    <option value="3">南部</option>
                                </select></td>
                        </tr>
                        <tr class="buttonGroup">
                            <td><label for="csBD">生日:</label></td>
                            <td><label for="csGender">性別:</label></td>
                            <td><label for="csTel">電話:</label></td>
                            <td><label for="email">Email:</label></td>
                            <td colspan="2">照片:</td>
                            <td><label for="csBool">狀態</label></td>
                        </tr>
                        <tr>
                            <td><input style="width: auto;" type="text" placeholder="1970-01-01"
                                    v-model.trim="newData.csBD" id="csBD">
                            </td>
                            <td><select style="width: auto;" v-model.trim="newData.csGender"
                                    @change="updateCsGenderBool(index)" id="csGender">
                                    <option value="m">男</option>
                                    <option value="f">女</option>
                                </select></td>
                            <td><input style="width: auto;" type="text" placeholder="電話" v-model.trim="newData.csTel"
                                    id="csTel"></td>
                            <td><input type="text" placeholder="Email" v-model="newData.csEmail" id="email">
                            </td>
                            <td colspan="2">
                                <input type="file" name="file" id="file0" @change="fileUpload($event, -1)"
                                    style="display:none;">
                                <label for="file0">上傳圖片<img :src="newData.csPic" alt="照片"
                                        style="object-fit: cover;width: 50px;height: 50px;"></label>
                            </td>

                            <td><select v-model.trim="newData.csBool" id="csBool">
                                    <option value="0">正常</option>
                                    <option value="1">停權</option>
                                </select></td>
                        </tr>
                        <tr class="buttonGroup">
                            <td colspan="2"><textarea cols="20" rows="5" placeholder="學歷"
                                    v-model.trim="newData.csEdu"></textarea></td>
                            <td colspan="3"><textarea cols="50" rows="5" placeholder="經歷"
                                    v-model.trim="newData.csHis"></textarea></td>
                        </tr>
                        <tr class="buttonGroup">
                            <td>家庭關係: <input type="number" min="0" max="100" v-model="newData.csType[0].csTypeNum"></td>
                            <td>人際關係: <input type="number" min="0" max="100" v-model="newData.csType[1].csTypeNum"></td>
                            <td>伴侶關係: <input type="number" min="0" max="100" v-model="newData.csType[2].csTypeNum"></td>
                            <td>壓力創傷: <input type="number" min="0" max="100" v-model="newData.csType[3].csTypeNum"></td>
                            <td>自我探索: <input type="number" min="0" max="100" v-model="newData.csType[4].csTypeNum"></td>
                            <td><button type="button" class="editButtons"
                                    @click="insertData(); isInsertTableShow = !isInsertTableShow;">新增</button></td>
                        </tr>
                    </table>
                </div>
                </button>
                <div class="card">
                    <div class="card-body">
                        <table class=" table table-responsive-sm table-sm ">
                            <thead>
                                <tr>
                                    <th>編號</th>
                                    <th>帳號</th>
                                    <th>名稱</th>
                                    <th>生日</th>
                                    <th>性別</th>
                                    <th>電話</th>
                                    <th>Email</th>
                                    <th>照片</th>
                                    <th>停權</th>
                                    <th>地區</th>
                                    <th>編輯</th>
                                    <!-- <th>刪除</th> -->
                                </tr>
                            </thead>
                            <!-- <tbody is="input-layout" :transport-data="transport"></tbody> -->
                            <tbody>
                                <template v-for="(value,index) in memberData">
                                    <tr class="buttonGroup" :key="value.csNo">
                                        <input type="hidden" placeholder="編號" v-model.trim.number="value.csNo"
                                            :class="'buttonGroup' + index" readonly>
                                        <td><span>{{value.csNo}}</span>
                                            <img src="https://www.flaticon.com/svg/static/icons/svg/32/32195.svg" alt=""
                                                class="arrowIcon" @click="infoToggle">
                                        </td>
                                        <td><input style="width: 100px;" type="text" placeholder="帳號"
                                                v-model.trim="value.csId" :class="'buttonGroup' + index" readonly></td>
                                        <td><input style="width: 60px;" type="text" placeholder="名稱"
                                                v-model.trim="value.csName" :class="'buttonGroup' + index" readonly>
                                        </td>
                                        <td><input style="width: 80px;" type="text" placeholder="生日"
                                                v-model.trim="value.csBD" :class="'buttonGroup' + index" readonly></td>
                                        <td><select style="width: 50px;" :class="'buttonGroup' + index"
                                                v-model.trim="value.csGender" disabled>
                                                <option value="m">男</option>
                                                <option value="f">女</option>
                                            </select></td>
                                        <td><input style="width: 110px;" type="text" placeholder="電話"
                                                v-model.trim="value.csTel" :class="'buttonGroup' + index" readonly></td>
                                        <td><input type="text" placeholder="Email" v-model="value.csEmail"
                                                :class="'buttonGroup' + index" readonly></td>
                                        <td><input type="file" ref="file" name="file" :id="'file'+ index"
                                                :class="'buttonGroup' + index" @change="fileUpload($event,index)"
                                                style="display:none;" disabled>
                                            <label :for="'file'+ index"><img :src="value.csPic" alt="照片"
                                                    style="object-fit: cover;width: 50px;height: 50px;"></label>
                                        </td>
                                        <td><select :class="'buttonGroup' + index" v-model.trim="value.csBool" disabled>
                                                <option value="0">正常</option>
                                                <option value="1">停權</option>
                                            </select></td>
                                        <td><select :class="'buttonGroup' + index" v-model.trim="value.csPosNo"
                                                disabled>
                                                <option value="1">北部</option>
                                                <option value="2">中部</option>
                                                <option value="3">南部</option>
                                            </select></td>
                                        <td><button class="editButtons" @click="editToggle($event,index)">編輯</button>
                                        </td>
                                        <!-- <td><button @click="deleteData($event,index)">刪除</button></td> -->
                                    </tr>
                                    <tr class="buttonGroup d-none invisible" :key="value.csNo + 'second'">
                                        <td colspan="2"><textarea cols="20" rows="5" placeholder="學歷"
                                                v-model.trim="value.csEdu" :class="'buttonGroup' + index"
                                                readonly></textarea></td>
                                        <td colspan="4"><textarea cols="50" rows="5" placeholder="經歷"
                                                v-model.trim="value.csHis" :class="'buttonGroup' + index"
                                                readonly></textarea></td>
                                        <td>家庭關係: <input type="number" :class="'buttonGroup' + index"
                                                v-model="value.csType[0].csTypeNum" readonly>
                                        </td>
                                        <td>人際關係: <input type="number" :class="'buttonGroup' + index"
                                                v-model="value.csType[1].csTypeNum" readonly>
                                        </td>
                                        <td>伴侶關係: <input type="number" :class="'buttonGroup' + index"
                                                v-model="value.csType[2].csTypeNum" readonly>
                                        </td>
                                        <td>壓力創傷: <input type="number" :class="'buttonGroup' + index"
                                                v-model="value.csType[3].csTypeNum" readonly>
                                        </td>
                                        <td>自我探索: <input type="number" :class="'buttonGroup' + index"
                                                v-model="value.csType[4].csTypeNum" readonly>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <ul class="pageNumbers">
                <template v-for="(item,index) in totalPage">
                    <input type="radio" :id="'page' + (index + 1)" v-model="pageNow" :value="index+1">
                    <li :key="'page'+ item" @click="getMemberData(index+1)">
                        <label :for="'page' + (index + 1)">{{ index+1 }}</label>
                    </li>
                </template>
            </ul>

        </div>
    </div>

    @@include('layout/footer.html')
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script>
        new Vue({
            el: "#bgMem",
            data: {
                isInsertTableShow: false,
                newData: {},
                totalPage: 0,
                pageNow: 1,
                dataFormat: {
                    "csName": "",
                    "csId": "",
                    "csPsd": "",
                    "csBD": "",
                    "csGender": "m",
                    "csEmail": "",
                    "csTel": "",
                    "csPic": "https://www.csmu.edu.tw/var/file/0/1000/plugin/mobile/pictures/linkdet_1567_64639_22966.jpg",
                    "csPosNo": "1",
                    "csBool": "0",
                    "csHis": "",
                    "csEdu": "",
                    "csType": [{
                            "csTypeName": "家庭關係",
                            "csTypeNum": "",
                        },
                        {
                            "csTypeName": "人際關係",
                            "csTypeNum": "",
                        },
                        {
                            "csTypeName": "伴侶關係",
                            "csTypeNum": "",
                        },
                        {
                            "csTypeName": "壓力創傷",
                            "csTypeNum": "",
                        },
                        {
                            "csTypeName": "自我探索",
                            "csTypeNum": "",
                        }
                    ]
                },
                memberData: [],
                file: ''
            },
            mounted() {
                this.getMemberData(1);
                this.resetTable();
            },
            methods: {
                insertData() { //將新增區域的值送到諮商師陣列
                    axios.get('./php/insertCounselor.php', {
                            params: {
                                csName: this.newData.csName,
                                csId: this.newData.csId,
                                csPsd: this.newData.csPsd,
                                csBD: this.newData.csBD,
                                csGender: this.newData.csGender,
                                csEmail: this.newData.csEmail,
                                csTel: this.newData.csTel,
                                csPic: this.newData.csPic,
                                csPosNo: this.newData.csPosNo,
                                csBool: this.newData.csBool,
                                csHis: this.newData.csHis,
                                csEdu: this.newData.csEdu,
                                csType0: this.newData.csType[0].csTypeNum,
                                csType1: this.newData.csType[1].csTypeNum,
                                csType2: this.newData.csType[2].csTypeNum,
                                csType3: this.newData.csType[3].csTypeNum,
                                csType4: this.newData.csType[4].csTypeNum
                            }
                        })
                        .then((res) => {
                            console.log(res.data);
                            this.getMemberData(1);
                        })
                        .catch((error) => {
                            console.error(error)
                        })
                    this.getMemberData(1);

                    for (let prop in this.newData) { //清除新增區域的value
                        if (prop != "csType") {
                            this.newData[prop] = '';
                        } else {
                            this.newData[prop].csTypeNum = '';
                        }
                    }


                },
                getMemberData(page) {
                    this.pageNow = page;
                    axios.get('./php/getCsManagement.php', {
                            params: {
                                'pageNow': this.pageNow
                            }
                        })
                        .then((res) => {
                            console.log('會員資料抓取成功');
                            this.memberData = res.data.memberData;
                            this.totalPage = res.data[0];
                            window.scrollTo({
                                top: 0,
                                behavior: 'smooth'
                            });
                            console.log('會員資料抓取成功');
                        })
                        .catch((error) => {
                            console.error(error)
                        })
                },
                editToggle(e, index) {
                    let input = document.querySelectorAll(`.buttonGroup${index}`);
                    if (input[0].getAttribute("readonly")) {
                        this.inputToEdit(e, index);
                    } else {
                        let check = confirm(`確認修改會員編號 ${this.memberData[index].csNo} 的資料嗎?`);
                        if (check) {
                            this.updateMemInfo(index); //使用axios=> update
                            this.inputToForbid(e, index);
                        } else {
                            this.inputToEdit(e, index);
                        }
                    }
                },
                inputToForbid(e, index) {
                    let input = document.querySelectorAll(`.buttonGroup${index}`);
                    for (let j = 0; j < input.length; j++) {
                        e.currentTarget.innerText = "編輯";
                        input[j].setAttribute("readonly", true);
                        input[j].setAttribute("disabled", true);
                    }
                },
                inputToEdit(e, index) {
                    let input = document.querySelectorAll(`.buttonGroup${index}`);
                    for (let j = 0; j < input.length; j++) {
                        input[j].removeAttribute("readonly");
                        input[j].removeAttribute("disabled");
                        e.currentTarget.innerText = "送出";
                    }
                },
                // // deleteData(e, index) {
                // //     let check = confirm(`確認刪除會員編號 ${this.memberData[index].csNo} 的資料嗎?`);
                // //     if (check)
                // //         this.memberData.splice(index, 1);
                // //     //使用axios=> delete
                // },
                updateMemInfo(index) {
                    axios.get('./php/updateCounselor.php', {
                            params: {
                                csNo: this.memberData[index].csNo,
                                csName: this.memberData[index].csName,
                                csId: this.memberData[index].csId,
                                csBD: this.memberData[index].csBD,
                                csGender: this.memberData[index].csGender,
                                csEmail: this.memberData[index].csEmail,
                                csTel: this.memberData[index].csTel,
                                csPic: this.memberData[index].csPic,
                                csPosNo: this.memberData[index].csPosNo,
                                csBool: this.memberData[index].csBool,
                                csHis: this.memberData[index].csHis,
                                csEdu: this.memberData[index].csEdu,
                                csType0: this.memberData[index].csType[0].csTypeNum,
                                csType1: this.memberData[index].csType[1].csTypeNum,
                                csType2: this.memberData[index].csType[2].csTypeNum,
                                csType3: this.memberData[index].csType[3].csTypeNum,
                                csType4: this.memberData[index].csType[4].csTypeNum
                            }
                        })
                        .then((res) => {
                            console.log('會員更新成功')
                            this.getMemberData(1);
                        })
                        .catch((error) => {
                            console.error(error)
                        })
                },
                infoToggle(e) {
                    e.currentTarget.classList.toggle("rotateMe");
                    e.currentTarget.parentNode.parentNode.nextElementSibling.classList.toggle('d-none');
                    e.currentTarget.parentNode.parentNode.nextElementSibling.classList.toggle('visible');
                    e.currentTarget.parentNode.parentNode.nextElementSibling.classList.toggle('invisible');
                },
                resetTable() {
                    this.newData = JSON.parse(JSON.stringify(this.dataFormat));
                },
                fileUpload(e, index) {
                    //先抓到上傳圖片的input資料
                    this.file = e.target.files[0];


                    // 轉為base64，純粹預覽用
                    const reader = new FileReader();
                    reader.readAsDataURL(this.file);
                    reader.addEventListener("load", () => {
                        if (index >= 0) {
                            this.memberData[index].csPic = reader.result;
                        } else {
                            this.newData.csPic = reader.result;
                        }
                    });


                    // 存入formData，送出資料用
                    let formData = new FormData();
                    formData.append('file', this.file);

                    axios.post('./php/uploadCsPic.php', formData)
                        .then((res) => {
                            if (index >= 0) {
                                this.$set(this.memberData[index], 'csPic', res.data);
                            } else {
                                this.$set(this.newData, 'csPic', res.data);
                            }
                        }).catch(function () {
                            console.log('FAILURE!!');
                        });
                }
            }
        });
    </script>
</body>

</html>