<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/bgHead.html')
</head>
<style>
    input {
        width: 100%;
    }

    input[readonly],
    textarea[readonly] {
        border: none;
        outline: none;
    }
</style>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <!-- top_header -->
    @@include('layout/top_header.html')

    <!-- 中間內容 -->
    <div id="bgMem" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="acManagement_title">
                    <h1 class="acManagement_h1">諮商師管理</h1>
                </div>
                <button @click="isInsertTableShow = !isInsertTableShow;">{{isInsertTableShow?"關閉新增":"新增表單"}}</button>
                <table v-if="isInsertTableShow">
                    <tr class="buttonGroup">
                        <td><label for="csNo">編號:</label>
                            <input style="width: auto;" type="number" placeholder="編號" v-model.trim="newData.csNo"
                                id="csNo"></td>
                        <td><label for="csId">帳號:</label>
                            <input style="width: auto;" type="text" placeholder="帳號" v-model.trim="newData.csId"
                                id="csId"></td>
                        <td><label for="csPsn">密碼:</label>
                            <input style="width: auto;" type="password" placeholder="密碼" v-model.trim="newData.csPsn"
                                id="csPsn">
                        </td>
                        <td><label for="csName">名稱:</label>
                            <input style="width: auto;" type="text" placeholder="名稱" v-model.trim="newData.csName"
                                id="csName">
                        </td>
                    </tr>
                    <tr class="buttonGroup">
                        <td><label for="csBD">生日:</label>
                            <input style="width: auto;" type="text" placeholder="生日" v-model.trim="newData.csBD"
                                id="csBD"></td>
                        <td><label for="csGender">性別:</label>
                            <select style="width: auto;" v-model.trim="newData.csGender"
                                @change="updateCsGenderBool(index)" id="csGender">
                                <option value="m">男</option>
                                <option value="f">女</option>
                            </select></td>
                        <td><label for="csTel">電話:</label>
                            <input style="width: auto;" type="text" placeholder="電話" v-model.trim="newData.csTel"
                                id="csTel"></td>
                        <td><label for="email">Email:</label>
                            <input type="text" placeholder="Email" v-model="newData.csEmail" id="email">
                        </td>
                        <td colspan="2"><label for="csPic">上傳圖片</label>
                            <label for="csPic">
                                <img :src="newData.csPic || 'https://www.csmu.edu.tw/var/file/0/1000/plugin/mobile/pictures/linkdet_1567_64639_22966.jpg'"
                                    alt="照片" style="object-fit: cover;width: 50px;height: 50px;"></label>
                            <input type="file" name="file" id="csPic">

                        </td>
                        <td><label for="csBool">狀態</label>
                            <select v-model.trim="newData.csBool" id="csBool">
                                <option value="0">正常</option>
                                <option value="1">停權</option>
                            </select></td>
                    </tr>
                    <tr class="buttonGroup">
                        <td colspan="2"><textarea cols="20" rows="5" placeholder="學歷"
                                v-model.trim="newData.csEdu"></textarea></td>
                        <td colspan="4"><textarea cols="50" rows="5" placeholder="經歷"
                                v-model.trim="newData.csHis"></textarea></td>
                    </tr>
                    <tr class="buttonGroup">
                        <td>家庭關係: <input type="number" min="0" max="100" v-model="newData.csType[0].csTypeNum"></td>
                        <td>人際關係: <input type="number" min="0" max="100" v-model="newData.csType[1].csTypeNum"></td>
                        <td>伴侶關係: <input type="number" min="0" max="100" v-model="newData.csType[2].csTypeNum"></td>
                        <td>壓力創傷: <input type="number" min="0" max="100" v-model="newData.csType[3].csTypeNum"></td>
                        <td>自我探索: <input type="number" min="0" max="100" v-model="newData.csType[4].csTypeNum"></td>
                        <td><button @click="insertData">新增</button></td>
                    </tr>
                </table>
                </button>
                <div class="card ">
                    <div class="card-body" style=" overflow-x: auto;">
                        <table class=" table table-responsive-sm table-sm ">
                            <thead>
                                <tr>
                                    <th>編號</th>
                                    <th>帳號</th>
                                    <th>名稱</th>
                                    <th>生日</th>
                                    <th>性別</th>
                                    <th>電話</th>
                                    <th>Email</th>
                                    <th>照片</th>
                                    <th>停權</th>
                                    <th>編輯</th>
                                    <th>刪除</th>
                                </tr>
                            </thead>
                            <!-- <tbody is="input-layout" :transport-data="transport"></tbody> -->
                            <tbody>
                                <template v-for="(value,index) in memberData">
                                    <tr class="buttonGroup" :key="value.csNo" @click="infoToggle">
                                        <input type="hidden" placeholder="編號" v-model.trim.number="value.csNo"
                                            :class="'buttonGroup' + index" readonly>
                                        <td><span style="width: 40px;display: block;">{{value.csNo}}</span></td>
                                        <td><input style="width: 100px;" type="text" placeholder="帳號"
                                                v-model.trim="value.csId" :class="'buttonGroup' + index" readonly></td>
                                        <td><input style="width: 60px;" type="text" placeholder="名稱"
                                                v-model.trim="value.csName" :class="'buttonGroup' + index" readonly>
                                        </td>
                                        <td><input style="width: 80px;" type="text" placeholder="生日"
                                                v-model.trim="value.csBD" :class="'buttonGroup' + index" readonly></td>
                                        <td><select style="width: 50px;" v-model.trim="value.csGender"
                                                @change="updateCsGenderBool(index)">
                                                <option value="m">男</option>
                                                <option value="f">女</option>
                                            </select></td>
                                        <td><input style="width: 110px;" type="text" placeholder="電話"
                                                v-model.trim="value.csTel" :class="'buttonGroup' + index" readonly></td>
                                        <td><input type="text" placeholder="Email" v-model="value.csEmail"
                                                :class="'buttonGroup' + index" readonly></td>
                                        <td><img :src="value.csPic" alt="照片"
                                                style="object-fit: cover;width: 50px;height: 50px;">
                                        </td>
                                        <td><select v-model.trim="value.csBool" @change="updateCsGenderBool(index)">
                                                <option value="0">正常</option>
                                                <option value="1">停權</option>
                                            </select></td>
                                        <td><button @click="editToggle($event,index)">編輯</button></td>
                                        <td><button @click="deleteData($event,index)">刪除</button></td>
                                    </tr>
                                    <tr class="buttonGroup d-none invisible" :key="index">
                                        <td colspan="2"><textarea cols="20" rows="5" placeholder="學歷"
                                                v-model.trim="value.csEdu" :class="'buttonGroup' + index"
                                                readonly></textarea></td>
                                        <td colspan="4"><textarea cols="50" rows="5" placeholder="經歷"
                                                v-model.trim="value.csHis" :class="'buttonGroup' + index"
                                                readonly></textarea></td>
                                        <td>家庭關係: <input type="number" v-model="value.csType[0].csTypeNum"></td>
                                        <td>人際關係: <input type="number" v-model="value.csType[1].csTypeNum"></td>
                                        <td>伴侶關係: <input type="number" v-model="value.csType[2].csTypeNum"></td>
                                        <td>壓力創傷: <input type="number" v-model="value.csType[3].csTypeNum"></td>
                                        <td>自我探索: <input type="number" v-model="value.csType[4].csTypeNum"></td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('layout/footer.html')
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script>
        new Vue({
            el: "#bgMem",
            data: {
                isInsertTableShow: false,
                newData: {
                    "csNo": "",
                    "csName": "",
                    "csId": "",
                    "csPsn": "",
                    "csGender": "",
                    "csBD": "",
                    "csEmail": "",
                    "csTel": "",
                    "csPic": "",
                    "csPosNo": "",
                    "csHis": "",
                    "csEdu": "",
                    "csBool": "",
                    "csType": [{
                            "csTypeName": "家庭關係",
                            "csTypeNum": "",
                        },
                        {
                            "csTypeName": "人際關係",
                            "csTypeNum": "",
                        },
                        {
                            "csTypeName": "伴侶關係",
                            "csTypeNum": "",
                        },
                        {
                            "csTypeName": "壓力創傷",
                            "csTypeNum": "",
                        },
                        {
                            "csTypeName": "自我探索",
                            "csTypeNum": "",
                        }
                    ]
                },
                memberData: [{
                    "csNo": 100,
                    "csName": "王小明8",
                    "csId": "gtshit",
                    "csGender": "f",
                    "csBD": "1969-09-06",
                    "csEmail": "bcxx12@gmail.com",
                    "csTel": "0910-332-234",
                    "csPic": "https://images.pexels.com/photos/3727149/pexels-photo-3727149.jpeg",
                    "csPosNo": "1",
                    "csHis": "臺北榮民總醫院住院醫師、總醫師,臺灣精神醫學會專科醫師,臺中榮民總醫院嘉義暨灣橋分院主治醫師,精神健康基金會-精神健康學苑講師,國防醫學院醫學系臨床教師",
                    "csEdu": "臺灣大學醫學系應屆畢業",
                    "csBool": "0",
                    "csType": [{
                            "csTypeName": "家庭關係",
                            "csTypeNum": 100
                        },
                        {
                            "csTypeName": "人際關係",
                            "csTypeNum": 94
                        },
                        {
                            "csTypeName": "伴侶關係",
                            "csTypeNum": 72
                        },
                        {
                            "csTypeName": "壓力創傷",
                            "csTypeNum": 3
                        },
                        {
                            "csTypeName": "自我探索",
                            "csTypeNum": 60
                        },
                    ],
                }, {
                    "csNo": 101,
                    "csName": "王小明8",
                    "csId": "gtshit",
                    "csGender": "f",
                    "csBD": "1969-09-06",
                    "csEmail": "bcxx12@gmail.com",
                    "csTel": "0910-332-234",
                    "csPic": "https://images.pexels.com/photos/3727149/pexels-photo-3727149.jpeg",
                    "csPosNo": "1",
                    "csHis": "臺北榮民總醫院住院醫師、總醫師,臺灣精神醫學會專科醫師,臺中榮民總醫院嘉義暨灣橋分院主治醫師,精神健康基金會-精神健康學苑講師,國防醫學院醫學系臨床教師",
                    "csEdu": "臺灣大學醫學系應屆畢業",
                    "csBool": "0",
                    "csType": [{
                            "csTypeName": "家庭關係",
                            "csTypeNum": 100
                        },
                        {
                            "csTypeName": "人際關係",
                            "csTypeNum": 94
                        },
                        {
                            "csTypeName": "伴侶關係",
                            "csTypeNum": 72
                        },
                        {
                            "csTypeName": "壓力創傷",
                            "csTypeNum": 3
                        },
                        {
                            "csTypeName": "自我探索",
                            "csTypeNum": 60
                        },
                    ],
                }, {
                    "csNo": 102,
                    "csName": "王小明8",
                    "csId": "gtshit",
                    "csGender": "f",
                    "csBD": "1969-09-06",
                    "csEmail": "bcxx12@gmail.com",
                    "csTel": "0910-332-234",
                    "csPic": "https://images.pexels.com/photos/3727149/pexels-photo-3727149.jpeg",
                    "csPosNo": "1",
                    "csHis": "臺北榮民總醫院住院醫師、總醫師,臺灣精神醫學會專科醫師,臺中榮民總醫院嘉義暨灣橋分院主治醫師,精神健康基金會-精神健康學苑講師,國防醫學院醫學系臨床教師",
                    "csEdu": "臺灣大學醫學系應屆畢業",
                    "csBool": "0",
                    "csType": [{
                            "csTypeName": "家庭關係",
                            "csTypeNum": 100
                        },
                        {
                            "csTypeName": "人際關係",
                            "csTypeNum": 94
                        },
                        {
                            "csTypeName": "伴侶關係",
                            "csTypeNum": 72
                        },
                        {
                            "csTypeName": "壓力創傷",
                            "csTypeNum": 3
                        },
                        {
                            "csTypeName": "自我探索",
                            "csTypeNum": 60
                        },
                    ],
                }]
            },
            mounted() {
                this.getMemberData();
            },
            methods: {
                insertData() {
                    this.memberData.push(JSON.parse(JSON.stringify(this.newData))); //將新增區域的值送到諮商師陣列
                    //使用axios=> insert
                    this.getMemberData();

                    for (let prop in this.newData) { //清除新增區域的value
                        if (prop != "csType") {
                            this.newData[prop] = '';
                        } else {
                            this.newData[prop].csTypeNum = '';
                        }
                    }


                },
                getMemberData() {
                    // axios.get('抓取會員資料的php.php')
                    //     .then((res) => {
                    //         console.log('會員資料抓取成功');
                    //         this.memberData = res.data;
                    //     })
                    //     .catch((error) => {
                    //         console.error(error)
                    //     })
                },
                editToggle(e, index) {
                    let input = document.querySelectorAll(`.buttonGroup${index}`);
                    if (input[0].getAttribute("readonly")) {
                        this.inputToEdit(e, index);
                    } else {
                        let check = confirm(`確認修改會員編號 ${this.memberData[index].csNo} 的資料嗎?`);
                        if (check) {
                            this.updateMemInfo(index); //使用axios=> update
                            this.inputToForbid(e, index);
                            this.getMemberData();
                        } else {
                            this.inputToEdit(e, index);
                        }
                    }
                },
                inputToForbid(e, index) {
                    let input = document.querySelectorAll(`.buttonGroup${index}`);
                    for (let j = 0; j < input.length; j++) {
                        e.currentTarget.innerText = "編輯";
                        input[j].setAttribute("readonly", true);
                    }
                },
                inputToEdit(e, index) {
                    let input = document.querySelectorAll(`.buttonGroup${index}`);
                    for (let j = 0; j < input.length; j++) {
                        input[j].removeAttribute("readonly");
                        e.currentTarget.innerText = "送出";
                    }
                },
                deleteData(e, index) {
                    let check = confirm(`確認刪除會員編號 ${this.memberData[index].csNo} 的資料嗎?`);
                    if (check)
                        this.memberData.splice(index, 1);
                    //使用axios=> delete
                },
                updateCsGenderBool(index) {
                    // axios.get('修改會員停權的php.php', {
                    //         params: {
                    //             csNo: this.memberData[index].csNo,
                    //             csGender: this.memberData[index].csGender,
                    //             csBool: this.memberData[index].csBool
                    //         }
                    //     })
                    //     .then((res) => {
                    //         console.log('會員更新成功')
                    //     })
                    //     .catch((error) => {
                    //         console.error(error)
                    //     })
                },
                updateMemInfo(index) {
                    // axios.get('修改會員資料的php.php', {
                    //         params: {
                    //             csBool: this.memberData[index].csBool,
                    //             csId: this.memberData[index].csId,
                    //             csName: this.memberData[index].csName,
                    //             memBD: this.memberData[index].memBD,
                    //             csGender: this.memberData[index].csGender,
                    //             csTel: this.memberData[index].csTel,
                    //             memAdd: this.memberData[index].memAdd,
                    //         }
                    //     })
                    //     .then((res) => {
                    //         console.log('會員更新成功')
                    //     })
                    //     .catch((error) => {
                    //         console.error(error)
                    //     })
                },
                infoToggle(e) {
                    e.currentTarget.nextElementSibling.classList.toggle('d-none');
                    e.currentTarget.nextElementSibling.classList.toggle('visible');
                    e.currentTarget.nextElementSibling.classList.toggle('invisible');
                }
            }
        });
    </script>
</body>

</html>