<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/bgHead.html')
</head>
<style>
    input {
        width: 100%;
    }

    input[readonly] {
        border: none;
        outline: none;
        background-color: white;
        color: black;
    }
</style>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <!-- top_header -->
    @@include('layout/top_header.html')

    <!-- 中間內容 -->
    <div id="bgMem" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="acManagement_title">
                    <h1 class="acManagement_h1">會員管理</h1>
                </div>
                <div class="card ">
                    <div class="card-body" style=" overflow-x: auto;">
                        <table class=" table table-responsive-sm table-sm ">
                            <thead>
                                <tr>
                                    <th>編號</th>
                                    <th>帳號</th>
                                    <th>名稱</th>
                                    <th>暱稱</th>
                                    <th>生日</th>
                                    <th>職業</th>
                                    <th>性別</th>
                                    <th>電話</th>
                                    <th>地址</th>
                                    <th>照片</th>
                                    <th>停權</th>
                                    <th>編輯</th>
                                </tr>
                            </thead>
                            <tbody is="input-layout"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @@include('layout/footer.html')
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script>
        Vue.component("input-layout", {
            props: ["transport-data"],
            data() {
                return {
                    memberData: []
                };
            },
            template: ` <tbody>
                                <tr class="buttonGroup" v-for="(value,index) in memberData" :key="value.memNo">
                                    <input type="hidden" placeholder="會員編號" v-model.trim.number="value.memNo"
                                            :class="'buttonGroup' + index" readonly>
                                    <td><span style="width: 40px;display: block;">{{value.memNo}}</span></td>
                                    <td><input style="width: 150px;" type="text" placeholder="會員帳號"
                                            v-model.trim="value.memId" :class="'buttonGroup' + index" readonly></td>
                                    <td><input style="width: 60px;" type="text" placeholder="會員名稱"
                                            v-model.trim="value.memName" :class="'buttonGroup' + index" readonly></td>
                                    <td><input style="width: 60px;" type="text" placeholder="會員暱稱"
                                            v-model.trim="value.memNickName" :class="'buttonGroup' + index" readonly></td>
                                    <td><input style="width: 80px;" type="text" placeholder="會員生日"
                                            v-model.trim="value.memBD" :class="'buttonGroup' + index" readonly></td>
                                    <td><input style="width: 60px;" type="text" placeholder="會員職業"
                                            v-model.trim="value.memOccupation" :class="'buttonGroup' + index" readonly></td>
                                    <td><select style="width: 50px;" v-model.trim="value.memGender" :class="'buttonGroup'+ index" disabled>
                                            <option value="男">男</option>
                                            <option value="女">女</option>
                                        </select></td>
                                    <td><input style="width: 110px;" type="text" placeholder="會員電話"
                                            v-model.trim="value.memTel" :class="'buttonGroup' + index" readonly></td>
                                    <td><input type="text" placeholder="會員地址" v-model="value.memAdd"
                                            :class="'buttonGroup' + index" readonly></td>
                                    <td><input type="file" ref="file" name="file" :id="'file'+ index"
                                                :class="'buttonGroup' + index" @change="fileUpload($event,index)"
                                                style="display:none;" disabled>
                                        <label :for="'file'+ index"><img :src="value.memPic" alt="照片"
                                                    style="object-fit: cover;width: 50px;height: 50px;"></label>
                                        </td>
                                    </td>
                                    <td><select v-model.trim="value.memBool" :class="'buttonGroup' + index" disabled>
                                            <option value="0">正常</option>
                                            <option value="1">停權</option>
                                        </select></td>
                                    <td><button @click="editToggle($event,index)">編輯</button></td>
                                </tr>
                        </tbody>`,
            mounted() {
                //一進頁面先使用axios=> get
                this.getMemberData();
            },
            methods: {
                getMemberData() {
                    axios.get('./php/getMember.php')
                        .then((res) => {
                            this.memberData = res.data;
                            console.log('會員資料抓取成功');
                        })
                        .catch((error) => {
                            console.error(error)
                        })
                },
                editToggle(e, index) {
                    let input = document.querySelectorAll(`.buttonGroup${index}`);
                    if (input[0].getAttribute("readonly")) {
                        this.inputToEdit(e, index);
                    } else {
                        let check = confirm(`確認修改會員編號 ${this.memberData[index].memNo} 的資料嗎?`);
                        if (check) {
                            //使用axios=> update
                            this.updateMemInfo(index);
                            this.inputToForbid(e, index);
                        } else {
                            this.inputToEdit(e, index);
                        }
                    }
                },
                inputToForbid(e, index) {
                    let input = document.querySelectorAll(`.buttonGroup${index}`);
                    for (let j = 0; j < input.length; j++) {
                        e.currentTarget.innerText = "編輯";
                        input[j].setAttribute("readonly", true);
                        input[j].setAttribute("disabled", true);
                    }
                },
                inputToEdit(e, index) {
                    let input = document.querySelectorAll(`.buttonGroup${index}`);
                    for (let j = 0; j < input.length; j++) {
                        input[j].removeAttribute("readonly");
                        input[j].removeAttribute("disabled");
                        e.currentTarget.innerText = "送出";
                    }
                },
                updateMemInfo(index) {
                    axios.get('./php/updateMember.php', {
                            params: {
                                memBool: this.memberData[index].memBool,
                                memId: this.memberData[index].memId,
                                memName: this.memberData[index].memName,
                                memGender: this.memberData[index].memGender,
                                memBD: this.memberData[index].memBD,
                                memGender: this.memberData[index].memGender,
                                memTel: this.memberData[index].memTel,
                                memAdd: this.memberData[index].memAdd,
                                memNickname: this.memberData[index].memNickname,
                                memNo: this.memberData[index].memNo,
                                memPic: this.memberData[index].memPic,
                                memOccupation: this.memberData[index].memOccupation
                            }
                        })
                        .then((res) => {
                            console.log(res.data);
                            this.getMemberData();
                        })
                        .catch((error) => {
                            console.error(error);
                        })
                },
                fileUpload(e, index) {
                    console.log('file upload');
                    //先抓到上傳圖片的input資料
                    this.file = e.target.files[0];


                    // 轉為base64，純粹預覽用
                    const reader = new FileReader();
                    reader.readAsDataURL(this.file);
                    reader.addEventListener("load", () => {
                        this.memberData[index].csPic = reader.result;
                    });


                    // 存入formData，送出資料用
                    let formData = new FormData();
                    formData.append('file', this.file);

                    axios.post('./php/uploadCsPic.php', formData)
                        .then((res) => {
                            this.$set(this.memberData[index], 'memPic', res.data);
                        }).catch(function () {
                            console.log('FAILURE!!');
                        });
                }
            }
        });

        new Vue({
            el: "#bgMem"
        });
    </script>
</body>

</html>