<!DOCTYPE html>
<html lang="en">
<title>神諭卡管理</title>
<style>
    table th {
        text-align: center;
    }
    
    table tbody .trTitle {
        text-align: center;
        line-height: 100px;
    }
    
    .changeCardBackStyle {
        width: 100%;
        position: relative;
    }
    
    .changeCardBackStyle>img {
        width: 20px;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(100%);
    }
    
    input {
        width: 100%;
    }
    
    input[readonly],
    textarea[readonly] {
        border: none;
        outline: none;
        background-color: white;
        color: black;
    }
</style>

<head>
    @@include('layout/bgHead.html')
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <!-- top_header -->
    @@include('layout/top_header.html')

    <!-- 中間內容 -->


    <div class="container" id="oracleCardMan">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>神諭卡管理</h3>
                </div>

                <div class="panel-body card" style="overflow:hidden;">
                    <table class="table table-condensed table-striped">
                        <thead class="card-header">
                            <tr>
                                <th>神諭卡牌組編號</th>
                                <th>神諭卡卡背樣式</th>
                                <th>上架狀態</th>
                                <th>更新日期</th>
                                <th>編輯</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody is="input-layout" :transport-data="transport" v-for="(each,index) in cardsDataList" :init="index" :item="each" :list="cardsDataListSm"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>






    @@include('layout/footer.html')
</body>

</html>

<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>


<script>
    Vue.component("input-layout", {
        props: ["transport-data", "init", "item", "list"],
        data() {
            return {
                transport: JSON.parse(JSON.stringify(this.transportData)),
                index: this.init + 1,
                cardsDataList: [],
                getCardsDataListSm: [],

            };
        },
        mounted() {
            // console.log(typeof(this.list))
        },
        computed: {
            demo() {
                return "#demo" + this.init;
            },
            demo2() {
                return "demo" + this.init;
            },
            card() {
                return this.list.filter(item => item.deckNo == this.index);
            },

        },
        template: ` <tbody>
                            <tr class="accordion-toggle trTitle" >
                                <td>牌組{{index}}</td>
                                <td>
                                    <img style="width:50px;" :src="item.cardPic" alt="">
                                    <div class="changeCardBackStyle">
                                        <img src="../../img/oracleCard/exchangeBefore.png" alt="">
                                        <img src="../../img/oracleCard/exchangeAfter.png" alt="">
                                    </div>
                                </td>
                                <td>上架中</td>
                                <td>2020/09/12</td>
                                <td><button data-toggle="collapse" :data-target="demo" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open">編輯</span></button></td>
                            </tr>

                            <tr>
                                <td colspan="12" class="hiddenRow">
                                    <div class="accordian-body collapse" :id="demo2">
                                        <table class="table table-striped">
                                            <thead>
                                                <th>神諭卡片卡號</th>
                                                <th>神諭卡名稱</th>
                                                <th>神諭卡內容</th>
                                                <th>神諭卡卡面</th>
                                                <th>上/下架</th>
                                            </thead>
                                            <tbody>
                                                <tr v-for="each in card">
                                                    <td><label for="">神諭卡片卡號:</label><input type="text" v-model="each.cardNo"></td>
                                                    <td><label for="">神諭卡名稱:</label><input type="text" v-model="each.cardTitle"></td>
                                                    <td><label for="">神諭卡內容:</label><input type="text" v-model="each.cardContent"></td>
                                                    <td><label for="">神諭卡卡面:</label><input type="text" v-model="each.cardPic">
                                                    <img style="width:50px;" :src="each.cardPic" alt=""></td>
                                                    <td><label for="">上/下架</label><input type="checkbox" v-model="each.cardTypeNo"></td>
                                                    <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open">修改</span></button><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open">刪除</span></button></td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </td>
                            </tr>
                        </tbody>`,

        methods: {


        },
    });

    new Vue({
        el: "#oracleCardMan",
        data: {
            transport: {},
            cardsDataList: [],
            cardsDataListSm: [],
        },
        methods: {
            getCardsData() {
                axios.get(`./php/oracleCardMan.php`)
                    .then((res) => {
                        this.cardsDataList = res.data;
                        // console.log(res.data);
                    })
                    .catch(error => {
                        console.log(error)
                    });


            },
            getCardsDataList() {
                axios.get(`./php/oracleCardManList.php`)
                    .then((res) => {
                        // this.cardsDataListSm.push(res.data[0]);
                        // for (var i = 0; i < res.data.length; i++) {
                        //     this.cardsDataListSm.push("123");
                        // }
                        this.cardsDataListSm = res.data;
                        // console.log(this.cardsDataListSm);
                    })
                    .catch(error => {
                        console.log(error)
                    });
            },
            // insertData() {
            //     this.transport = JSON.parse(JSON.stringify(this.newData)); //將新增區域的值送到元件
            //     this.newData = {}; //清除新增區域的placeholder
            //     //使用axios=> insert
            // }
        },
        mounted() {
            this.getCardsData();
            this.getCardsDataList();
        },
    });
</script>