<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/bgHead.html')
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/3a9b8bb651.js" crossorigin="anonymous"></script>
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <!-- top_header -->
    @@include('layout/top_header.html')

    <!-- 中間內容 -->
    <div id="app">
        <div class="container-fluid">
            <h1>客服機器人</h1>

            <form action="">
                <div class="row">
                    <span class="col-12">客服狀態：</span>
                    <div class="col-6" v-if="select"><label for="onLine">客服在線</label> <input type="radio" value="0" id="onLine" name="onLine" @click="select=!select"></div>

                    <div class="col-6" v-if="!select"><label for="onLine">客服離線</label> <input type="radio" value="1" id="offLine" name="onLine" @click="select=!select"></div>

                </div>

                <div class="row">
                    <textarea v-model="message" :placeholder="onLine" v-model="onLine" cols="50" rows="5" v-if="select"></textarea>
                    <textarea v-model="message" :placeholder="offLine" v-model="offLine" cols="50" rows="5" v-if="!select"></textarea>
                </div>

            </form>

        </div>
    </div>

    @@include('layout/footer.html')

    <!-- DateTimePicker -->
    <!-- Core -->
    <script src="./js/picker.js "></script>
    <!-- Date Picker -->
    <script src="./js/picker.date.js "></script>
    <!-- Time Picker -->
    <script src="./js/picker.time.js "></script>
    <!-- Language -->
    <script src="./js/zh_TW.js "></script>
    <script>
        //寫入資料庫




        let vm = new Vue({
            el: "#app",
            data: {
                select: false,
                onLine: '客服目前離線中，請於上班時間留言或者留下聯絡方式',
                offLine: '客服上線中，請稍候',
            },
            computed: {

            },
            methods: {


            },
            mounted() {

            },


        })
    </script>
</body>

</html>