<!DOCTYPE html>
<html lang="en">

<head>
    @@include('layout/bgHead.html')
</head>
<style>
    input[readonly] {
        border: none;
        outline: none;
        background: none;
    }
</style>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <!-- top_header -->
    @@include('layout/top_header.html')

    <!-- 中間內容 -->
    <div class="container-fluid" id="tQapp">
        <div class="container">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>心理評估問券管理</h3>
                    </div>
                    <div class="panel-body card" style="overflow: hidden;">
                        <table class="table table-condensed table-striped ">
                            <thead class="card-header">
                                <tr>
                                    <th>問題編號</th>
                                    <th>問題類別</th>
                                    <th>問題內容</th>
                                    <th>上架狀態</th>
                                    <th>更新日期</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody is="tq_datainsert"></tbody>


                        </table>

                    </div>

                </div>

            </div>

        </div>

        <div class="container">
            <div class="col-md-12">
                <div class="panel-heading">
                    <h3>新增問題</h3>
                </div>

                <div class="insert_newQuest">

                    <div class="input-sort">
                        <h5>問題類別</h5>
                        <input type="radio" name="sort" v-model="tqnewData.testTypeNo" value="1">1-家庭關係
                        <input type="radio" name="sort" v-model="tqnewData.testTypeNo" value="2">2-人際關係
                        <input type="radio" name="sort" v-model="tqnewData.testTypeNo" value="3">3-伴侶關係
                        <input type="radio" name="sort" v-model="tqnewData.testTypeNo" value="4">4-壓力創傷
                        <input type="radio" name="sort" v-model="tqnewData.testTypeNo" value="5">5-自我探索

                    </div>

                    <div class="input-quest">
                        <h5>問題內容</h5>
                        <textarea style="width:500px;height:100px;" name="testcontent" placeholder="輸入問題內容" v-model.trim="tqnewData.testContent"></textarea>
                    </div>

                    <div class="input-status">
                        <h5>上架狀態</h5>
                        <input type="radio" name="status" v-model.trim="tqnewData.testBool" value="0">上架
                        <input type="radio" name="status" v-model.trim="tqnewData.testBool" value="1">下架

                    </div>

                    <div class="input-date">
                        <label><h5>更新日期</h5></label>
                        <input type="text" id="exampleDate" class="datepicker" name="date" v-model.trim="tqnewData.renewDate" placeholder="更新日期" data-value="today" />

                    </div>


                    <div class="input-btn">
                        <button id="btn-submit" @click="insertQuest">Submit</button>
                    </div>

                </div>

            </div>
        </div>
    </div>

    @@include('layout/footer.html')
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script>
        Vue.component("tq_datainsert", {
            props: ["transport-data"],
            data() {
                return {

                    tquestData: []
                };
            },
            template: `<tbody>
                                <tr data-toggle="collapse" class="accordion-toggle buttonGroup" v-for="(value,index) in tquestData" :key="value.textNo">
                                   
                                    <input type="hidden" placeholder="問題編號" v-model.trim="value.textNo"
                                            :class="'buttonGroup' + index" readonly>
                                    <td><span style="width: 50px;display: block;">{{value.textNo}}</span></td>
                                    <td><select v-model.trim="value.textTypeNo" :class="'buttonGroup' + index" disabled>
                                            <option value="1">1-家庭關係</option>
                                            <option value="2">2-人際關係</option>
                                            <option value="3">3-伴侶關係</option>
                                            <option value="4">4-壓力創傷</option>
                                            <option value="5">5-自我探索</option>
                                        </select></td>
                                    <td><input style="width: 250px;" type="text" placeholder="問題內容"
                                            v-model.trim="value.textContent" :class="'buttonGroup' + index" readonly></td>
                                    <td><select v-model.trim="value.textBool" :class="'buttonGroup' + index" disabled>
                                            <option value="0">上架</option>
                                            <option value="1">下架</option>
                                        </select></td>
                                    <input type="hidden" placeholder="更新日期" v-model.trim="value.renewDate"
                                            :class="'buttonGroup' + index" readonly>
                                    <td><span style="width: 100px;display: block;">{{value.renewDate}}</span></td>
                                    <td><button @click="editToggle($event,index)" class="btn btn-default btn-xs">編輯</button>
                                        <button @click="deleteData($event,index)" class="btn btn-default btn-xs">刪除</button>
                                    </td>
                                    
                                </tr>

                               

                        </tbody>`,
            mounted() {
                //一進頁面先使用axios=> get
                this.getTquestData();
            },
            methods: {
                getTquestData() {
                    axios.get('./php/getTextQuest.php')
                        .then((res) => {
                            this.tquestData = res.data;
                            console.log('心理評估問券抓取成功');
                        })
                        .catch((error) => {
                            console.error(error)
                        })
                },

                editToggle(e, index) {
                    let input = document.querySelectorAll(`.buttonGroup${index}`);
                    if (input[0].getAttribute("readonly")) {
                        this.inputToEdit(e, index);
                    } else {
                        let check = confirm(`確認修改問題編號 ${this.tquestData[index].textNo} 的資料嗎?`);
                        if (check) {
                            //使用axios=> update
                            this.updateMemInfo(index);
                            this.inputToForbid(e, index);
                        } else {
                            this.inputToEdit(e, index);
                        }
                    }
                },

                inputToForbid(e, index) {
                    let input = document.querySelectorAll(`.buttonGroup${index}`);
                    for (let j = 0; j < input.length; j++) {
                        e.currentTarget.innerText = "編輯";
                        input[j].setAttribute("readonly", true);
                        input[j].setAttribute("disabled", true);
                    }
                },

                inputToEdit(e, index) {
                    let input = document.querySelectorAll(`.buttonGroup${index}`);
                    for (let j = 0; j < input.length; j++) {
                        input[j].removeAttribute("readonly");
                        input[j].removeAttribute("disabled");
                        e.currentTarget.innerText = "確認修改";
                    }
                },

                deleteData(e, index) {
                    let check = confirm(`確認刪除問題編號 ${this.tquestData[index].textNo} 的資料嗎?`);
                    if (check)
                        this.tquestData.splice(index, 1);
                    //使用axios=> delete
                    // axios.get('修改問券資料的php.php', {
                    //         params: {
                    //             testNo: this.tquestData[index].testNo
                    //         }
                    //     })
                    //     .then((res) => {
                    //         console.log('問券刪除成功')
                    //     })
                    //     .catch((error) => {
                    //         console.error(error)
                    //     })   
                },

                updateMemInfo(index) {
                    axios.get('./php/updateTextQuest.php', {
                        params: {
                            textNo: this.tquestData[index].textNo,
                            textTypeNo: this.tquestData[index].textTypeNo,
                            textContent: this.tquestData[index].textContent,
                            textBool: this.tquestData[index].textBool,
                            renewDate: this.tquestData[index].renewDate,

                        }
                    })

                    //未修改
                    .then((res) => {
                            console.log('res.data')
                            this.getTquestData();
                        })
                        .catch((error) => {
                            console.error(error);
                        })

                },
            },

        });
        new Vue({
            el: "#tQapp",
            data: {

                tqnewData: {
                    textNo: "",
                    textTypeNo: "",
                    textContent: "",
                    textBool: "",
                    renewDate: "",
                },
                transport: {}


            },


            methods: {
                insertQuest() {
                    this.transport = JSON.parse(JSON.stringify(this.tqnewData)); //將新增區域的值送到元件
                    this.tqnewData = {}; //清除新增區域的placeholder
                    //使用axios=> insert
                }
            },
        });
    </script>
</body>

</html>