@import '../csMain/style';

.csSelf {
    display: block;
    border: 1px solid rgb(8, 8, 8);
    max-width: 1200px;

    .csS-info {
        padding: 20px;

        .csS-info__image {
            text-align: center;
            padding: 20px;

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .csS-info__intro {
            border: 1px solid rgb(9, 11, 15);

            div.row {
                height: 100%;

                .intro-left {

                    .intro-left__top {
                        h2 {
                            display: inline-block;
                            width: 100%;
                            padding-left: 50px;
                            margin-top: 50px;
                        }

                        h4 {
                            display: inline-block;
                            width: 100%;
                            padding-left: 50px;
                            margin: 20px 0;
                        }

                        .csS-skills {
                            display: flex;
                            width: 100%;
                            justify-content: center;

                            span {
                                margin: 0 10px;
                                @include p;
                            }
                        }
                    }

                    .intro-left__bottom {
                        margin-top: 30px;
                    }
                }

                .intro-right {
                    background-color: rgba(240, 240, 240, 0.404);

                    .list-wrapper>li {
                        margin: 12px 0 0;

                        p {
                            cursor: pointer;
                            font-weight: 700;
                        }

                        .csS-list>li {
                            display: inline-block;
                            line-height: 1.5em;

                            i {
                                display: inline-block;
                                font-size: 10px;
                                transform: scale(0.8);
                                padding-right: 5px;
                                vertical-align: middle;
                                color: rgb(101, 179, 145);
                            }
                        }
                    }
                }
            }
        }

        .csS-buttons {
            div.row {
                margin: 20px 0px;
                justify-content: flex-end;

                button {
                    max-width: 120px;
                    height: 40px;
                }
            }

        }
    }

    >h2 {
        display: block;
        padding-top: 50px;
        height: 150px;
        line-height: 100px;
    }

    .csS-art {
        flex-flow: nowrap row;
        justify-content: space-between;

        .csS-art__card {
            overflow: hidden;
            flex-basis: 300px;
            flex: 1 0;
            border-radius: 1rem;
            border: 1px solid $color-pink;
            margin: 10px;

            a {
                display: block;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
            }

            .card-Info {
                padding: 10px;

                .card-Info__times>img {
                    width: 14px;
                    height: 14px;
                    vertical-align: middle;
                    margin-right: 5px;
                }
            }

            p {
                line-height: 1.5em;
                padding: 5px 0;
                padding: 10px;
                cursor: pointer;
            }

            .card-tag {
                flex-flow: nowrap row;
                margin: 20px 0;
                justify-content: flex-end;

                a {
                    flex: 1 0 80px;
                    max-width: 120px;
                    text-decoration: none;
                    text-align: center;
                    margin: 0 10px;
                }

            }

            .card-share {
                display: flex;
                width: 100%;
                height: 30px;
                justify-content: flex-end;
                flex-flow: nowrap row;
                align-items: center;

                a {
                    margin: 5px;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

        }
    }

    .csS-act {
        margin: 10px 20px;

        img {
            width: 100%;
            border-radius: 20px;
        }
    }
}

@media (max-width: 1140px) {
    .csSelf .csS-art {
        flex-flow: nowrap column;
        justify-content: space-between;
    }
}


@media (max-width: 768px) {
    .csS-info__intro {
        order: 2;
    }

    .csS-buttons {
        order: 1;
    }
}

@media (max-width: 600px) {
    .csSelf .csS-info .csS-buttons {
        div.row {
            justify-content: center;

            button {
                margin: 10px;
                padding: 0;
                height: 40px;
                flex: 0 0 40%;
            }
        }

    }
}

@media (max-width: 375px) {
    .csSelf>.csS-art>.csS-art__card>.card-tag>a {
        font-size: 14px;
    }
}



#csSelfAct {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	.csSelfAct-card {
		border: 1px solid pink;
		margin: 10px 0;
		min-height: 200px;
		border-radius: 30px;
		overflow: hidden;
		position: relative;
		.card-image {
			padding: 15.15% 0 0;
			position: relative;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				object-fit: cover;
			}
		}
		.card-info {
			padding: 10px 10px 30px;
			position: relative;
			h5 {
				padding: 10px 0;
			}
			p {
				padding: 10px 0;
				line-height: 1.5rem;
			}
			.share-buttons {
				display: flex;
                width: 100%;
                height: 30px;
                justify-content: flex-end;
                flex-flow: nowrap row;
                align-items: center;
				a {
                    margin: 5px;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
			}
		}
		.joinBut {
			position: absolute;
			right: 5%;
            bottom: 2%;
            height: 30px;
            font-size: 18px;
            margin: 5px 0;
		}
	}
}

@media (max-width: 400px) {
	#csSelfAct {
		.csSelfAct-card {
			flex-flow: nowrap column;
			.card-image {
				max-width: 100%;
				padding: 60% 0 0;
				img {
					width: 100%;
					height: 100%;
				}
			}
			.card-info {
				max-width: 100%;
			}
		}
	}
}


#csSelfReco {
	box-sizing: border-box;
	// border: 1px solid red;
	height: 400px;
	display: flex;
	flex-flow: nowrap row;
	justify-content: center;
	max-width: 1200px;
	margin: 0 auto 100px;
	.csSelfReco-card {
		margin: 0 10px;
		border: 1px solid pink;
		border-radius: 20px;
		flex: 0 1 300px;
		.card__image {
			width: 100%;
			max-height: 250px;
			border-radius: 20px 20px 0 0;
			overflow: hidden;
			img {
				width: 100%;
				max-height: 250px;
				object-position: center top;
				object-fit: cover;
			}
		}
		.card__title {
			// border: 1px solid red;
			padding: 15px 10px;
			background: white;
			border-radius: 0 0 20px 20px;
		}
		.card__info {
			// border: 1px solid red;
			padding: 5px 10px;
			background: white;
			border-radius: 20px 20px 20px 20px;

			p {
				line-height: 1.5rem;
			}
		}
	}
}

@media (max-width: 800px) {
	#csSelfReco {
		height: 300px;
		.csSelfReco-card {
			.card__image {
				cursor: pointer;
			}
			.card__info {
				display: none;
				border: 1px solid pink;
			}
		}
	}
}

@media (max-width: 576px) {
	#csSelfReco {
		height: auto;
		flex-flow: nowrap column;
		align-items: center;
		.csSelfReco-card {
			max-width: 300px;
			flex: 0 1 200px;
			margin-top: 15px;
			.card__image {
			}
			.card__info {
				border: none;
			}
		}
	}
}
