@import '../csMain/style';
@import './shareDialog';

.csSelf {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;


    .csS-info {
        // border: 1px solid rgb(9, 11, 15);
        box-shadow: $boxshadow;
        padding: 20px;
        background: rgba(255, 255, 255, 0.801);
        display: flex;
        flex-flow: wrap row;
        align-items: center;

        .csS-info__image {
            flex: 0 0 300px;
            margin: 10px;
            border: 1px solid #ffa492;
            border-radius: 30px;
            overflow: hidden;
            height: 416.74px;

            img {
                width: 100%;
                height: 80%;
                object-position: top;
                object-fit: cover;
            }

            h2 {
                display: block;
                margin: 0 auto;
                text-align: center;
                padding: 10px 0;
            }
        }



        .csS-info__type {
            flex: 1 1 250px;
            height: 416.74px;
            border: 1px solid $color-pink;
            border-radius: 30px;
            padding: 20px;
            margin: 0 10px;

            h3 {
                display: block;
                width: 100%;
                text-align: center;
            }

            .csS-type__tag {
                display: flex;
                justify-content: center;

                span {
                    flex: 0 0 100px;
                    text-align: center;
                    padding: 20px 0;
                }
            }

            .inCs-chart {
                width: 100%;
            }
        }

        .csS-info__hisEdu {
            border: 1px solid $color-pink;
            border-radius: 30px;
            flex: 1 0 300px;
            height: 416.74px;
            margin: 10px;
            padding: 20px;

            ul {
                padding: 0 0 10px;
                overflow-y: auto;
                max-height: 200px;

                li {
                    text-indent: -8px;
                    padding-left: 15px;
                    line-height: 1.5rem;

                    i {
                        display: inline-block;
                        font-size: 10px;
                        transform: scale(.8);
                        padding-right: 5px;
                        vertical-align: middle;
                        color: $color-pink;
                    }

                }
            }
        }

        .csS-buttons {
            flex: 0 0 100%;

            .buttons {
                display: flex;
                justify-content: center;

                button {
                    max-width: 120px;
                    height: 40px;
                }
            }
        }
    }

    h2 {
        margin: 60px auto 10px;
    }
}

>h2 {
    display: block;
    padding-top: 50px;
    height: 150px;
    line-height: 100px;
}

.csS-art {
    flex-flow: nowrap row;
    justify-content: space-between;

    p {
        text-align: center;
        padding: 50px 0px;
    }

    .csS-art__card {
        overflow: hidden;
        flex: 1 1 300px;
        max-width: calc(320px + 5vw);
        border-radius: 1rem;
        margin: 10px;
        background: #fff;
        box-shadow: $boxshadow;
        height: 500px;
        padding: 50px 0px;


        a {
            display: block;
            color: black;
            cursor: pointer;

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
        }

        .card-Info {
            padding: 10px;

            .card-Info__times>img {
                width: 14px;
                height: 14px;
                vertical-align: middle;
                margin-right: 5px;
                display: inline-block;
            }
        }

        p {
            line-height: 1.5em;
            padding: 5px 0;
            padding: 10px;
            cursor: pointer;
            height: 50px;

            &.small {
                text-align: left;
                height: 100px;
            }
        }

        .card-tag {
            flex-flow: nowrap row;
            margin: 20px 0;
            justify-content: flex-end;

            a {
                flex: 1 0 80px;
                max-width: 120px;
                text-decoration: none;
                text-align: center;
                margin: 0 10px;
                font-size: 18px;
                color: white;
            }

        }

        .card-share {
            display: flex;
            width: 100%;
            height: 30px;
            justify-content: flex-end;
            flex-flow: nowrap row;
            align-items: center;
            padding: 0 10px 10px 0;

            a {
                margin: 5px;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

    }
}

.csS-act {
    margin: 10px 20px;

    img {
        width: 100%;
        border-radius: 20px;
    }
}


@media (max-width: 1024px) {
    .csSelf {
        .csS-art {
            flex-flow: nowrap column;
            justify-content: space-between;
        }
    }
}

@media (max-width: 850px) {
    .csSelf {
        .csS-info {
            // flex-flow: nowrap column;

            .csS-info__type {
                padding: 20px 5px;
            }

            .csS-buttons {
                .buttons {
                    flex-flow: nowrap row;
                }

            }
        }
    }
}


@media (max-width: 760px) {

    .csSelf {
        .csS-info {
            padding: 0px;
            margin: 0 10px;
            flex-flow: nowrap column;

            .csS-info__image {
                margin: 0 auto;
                order: 1;
            }

            .csS-info__type,
            .csS-info__hisEdu {
                margin: 10px auto;
                order: 3;
                width: 100%;
            }

            .csS-info__hisEdu {
                flex: 1 1 250px;
            }


            .csS-buttons {
                order: 2;

                .buttons {
                    flex-flow: wrap row;
                }

            }
        }

    }
}

@media (max-width: 576px) {
    .csSelf {
        .csS-art .csS-art__card {
            margin: 10px auto;
        }
    }
}

@media (max-width: 375px) {
    .csSelf {
        .csS-info {
            .csS-info__image {
                flex: 0 1 auto;
            }
        }

        .csS-art>.csS-art__card {

            .card-tag>a {
                font-size: 14px;
            }
        }
    }

}



#csSelfAct {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;

    p {
        text-align: center;
        font-size: 1.5rem;
    }

    .csSelfAct-card {
        background: #fff;
        margin: 10px 0;
        min-height: 200px;
        border-radius: 30px;
        overflow: hidden;
        position: relative;
        display: flex;



        .card-image {
            padding: 15.15% 0 0;
            position: relative;
            cursor: pointer;

            img {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                object-fit: cover;
            }
        }

        .card-info {
            padding: 10px 10px 30px;
            position: relative;

            a {
                color: black;
                cursor: pointer;

                h5 {
                    padding: 10px 0;
                }

            }

            p {
                margin: 10px 0;
                padding: 10px 0;
                line-height: 1.5rem;
            }

            .share-buttons {
                display: flex;
                width: 100%;
                height: 30px;
                justify-content: flex-end;
                flex-flow: nowrap row;
                align-items: center;

                a {
                    margin: 5px;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        .joinBut {
            position: absolute;
            right: 1%;
            bottom: 2%;
            height: 30px;
            font-size: 18px;
            margin: 10px 0;
            @include btn-more($bw, $color-pink, $fontsize);

            a {
                color: $color-pink;
                cursor: pointer;

            }

            &:hover a {
                color: white;
            }
        }
    }
}

@media (max-width: 500px) {
    #csSelfAct {
        .slick-list {
            margin: 0 -10px;

            .slick-slide {
                margin: 10px;
            }

            p {
                display: block;
                text-align: center;
                padding: 50px 0px;
            }
        }

    }

}

@media (max-width: 400px) {
    #csSelfAct {
        .csSelfAct-card {
            flex-flow: nowrap column;

            .card-image {
                max-width: 100%;
                padding: 60% 0 0;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .card-info {
                max-width: 100%;
            }
        }
    }
}


#csSelfReco {
    box-sizing: border-box;
    height: 500px;
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto 100px;

    .owl-stage {
        padding: 50px 0px;
    }

    .csSelfReco-card {
        margin: 0 10px;
        padding-bottom: 10px;
        background: #fff;
        box-shadow: $boxshadow;
        border-radius: 20px;
        flex: 0 1 300px;
        overflow: hidden;

        .card__image {
            width: 100%;
            max-height: 250px;
            border-radius: 20px 20px 0 0;
            overflow: hidden;
            cursor: pointer;

            img {
                width: 100%;
                max-height: 250px;
                object-position: center top;
                object-fit: cover;
            }
        }

        .card__title {
            padding: 15px 10px;
            background: white;
            border-radius: 0 0 20px 20px;
            cursor: pointer;

            h5 {
                a {
                    color: rgb(0, 0, 0);
                }
            }
        }

        .card__info {
            padding: 5px 10px;
            background: white;
            border-radius: 20px 20px 20px 20px;
            height: 120px;
            overflow-y: auto;

            p {
                line-height: 1.5rem;
            }
        }
    }
}

@media (max-width: 800px) {
    #csSelfReco {
        height: 300px;

        .csSelfReco-card {
            .card__image {
                cursor: pointer;
            }

            .card__info {
                display: none;
                border: 1px solid pink;
            }
        }
    }
}

@media (max-width: 576px) {
    #csSelfReco {
        height: auto;
        align-items: center;

        .csSelfReco-card {
            max-width: 300px;
            flex: 0 1 200px;
            margin: 0 auto;
            margin-top: 15px;

            .card__info {
                border: none;
            }
        }
    }
}