.me-board--style {
    margin: 15px 0 70px 0;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(75, 83, 94, 0.58);
}

.me-selectNav {
    // border: darkgoldenrod solid 3px;
    background-color: white;
    z-index: 87;
    text-align: center;
}

.me-content {
    // border: darkcyan solid 3px;
    margin-bottom: 70px;
}

@media only screen and (max-width: 768px) {
    .me-selectNav {
        position: fixed;
        left: 0;
        bottom: 0;
        box-shadow: 0 0 15px rgba(75, 83, 94, 0.58);
    }
}

.me-select_item {
    margin: 10px 0;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover {
        border-radius: 30px;
        box-shadow: 0 0 3px rgba(75, 83, 94, 0.28);
    }
    // border: yellow solid 1px;
}

.homeIcon {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

@media only screen and (max-width: 768px) {
    #homeNone {
        display: none;
    }
    .homeIcon {
        display: block;
    }
    .me-select_item {
        padding: 0;
        margin: 0;
    }
}

.me-select_item--unselected {
    padding: 10px 0;
}

.me-select_item--selected {
    padding: 10px 0;
    border-radius: 30px;
    background-color: $color-pink;
    color: white;
}

.memIcon-block {
    .memIcon {
        // border: #FFA492 solid 1px;
        width: 35px;
        max-width: 35px;
        padding-right: 15px;
        padding-left: 0;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
}

.row-10 {
    border: #91D0EB solid 1px;
}

.memPhoto--bgc {
    margin: 0 auto;
    width: 100%;
    max-width: 150px;
    min-width: 120px;
    border-radius: 50%;
    border: $color-blue;
    padding: 5px;
    background: -webkit-linear-gradient(to right, #FFA492, #91D0EB);
    background: linear-gradient(to right, #FFA492, #91D0EB);
    & :hover img {
        transform: scale(1.05);
    }
    .memPhoto {
        width: 100%;
        border-radius: 50%;
        border: $color-blue;
        overflow: hidden;
        cursor: pointer;
        img {
            width: 100%;
            transition: all 2.2 ease-in-out;
        }
    }
}

.mem-driver {
    padding: 1px;
    border: none;
    border-width: 0;
    // border-top: crimson solid 1px;
    height: 1px;
    background: -webkit-linear-gradient(to right, #FFA492, #91D0EB);
    background: linear-gradient(to right, #FFA492, #91D0EB);
}

.mem-coOrder-total {
    text-align: center;
}

.mem-coOrder,
.mem-acOrder {
    text-align: center;
}

.mem-radarChart-container {
    // border: #91D0EB solid 1px;
    width: 100%;
    max-width: 400px;
    height: 400px;
    margin: 0 auto;
}

.mem-barChart-container {
    // border: #91D0EB solid 1px;
    width: 100%;
    max-width: 600px;
    height: 300px;
    margin: 0 auto;
}

.memI {
    font-size: 16px;
    color: #ccc;
    cursor: pointer;
}

.memI-padding {
    padding-left: 0;
    padding-right: 0;
}

.mem-modify-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.mem-order-subtitle {
    padding-left: 25px;
}

.mem-order-each {
    box-shadow: 0 0 5px rgba(75, 83, 94, 0.28);
    margin: 10px;
    border-radius: 5px;
    >div {
        .mem-order-left {
            border-right: #ccc solid 1px;
            .mem-order-dcName {
                text-align: center;
                margin-bottom: 5px;
                // border: #FFA492 solid 1px;
            }
            .mem-order-img {
                margin: 0 auto;
                border-radius: 3px;
                max-height: 180px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .mem-order-table {
        margin: 10px 0;
        width: 100%;
        // border: #FFA492 solid 1px;
        tr {
            width: 100%;
            // border: tomato solid 1px;
            th {
                display: none;
            }
            td {
                width: 100%;
                text-align: center;
                &:before {
                    width: 100%;
                    text-align: center;
                    background-color: rgb(227, 227, 227);
                    content: attr(data-title);
                    display: block;
                }
            }
        }
    }
}

.mem-order-table {
    margin-bottom: 20px;
    // border: #FFA492 solid 1px;
    tr {
        height: 35px;
        vertical-align: middle;
        line-height: 35px;
        // border: tomato solid 1px;
        th {
            text-align: left;
            padding-right: 15px;
            // border-right: #ccc solid 1px;
            // background-color: #f2edeb;
            border-radius: 3px;
        }
        td {
            text-align: right;
        }
    }
}

.mem-coOrder-total {
    // margin-top: 20px;
}

.order-justDele {
    padding-left: 0;
    padding-right: 0;
    text-align: right;
    color: #ccc;
    cursor: pointer;
}

.mem-modify-table {
    width: 100%;
    margin: 0 15px;
    //border: solid 5px darkblue;
    tr {
        width: 100%;
        th {
            width: 90px;
            padding: 10px 0;
            //background-color: darkgrey;
            text-align: left;
        }
        td {
            //width: 40%;
        }
    }
}

@media only screen and (max-width: 576px) {
    .mem-modify-table {
        width: 100%;
        margin: 0 15px;
        //border: solid 5px darkblue;
        tr {
            width: 100%;
            th {
                width: 90px;
                padding: 10px 0;
                //background-color: darkgrey;
                text-align: left;
            }
            td {
                //width: 40%;
            }
        }
    }
}

.mem-show-title {
    display: inline-block;
    width: 30%;
    // border: darkmagenta solid 1px;
}

.mem-modify-paddingLess {
    padding: 8px 0;
}

.modifyForm {
    border: darkgrey solid 1px;
    border-radius: 3px;
    padding: 0 3px;
    width: 65%;
    height: 90%;
    display: inline-block;
}

.modifyCountryCode {
    width: 20%;
}

.modifyMobile {
    width: 45%;
}

.mem-modify-radio {
    >label {
        .radio {
            display: inline-block;
            position: relative;
            padding-left: 35px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            &:hover input~.checkmark {
                background-color: #ccc;
            }
            input {
                // border: blue solid 5px;
                position: absolute;
                opacity: 0;
                cursor: pointer;
                &:checked~.checkmark {
                    background-color: $color-blue;
                    &::after {
                        display: block;
                    }
                }
            }
            .checkmark {
                position: absolute;
                left: 5px;
                height: 20px;
                width: 20px;
                background-color: #eee;
                border-radius: 50%;
                &::after {
                    content: "";
                    position: absolute;
                    display: none;
                    top: 6px;
                    left: 6px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: white;
                }
            }
        }
    }
}

.buttonFlex {
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    .fuckingButton {
        padding: 0;
        //border: darkgreen solid 1px;
        button {
            margin: 0;
            //border: darkmagenta solid 1px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .buttonFlex {
        .fuckingButton {
            button {
                padding: 5px 15px;
                font-size: 18px;
                margin: 0;
                // border: darkmagenta solid 5px;
            }
        }
    }
}