.qr_block {
    #qrCode {
        width: 300px;
        height: auto;
        margin: 0 auto;
        img {
            margin: 0 auto;
        }
    }
}

.ao-order_text--color {
    color: $color-blue;
}

.qr_block_save-font {
    font-size: 18px;
    >div {
        >a{
            >i{
                color: $color-blue;
        }
        }
    }
}

.qr_block_show-font {
    font-size: 24px;
}