$skewDeg: 18deg;
$magicVH: 32.4vh;
$scrollTime: 1s;
// .inArti {
//     @include title;
//     margin: 30px;
//     position: relative;
//     left: 50%;
//     transform: translateX(-50%);
//     opacity: 0;
// }
.inArti {
    height: 100vh;
    .inArti-pages {
        // top: calc(10vh + 40px);
        height: 80vh;
        overflow: hidden;
        position: relative;
        // margin-top: 50px;
    }
}

.inArti-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    &__half {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100vh;
        transition: transform $scrollTime;
        &--left {
            left: 0;
            transform: translate3d(-$magicVH, 100%, 0);
        }
        &--right {
            left: 50%;
            transform: translate3d($magicVH, -100%, 0);
        }
        .inArti-page.active & {
            transform: translate3d(0, 0, 0);
        }
    }
    &__skewed {
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 140%;
        height: 100%;
        transform: skewX($skewDeg * -1);
        .inArti-page__half--left & {
            left: -40%;
        }
        .inArti-page__half--right & {
            right: -40%;
        }
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 85%;
        //   padding: 0 30%;
        color: #fff;
        transform: skewX($skewDeg);
        transition: transform $scrollTime, opacity $scrollTime;
        background-size: cover;
        .inArti-page__half--left & {
            transform-origin: 100% 0;
        }
        .inArti-page__half--right & {
            transform-origin: 0 100%;
        }
        .inArti-page.inactive & {
            opacity: 0.5;
            transform: skewX($skewDeg) scale(0.95);
        }
    }
    &__heading {
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 25px;
        text-align: center;
    }
    &__description {
        font-size: 18px;
        text-align: center;
        width: 50%;
    }
    &__link {
        color: #FFA0A0;
    }
    &-1 {
        .inArti-page__half--left .inArti-page__content {
            padding: 0 30%;
            img {
                position: relative;
                top: 0;
                left: -30%;
                width: 100%;
                height: 100%;
            }
        }
        .inArti-page__half--right .inArti-page__content {
            background: lighten($color-blue, 5%);
        }
    }
    &-2 {
        .inArti-page__half--left .inArti-page__content {
            background: lighten($color-pink, 5%);
        }
        .inArti-page__half--right .inArti-page__content {
            padding: 0 30%;
            img {
                position: relative;
                top: 0;
                left: -30%;
                width: 100%;
                height: 100%;
            }
        }
    }
    &-3 {
        .inArti-page__half--left .inArti-page__content {
            padding: 0 30%;
            img {
                position: relative;
                top: 0;
                left: -30%;
                width: 100%;
                height: 100%;
            }
        }
        .inArti-page__half--right .inArti-page__content {
            background: lighten($color-blue, 5%);
        }
    }
}