$space:300px;
// 問珮菁
@mixin center_re {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@mixin bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin icon {
    @include bg;
    width: 20px; //?
    height: 20px; //?
    display: inline-block;
}

@mixin title {
    display: inline-block;
    @include h1;
    align-self: center;
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 5%;
        border-radius: $border-radius;
        background-color: #FFA492;
        position: absolute;
        bottom: -5px;
        left: 0;
        // 問珮菁
    }
}

.inAct {
    padding-top: 100px;
    .inAct_move {}
    .inAct_body {
        max-width: 100%;
        height: 200vh;
        .inAct-sticky_block {
            position: sticky;
            top: 0;
            overflow: hidden;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            h1 {
                @include title;
            }
            .inAct_block {
                padding-left: 20%;
                width: 3000px; //?
                display: flex;
                align-items: center;
                justify-content: space-around;
                >div.acSelect.container-sm.container-md.bgUnset {
                    background-color: unset;
                }
                .inAct_item {
                    background: #fff;
                    display: inline-block;
                    width: 350px;
                    height: 400px;
                    border-radius: $border-radius;
                    box-shadow: $boxshadow;
                    overflow: hidden;
                    a {
                        display: inline-block;
                        width: 100%;
                        img {
                            width: 100%;
                        }
                    }
                    .inAct_text {
                        margin-top: 10px;
                        .inAct-top_text {
                            display: flex;
                            justify-content: space-between;
                            .inAct-left_date {
                                display: flex;
                                align-items: center;
                                .inAct-date_icon {
                                    margin-left: 10px;
                                    background-image: url("../img/icon/clock.png");
                                    @include bg;
                                    @include icon opacity: 0.5;
                                }
                                .inAct-date_text {
                                    @include p;
                                    margin-left: 5px;
                                }
                            }
                            .inAct-icon_block {
                                display: flex;
                                align-items: center;
                                margin-right: 8px;
                                .inAct-icon_1 {
                                    background-image: url("../img/icon/share.png");
                                    @include bg;
                                    @include icon;
                                    margin-right: 5px; //
                                }
                                .inAct-icon_2 {
                                    background-image: url("../img/icon/bookmark.png");
                                    @include icon
                                }
                            }
                        }
                        .inAct_title {
                            margin: 0 10px;
                            a {
                                text-decoration: none;
                                @include h6; //?
                                color: black;
                                margin-top: 5px;
                                margin-bottom: 5px;
                            }
                        }
                        .inAct_location {
                            display: flex;
                            margin: 0 10px;
                            .inAct-location_icon {
                                align-self: center;
                                background-image: url("../img/icon/place.png");
                                @include icon;
                            }
                            .inAct-location_text {
                                @include p;
                                opacity: 0.7; //?
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width :768px) {
    @keyframes Act_move {}
    .inAct {
        .inAct_body {
            height: 100vh;
            .inAct-sticky_block {
                position: static;
                overflow: unset;
                .inAct_block {
                    padding-left: 0;
                    width: 100%;
                    position: relative;
                    height: 500px;
                    >div {
                        opacity: 1;
                        transform-style: preserve-3d;
                        transition: all 0.2s linear;
                        background-color: #fff;
                        position: absolute;
                    }
                }
            }
        }
    }
}