div.inCs_group {
    position: relative;
    height: 700px;
    margin: 0 0 100px;

    .inSc-h1 {
        @include title;
        display: block;
        margin: 0 auto;
        max-width: 208px;

        @media screen and(max-width:768px) {
            max-width: 156px;
        }
    }

    div.inCs.inCs--large {
        width: 100%;
        max-width: 1200px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1rem;

        ul.leftList {
            height: 500px;
            width: 45%;
            max-width: 400px;
            min-width: 160px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-100%, -50%);
            overflow: hidden;
            border-radius: 1rem 0 0 1rem;
            box-shadow: -12px 0px 10px 3px rgba(117, 117, 117, 0.2);

            li {
                padding: 20px 20px 0 30px;
                width: 100%;
                height: 100%;
                position: absolute;
                left: -5%;
                top: 0%;
                background: white;

                img {
                    display: block;
                    height: 70%;
                    object-fit: cover;
                    margin: 0 auto;
                    cursor: pointer;
                }

                &.move {
                    animation: leftToCenter 1s ease-in-out both;
                    z-index: 50;
                }

                h5 {
                    width: 100%;
                    @include h5;
                    padding: 0 10px;

                    &:after {
                        content: "";
                        display: block;
                        width: 90%;
                        height: 2px;
                        background: $color-blue;
                    }
                }

                p {
                    @include p;
                    line-height: 1.5rem;
                    padding: 10px 10px 20px;
                }

                .inConselor__chart {
                    display: block;
                    margin: 0 auto;
                    width: 70%;
                }

                h1 {
                    padding: 0 10px;
                    @include h1;
                    display: block;
                    text-align: center;

                    a {
                        color: black;
                    }
                }

                button {
                    position: absolute;
                    bottom: 5%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    margin: 10px;
                    @include btn-modules($bw, $color-pink, $fontsize);

                    a {
                        color: #fff;
                    }
                }
            }
        }

        ul.rightList {
            height: 500px;
            width: 45%;
            max-width: 400px;
            min-width: 160px;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(100%, -50%);
            overflow: hidden;
            border-radius: 0 1rem 1rem 0;
            box-shadow: 12px 0px 10px 3px rgba(117, 117, 117, 0.2);

            li {
                padding: 20px 30px 0 20px;
                width: 100%;
                height: 100%;
                position: absolute;
                right: -5%;
                top: 0%;
                background: white;

                img {
                    display: block;
                    height: 70%;
                    object-fit: cover;
                    margin: 0 auto;
                }

                &.move {
                    animation: rightToCenter 1s ease-in-out both;
                    z-index: 50;
                }

                h5 {
                    width: 100%;
                    @include h5;
                    padding: 0 20px;

                    &:after {
                        content: "";
                        display: block;
                        width: 90%;
                        height: 2px;
                        background: $color-blue;
                    }
                }

                p {
                    @include p;
                    line-height: 1.5rem;
                    padding: 10px 20px 20px;
                }

                .inConselor__chart {
                    display: block;
                    margin: 0 auto;
                    width: 70%;
                }

                h1 {
                    padding: 0 10px;
                    @include h1;
                    display: block;
                    text-align: center;

                    a {
                        color: black;
                    }
                }

                button {
                    position: absolute;
                    bottom: 5%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    margin: 10px;
                    @include btn-modules($bw, $color-pink, $fontsize);

                    a {
                        color: #fff;
                    }
                }
            }
        }

        ul.slide-button {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-flow: nowrap row;
            position: absolute;
            bottom: -280px;
            left: 50%;
            transform: translate(-50%, -50%);
            list-style: none;

            li.point {
                width: 10px;
                height: 10px;
                border: 1px solid black;
                margin: 0 10px;
                border-radius: 50%;
                background: white;
                cursor: pointer;

                &.activeNow {
                    background: $color-pink;
                }
            }
        }
    }
}

@keyframes leftToCenter {
    from {
        left: -100%;
    }

    to {
        left: -5%;
    }
}

@keyframes rightToCenter {
    from {
        right: -100%;
    }

    to {
        right: -5%;
    }
}

div.inCs.swiper-container {
    padding: 10px;
    max-height: 600px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    margin: 50px auto;

    .inCs-under576 {
        display: flex;
        height: 100%;
        flex-flow: nowrap row;

        li.inCs-slide__item {
            background: white;
            border-radius: 30px;
            overflow: hidden;

            img {
                display: block;
                margin: 0 10px;
                width: calc(100% - 20px);
                height: 50%;
                object-fit: cover;
                cursor: pointer;
            }

            h3 {
                @include h3;
                cursor: pointer;
                text-align: center;
                margin-top: 15px;
            }

            .inConselor__chart {
                height: 200px;
                width: 200px;
                margin: 0 auto;

                #chart {
                    bottom: 30px;
                }
            }

            button {
                @include btn-more($bw, $color-pink, $fontsize);
                display: block;
                margin: 5px auto;
            }
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    color: pink;
    outline: none;
}