.inCard{
    margin-top: 300px;
    width: 100%;
    height: 100vh;
    
    .inCard_block{
        max-width: 1200px;
        margin: auto;
        
        h1{
            @include title;
            margin-bottom: 20px;
        }
        div{
            
        }
        .inCard_text{
            @include h2;   
            text-align: center;         
        }
        .inCard_body.inCard_ani{
            >div{
                transform-origin: top center -1000px;
                transform: translateY(-50%) perspective(10000px) scale(1) rotateX(360deg);

            }
        }
        .inCard_body{
            width: 100%;
            display: flex;
            height: 70vh;
            position: relative;
            >div{
                transition: all 1s linear;
                position: absolute;
                transform: translateY(-50%) perspective(600px) scale(0) ;
                width: 250px;
                height: 400px;
                top: 50%;
                // transform-origin: top center -1000px;
                >a{
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    @include bg;
                    background-size: cover;
                    box-shadow: 2px 5px 15px 3px rgb(49, 49, 49);
                    
                }

            }
            @for $i from 1 through 5 {
                >div:nth-child(#{$i}){
                    a{
                        background-image: url("../img/index/InCard/card_#{$i}.jpg");
                    }
                }
            }
            >div:nth-child(1){
                z-index: 1;   
                left: 10%;
                >a{
                
                transform: rotate(8deg);   
                }
                
            }
            >div:nth-child(2){
                z-index: 2;   
                left: 25%;
                >a{
                transform: rotate(4deg); 

                }
                
            }
            >div:nth-child(3){
                z-index: 3;   
                left: 40%;
                >a{
                transform: rotate(0deg) translateY(-5%);
                }
                
            }
            >div:nth-child(4){
                z-index: 2;   
                right: 20%;
                >a{

                    transform: rotate(-4deg);   
                }
                
            }
            >div:nth-child(5){
                z-index: 1;   
                right: 10%;
                >a{

                    transform: rotate(-8deg);   
                }
                
            }
        }
        .inCard_btn{
            @include btn-modules($bw, $color-pink, $fontsize);
            width: $bw;
            display: block;
            border-radius: $border-radius;
            background-clip:padding-box,border-box;
            background-origin:padding-box,border-box;
            background-image:linear-gradient(135deg,#fff,#fff),linear-gradient(135deg,$color-blue,$color-pink);
            border:2px transparent solid;
            text-decoration: none;
            color: black;
            margin: auto;
        }
    }
}
@media all and (max-width:1024px){
    @keyframes drop {
        0% {
            transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            // opacity: 0;
        }
        50% {
            transform: rotateX(0deg) rotateY(0deg) rotateZ(2deg);
            // opacity: 0.75;
        }
        100% {
            transform: scale(0.97, 0.97) rotateX(0deg) rotateY(0deg) rotateZ(4deg);
            // opacity: 1;
        }
    }
    @keyframes drop2 {
        0% {
            transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%,-50%);
        }
        
        50% {
            transform: rotateX(0deg) rotateY(50deg) rotateZ(0deg) translate(-50%,-50%);
        }
        100% {
            transform: scale(0.98, 0.98) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%,-50%);
        }
    }
    @keyframes drop3 {
        0% {
            transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        }
        50% {
            transform: rotateX(0deg) rotateY(50deg) rotateZ(-2deg);
        }
        100% {
            transform: scale(0.98, 0.98) rotateX(0deg) rotateY(0deg) rotateZ(-4deg);
        }
    }
    .inCard{
        overflow: hidden;
        .inCard_block{
            .inCard_body{
                >div.inCard_item{
                    width: 500px*0.6;
                    height: 750px*0.6;
                    >a{
                        transform: rotate(0);
                    }
                }
                >div:nth-child(1){
                    display: none;
                }
                >div:nth-child(5){
                    display: none;
                }
                >div:nth-child(2){
                    top: 0;
                    left: 0;
                    

                }

                >div:nth-child(3){
                    transform: translate(-50%,-50%) scale(0);
                    
                    left:50%
                }
                >div:nth-child(4){
                    top: unset;
                    bottom: 0;
                    transform: translate(0%,0%) scale(0);
                    left: unset;
                    right: 0;
                    

                }
            }
            .inCard_body.rwd_ani{
                >div{
                    animation-fill-mode: forwards;
                    animation-duration: 1s;
                }
                >div:nth-child(2){
                    transform: translate(0%,0%) scale(0);
                    animation-name: drop;

                }
                >div:nth-child(3){
                    animation-name: drop2;
                    animation-delay: 0.5s;
                }
                >div:nth-child(4){
                    animation-name: drop3;
                    animation-delay: 1.5s;
                }
            }
        }
    }

};
@media all and (max-width:768px){
    .inCard{
        .inCard_block{
            .inCard_body{
                >div.inCard_item{
                    width: 500px*0.5;
                    height: 750px*0.5;
                }
            }
        }
    }
}
@media all and (max-width:576px){
    .inCard{
        .inCard_block{
            .inCard_body{
                >div.inCard_item{
                    width: 500px*0.3;
                    height: 750px*0.3;
                }
            }
        }
    }
}