.index-search-bar {
    min-width: 190px;
    height: 80px;
    border-radius: 40px;
    //border: 5px solid pink;
    background: #fff;
    box-shadow: 5px 5px 10px 2px rgba(204, 204, 204, 0.849);
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    .select-block {
        display: inline-block;
        height: 80px;
        min-width: 115px;
        position: relative;
        margin: 0 5px;
        border-radius: 40px;
        &:first-child {
            margin-left: 50px;
        }
        &:last-child {
            margin-right: 50px;
        }
        &:active {
            box-shadow: 0 0 15px 5px $color-pink;
            background-color: $color-pink;
        }
        span {
            width: 105px;
            height: 40px;
            line-height: 40px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -70%);
            cursor: pointer;
            &::after {
                display: inline-block;
                content: url(https://image.flaticon.com/icons/svg/566/566015.svg);
                width: 15px;
                transform: scale(1, 0.7) translateY(10%);
                margin-left: 10px;
            }
        }
        p {
            width: 130px;
            position: absolute;
            left: 50%;
            top: 80%;
            transform: translate(-50%, -70%);
            font-size: 12px;
            color: $color-pink;
        }
        ul {
            position: absolute;
            background: #fff;
            margin-top: 10px;
            padding: 10px 20px;
            border-radius: 20px;
            top: 95%;
            left: 10%;
            transform: translate(-15%, 0);
            width: 120px;
            font-size: 18px;
            display: flex;
            flex-flow: nowrap row;
            justify-content: flex-start;
            box-shadow: 5px 5px 10px 5px #ccc;
            overflow-y: auto;
            width: 100%;
            overflow-x: hidden;
        }
            &:not(:first-child) {
                display: none;
            }
            li {
                height: 40px;
                text-align: left;
                line-height: 40px;
                margin: 10px 0;
                z-index: 100;
                input {
                    display: none;
                    &:checked+label {
                        background: $color-pink;
                    }
                }
                label {
                    border: 1px solid $color-pink;
                    display: inline-block;
                    min-width: 120px;
                    cursor: pointer;
                    text-align: center;
                    background: white;
                    border-radius: 10px;
                }
            }
        }
    }
    button {
        display: inline-block;
        cursor: pointer;
        text-align: center;
        outline: none;
        @include btn-modules($bw, $color-pink, $fontsize - 2px);
        margin-right: 20px;
        padding: 3px 15px;
        position: relative;
        bottom: 30px;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

@media (max-width: 1200px) {
    .index-search-bar {
        display: flex;
        height: inherit;
        flex-flow: nowrap row;
        min-width: 200px;
        justify-content: center;
        .select-block {
            height: 80px;
            p {
                top: 80%;
            }
            ul {
                position: static;
                transform: translate(0%, 80px);
            }
        }
        button {
            position: static;
        }
    }
}

@media (max-width: 600px) {
    .index-search-bar {
        display: block;
        width: 70%;
        max-width: 200px;
        margin: 0 auto;
        padding: 5px 0;
        text-align: center;
        transform: translate(-50%, 0);
        z-index: 500;
        button {
            margin: 0 0 10px 0;
        }
        .select-block {
            display: block;
            margin: 0 auto;
            width: 120px;
            min-height: 80px;
            height: initial;
            &:first-child {
                margin-left: auto;
            }
            &:last-child {
                margin-right: auto;
            }
            &:active {
                box-shadow: none;
                background-color: white;
            }
            span {
                display: inline-block;
                width: 120px;
                position: static;
                transform: none;
                border-radius: 20px;
                padding: 5px 0;
                &:active {
                    box-shadow: 0 0 15px 5px $color-pink;
                    background-color: $color-pink;
                }
            }
            p {
                position: static;
                transform: none;
                padding: 0 0 5px;
            }
            ul {
                background: none;
                box-shadow: none;
                transform: none;
                margin: 0 auto;
                padding: 0;
                display: block;
                width: 100%;
                li {
                    display: inline-block;
                    width: 100%;
                    margin: 5px auto;
                }
            }
        }
    }
}